﻿body
{
font-size: 75%;
color: #222;
background:url(../img/layout/top-bg-banner.png) top no-repeat fixed;
font-family: Arial,Verdana,sans-serif;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
{
margin: 0;
}
p
{
margin: 0 0 1.5em;
}

a:focus, a:hover
{
text-decoration: underline;
}
a
{
color: #048;
text-decoration: none;
}

b
{
/*font-size: 110%;*/
}
strong
{
font-weight: bold;
}
.small
{
font-size: .9em;
}
.smaller
{
font-size: .8em;
}
.sml-7
{
font-size:7pt;
}
.sml-8
{
font-size:8pt;
}
.sml-9
{
font-size:9pt;
}
.large
{
font-size: 1.2em;
}
.larger
{
font-size: 1.3em;
}
.clearfix:after, .container:after
{
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix, .container
{
display: inline-block;
}
* html .clearfix, * html .container
{
height: 1%;
}
.clearfix, .container
{
display: block;
}
.clear
{
clear: both;
}
.show
{
display: inline;
}
.hide
{
display: none;
}


blockquote,ul,ol,dl {
margin: 1em;
}
ol,ul,dl {
margin-left: 2em;
}
ul
{
list-style-type:disc;
}
ol
{
list-style-type:decimal;
margin-left:3em;
}
/*
ol li {
list-style: decimal outside;
}
ul li {
list-style: disc outside;
}
*/



#maincontainer
{
width: 974px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}
#topsection
{
margin-bottom: 10px;
}
#contentwrapper
{
float: left;
width: 100%;
}

#footer, .footer
{
clear: left;
width: 100%;
border-top: solid 1px #ccc;
background-color: #eee;
color: #777;
text-align: center;
padding: 20px 0;
margin-top: 20px;
}
#footer ul, .footer ul
{
text-align: center;
margin-bottom: 10px;
}
#footer ul li, .footer ul li
{
display: inline;
list-style-type: none;
margin: 0;
padding: 0 10px;
}
#footer a, .footer a
{
white-space:nowrap;
color: #777;
}
#footer table, .footer table{
margin:10px 20px;
}
#footer table td, .footer table td{
text-align:left;
}
.box-19 .divMenuItem
{
padding:2px 10px;
background-color:#fff;
border:1px solid #fff;
-moz-border-radius:3px;
-webkit-border-radius:3px; 
border-radius:3px;
}
div.divMenuItem:hover
{
background-color:#4AA1CE;
border:1px solid #B5DEF2;
-moz-border-radius:3px;
-webkit-border-radius:3px; 
border-radius:3px;
color:#fff;
}
div.divMenuItem:hover a
{
color:#fff;
}

