#topsection .logo
{
float:left;
margin:10px 0 10px 0;
}
#topsection .banner
{
float:left;
margin:5px 0 10px 30px;
}
#topsection .rightpanel
{
float:right;
text-align:right;
margin-top:5px;
}
#topsection .breadcrumb
{
margin-top:5px;
margin-left:14px;
height:14px;
overflow:hidden;
}
div.divTitleHeader
{
height:14px;
overflow:hidden;
}
div.divTitleHeader h1
{
font-weight:normal;
font-size:8pt;
color:#aaa;
}
/* process - start */
div#process
{
margin:0 0 20px 210px;
width:550px;
float:left;
}
table.process
{
border:0px;
}
table.process tr.labels td
{
padding:3px 0px;
text-align:center;
font-weight:bold;
font-size:12px;
color:#859199;
}
table.process tr.labels td.completed, table.process tr.labels td.completed a, table.process tr.labels td.completed a:visited
{
/*color:#859199;*/
color:Black;
}
td.disposed
{
color:#859199;
}
table.process tr.labels td.active
{
color:#CC0000;
}
table.process tr.labels td.active a.active
{
color:#CC0000;
}
table.process tr.graph
{
height:22px;
}
table.process tr.graph td.first
{
border-left:1px solid #000000;
}
table.process tr.graph td.last
{
border-right:1px solid #CCCCCC;
}
table.process tr.graph td.completed
{
background-image:url(/images/booking_process_completed.gif);
background-position:right center;
background-repeat:repeat-x;
}
table.process tr.graph td.todo
{
background-image:url(/images/booking_process_todo.gif);
background-position:left center;
background-repeat:repeat-x;
}
table.process tr.graph td.active
{
background-image:url(/images/booking_process_active.gif);
background-position:center center;
background-repeat:no-repeat;
}
/* process - end */


/* search box - start */


/* search box - end */


/* ddcolortabs - start */

div.ddcolortabs{
margin-left:4px;
padding:0;
width:100%;
background:transparent;
voice-family:"\"}\"";
voice-family:inherit;
padding-left:5px;
}

div.ddcolortabs ul{
font-weight:bold;
margin:0;
padding:0;
list-style:none;
}

div.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
}

div.ddcolortabs li.title{
float:left;
color:#000;
margin:4px 20px 0 5px;
padding:0;
font-weight:normal;
}

div.ddcolortabs a{
float:left;
color:white;
background:#46A3CA url(/img/box/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing:1px;
}

div.ddcolortabs a span{
float:left;
display:block;
background:transparent url(/img/box/color_tabs_right.gif) no-repeat right top;
padding:4px 9px 2px 6px;
}

div.ddcolortabs a span{
float:none;
}


div.ddcolortabs a:hover{
background-color:#7DB542;
}

div.ddcolortabs a:hover span{
background-color:#7DB542;
}

div.ddcolortabs li.current a, div.ddcolortabs li.current span{ /*currently selected tab*/
background-color:#7DB542;
}

div.ddcolortabsline{
clear:both;
padding:0;
width:100%;
height:4px;
line-height:8px;
background:#7DB542;
border-top:1px solid #fff; /*Remove this to remove border between bar and tabs*/
}

/* ddcolortabs - end */


/* waiting box - start */
#divWaiting
{
display:none;
}
#divWaiting img
{
text-align:center;
padding:20px 0 20px 130px;
}
#divWaiting div
{
clear:both;
margin:20px 20px;
color:#777;
font-size:16pt;
font-weight:bold;
text-align:center;
}
/* waiting box - end */

/* Start box58 */

.box58
{
padding-top:1px;
}
.box58-container
{
display:block;
border:1px solid #ccc;
margin:20px 0 25px 0;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.box58 h2
{
float:left;
display:block;
background:url(/img/box/menu53_hover_right.gif) repeat-x;
margin:-20px 0 0 10px;
padding:5px 0 10px 0;
}

.box58 .body
{
clear:both;
margin:0 10px 0 10px;
}

.box58 .row
{
margin-bottom:15px;
}
.box58 .row2
{
margin-top:7px;
margin-bottom:7px;
}
.box58 .row2-seperator
{
border-top:dashed 1px #ccc;
}
.box58 .item-left-image
{
float:left;
width:70px;
margin-right:10px;
}
.box58 .item-right-text
{
float:left;
width:196px;
}

.box58 .item-left-text
{
float:left;
width:176px;
margin-right:10px;
}
.box58 .item-right-image
{
float:left;
width:90px;
height:60px;
}

.box58-border-top-only
{
border-left:none;
border-right:none;
border-bottom:none;
}

/* End box58 */


/* fonts */
.a8,.a8b.a9,.a9b,.a10,.a10b,.a12,.a12b,.a13,.a13b,.a14,.a14b,.a16,.a16b,.a18,.a18b,.a20,.a20b
{
font-family:Arial,Helvetica,sans-serif;
}
.t8,.t8b.t9,.t9b,.t10,.t10b,.t12,.t12b,.t13,.t13b,.t14,.t14b,.t16,.t16b,.t18,.t18b,.t20,.t20b
{
font-family:'Times New Roman',Times,serif;
}
.a8,.a9,.a10,.a12,.a13,.a14,.a16,.a18,.a20,.t8,.t9,.t10,.t12,.t13,.t14,.t16,.t18,.t20
{
font-weight:normal;
}
.a8b,.a9b,.a10b,.a12b,.a13b,.a14b,.a16b,.a18b,.a20b,.t8b,.t9b,.t10b,.t12b,.t13b,.t14b,.t16b,.t18b,.t20b
{
font-weight:bold;
}
.a8,.a8b,.t8,.t8b
{
font-size:8pt;
}
.a9,.a9b,.t9,.t9b
{
font-size:9pt;
}
.a10,.a10b,.t10,.t10b
{
font-size:10pt;
}
.a12,.a12b,.t12,.t12b
{
font-size:12pt;
}
.a13,.a13b,.t13,.t13b
{
font-size:13pt;
}
.a14,.a14b,.t14,.t14b
{
font-size:14pt;
}
.a16,.a16b,.t16,.t16b
{
font-size:16pt;
}
.a18,.a18b,.t18,.t18b
{
font-size:18pt;
}
.a20,.a20b,.t20,.t20b
{
font-size:20pt;
}





.orange
{
color:#E33100;
}
.orange-lite
{
color:#FCCAB1;
}
.yellow
{
color:#f8bc00;
}
.blue-top-border
{
border-top:solid 2px #2870B8;
}
.blue
{
color:#2870B8;
}
.blue-lite
{
color:#D6EBFF;
}

.green-top-border
{
border-top:solid 2px #64B342;
}
.green
{
color:#64B342;
}
.green-lite
{
color:#CEFABB;
}

.gray
{
color:#666;
}
.blue-link
{
color:#003399;
}

.black
{
color:#000;
}
.white
{
color:#fff;
}

/* Headings - End */



.bottom-5
{
margin-bottom:5px;
}
.bottom-10
{
margin-bottom:10px;
}
.bottom-15
{
margin-bottom:15px;
}
.bottom-20
{
margin-bottom:20px;
}
.bottom-25
{
margin-bottom:25px;
}
.bottom-30
{
margin-bottom:30px;
}
.bottom-35
{
margin-bottom:35px;
}
.bottom-40
{
margin-bottom:40px;
}
.top-5
{
margin-top:5px;
}
.top-10
{
margin-top:10px;
}
.top-15
{
margin-top:15px;
}
.top-20
{
margin-top:20px;
}
.top-25
{
margin-top:25px;
}
.top-30
{
margin-top:30px;
}
.top-35
{
margin-top:35px;
}
.top-40
{
margin-top:40px;
}

ul.disc li
{
/* Giving UL's LIs generated disc markers. */
list-style: disc outside;
color: #478bc8; /* list-style-image: url('/img/icons/bullet_blue.png'); list-style-position:outside; */
}

ul.disc-green li
{
/* Giving UL's LIs generated disc markers. */
list-style: disc outside;
color: #64B342; /* list-style-image: url('/img/icons/bullet_blue.png'); list-style-position:outside; */
}

ul.disc-orange li
{
/* Giving UL's LIs generated disc markers. */
list-style: disc outside;
color: #E33100; /* list-style-image: url('/img/icons/bullet_blue.png'); list-style-position:outside; */
}

.green-bg
{
background-color:#7bb13f;
}
.blue-bg
{
background-color:#4aa1ce;
}
.gray-bg
{
background-color:#ccc;
}
.drak-gray-bg
{
background-color:#888;
}
.orange-bg
{
background-color:#F8BC00;
}

a.arrow1
{
background:url(/img/ArrowR3.gif) no-repeat 0 5px;
padding-left:12px;
}
a.arrow2
{
background:url(/img/ArrowR4.gif) no-repeat 0 5px;
padding-left:12px;
}
a.arrow3
{
background:url(/img/arrow-list.gif) no-repeat;
padding-left:12px;
}
a.arrow4
{
background:url(/img/bg_bullet_arrow.gif) no-repeat 0 3px;
padding-left:12px;
}
a.arrow5
{
background:url(/img/icons/bullet_go.png) no-repeat 0 -1px;
padding-left:18px;
}
a.arrow6
{
background: url(/img/icons/arrow-right.png) center right no-repeat;
padding-right:18px;
}
a.arrow7
{
background: url(/img/icons/cross.png) center left no-repeat;
padding-left:18px;
}
a.arrow-down
{
background:url(/img/icons/bullet_arrow_down.png) no-repeat 0 -1px;
padding-left:18px;
}
a.arrow-up
{
background:url(/img/icons/bullet_arrow_up.png) no-repeat 0 -1px;
padding-left:18px;
}
a.bullet
{
background:url(/img/icons/li.gif) no-repeat 0 3px;
padding-left:12px;
}
a.bullet span
{
margin-left:12px;
}
.icon-information
{
background:url(/img/icons/information.png) no-repeat 0 0;
padding-left:20px;
}
.icon-link_go
{
background:url(/img/icons/link_go.png) no-repeat 0 0;
padding-left:20px;
}
.icon-picture_link
{
background:url(/img/icons/picture_link.png) no-repeat 0 0;
padding-left:20px;
}



div.fl-box .fl-item.first
{
border-top: medium none;
}
div.fl-box .fl-item
{
border-bottom: 1px solid #414141;
border-top: 1px solid #AFAFAF;
padding:10px 0px;
width:46px;
}
div.fl-box .fl-item.last
{
border-bottom: medium none;
}
div.fl-item a:hover
{
color:#ccc;
}
div.fl-item a
{
color:#fff;
text-decoration:none;font-weight:bold;text-align:center;font-family:Arial;font-size:9pt;
}
span.thd
{
font-size:.85em;
font-weight:normal;
}
span.thd-8
{
font-size:.8em;
font-weight:normal;
}
span.thd-7
{
font-size:.7em;
font-weight:normal;
}
div.divCurrencyBox
{
float:right;padding:5px 7px;background-color:#ddd;font-size:.9em;
}
div.divCurrencyBox div.divCurrency
{
float:right;padding:2px 3px;background-color:#3A890C;color:#fff;margin-right:3px;font-weight:bold;
}
#ui-datepicker-div {display:none;}


div.ucTestimonials
{
margin: 0 0 20px 10px;
padding-bottom: 10px;
box-shadow: -5px 5px 5px #dfdddd;
}
div.ucTestimonials div.content
{
margin: 10px 10px 0 10px;
line-height:18px;
}
div.ucTestimonials div.content span.spnTestimonials
{
font-style: italic;
}
div.ucTestimonials div.date
{
color: #b0b0b0;
text-align: right;
float: right;
font-size:.9em;
}
div.ucTestimonials div.link
{
float: left;
font-size:.9em;
}
div.ucTestimonials div.name
{
margin:5px 0 10px 0;
color: #777;
font-size:.9em;
}
.ui-widget-content a {
color: #2870B8;
}
.ui-widget-content a:hover {
text-decoration:underline;
}
/*  City Listing [start] */
div.wrapperCityList {position:relative;margin:0 auto;}
div.wrapperCityList div.CityCaption {position:absolute;top:-14px;left:0;background:White;padding-right:7px;color:Gray;}
div.wrapperCityList hr {border: 0;color: #ccc;background-color: #ccc;height: 1px;margin-bottom:27px;}
/*  City Listing [end] */