.login-wrap{
	max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding-top:35px;
    .login-left{
    	.login-style{
	    	text-align: center;
		    max-width: 315px;
			margin-right: auto;
			margin-left: auto;		    
		    input{
		    	max-width: 260px;
			    width: 100%;
			    height: 35px;
			    color: #303030;
			}
    	}
    	.login-checkbox{
	    	margin-top: 10px;
	        max-width: 260px;
		    margin-left: auto;
		    margin-right: auto;
	    }
    }
    
    .login-btn{
    	color: white;
	    width: 100px;
	    height: 40px;
	    background-color: #f39200;
	    border: 1px solid transparent;
	    border-radius: 30px;
	    outline: none;
    }
    
    .login-type{
    	margin-top: 11%;
    	margin-bottom: 20px;
    	    padding: 20px 30px;
    }
    .login-with-fb{
    	background-color: #3b5998;
	    text-align: center;
	    color: #fff;
	    padding: 5px 0;
	    width: 100%;
	    display: inline-block
    }
    .login-with-gg{
    	background-color: #db4437;
	    text-align: center;
	    color: #fff;
	    padding: 5px 0;
	    width: 100%;
	    display: inline-block
    }



     .login-with-fb:hover, .login-with-gg:hover{
     	background-color: #000;
    }
    .forgot-link{
    	text-align: center;
    	color: #f39200;
    	cursor: pointer;
    	&:hover{
    		color: #fff;
    	}
    }
    .btn-pre-next{
    	width: 100%;
    	clear: both
    }
    .frm-error{
    	border:2px solid #db4437;
    }

}
 .popup-modal-signup{
	.modal-dialog {
	    margin: 170px auto;
	}
    .btn-pre-next {	
    	.login-btn{
	    	width: 100px;
	    	height: 40px;
	    	color: #fff;
	    	background-color: #f39200;
	    	border:none;
	    	border-radius:30px;
	    	outline: none
	    }
    }
	.modal-body{
		.forgot-content{
			max-width: 320px;
		    margin-left: auto;
		    margin-right: auto;
		    text-align: center;
		}
		input{
			width:100%;
			max-width: 260px;
			height: 40px;
		} 
	}

	
	.modal-backdrop{
		display: none
	}
 }


.line-login{
	width: 1px;
    height:230px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 49.4%;
    top: 18%;
    @media(max-width:480px){
    	display: none
    }
}