/*
	  1=> block-center 
		2=> image background center
		3=> draw and gradient 
 		4=> placeholder
 		5=> after and before 
		6=> animation
		
*/	


/*-----------------------------------------------------------------
						1=>block-center 
				@include center-block;
-----------------------------------------------------------------*/
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*-----------------------------------------------------------------
						2=> image background center 
				@include background-image;
-----------------------------------------------------------------*/
@mixin background-image{
	position:absolute;
	top:50%;
	left:50%;

	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);

	min-width:100%;
	min-height:100%;

	max-width:auto;
	max-height:auto;
}

/*-----------------------------------------------------------------
						3=> draw and gradient 
				@include css-triangle(red , up)
-----------------------------------------------------------------*/
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
    @include pseudo($pos: $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round( $size / 2.5 );
    } @else if $direction == up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round( $size / 2.5 );
    } @else if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    } @else if  $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}
		/* @include gradient(red , yellow , gray)  */

@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}


/*-----------------------------------------------------------------
						4=> PLACEHOLDER
				@include input-placeholder
-----------------------------------------------------------------*/
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

/*-----------------------------------------------------------------
						5=> after and before
				@include pseudo;
-----------------------------------------------------------------*/
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}




/*-----------------------------------------------------------------
						6=> animation
				@include keyframes(run-left){
					0%{
						left:0;
					}
					100%{
						left:100;
					}
				}
-----------------------------------------------------------------*/
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($value){
  transform:$value;
  -webkit-transform:$value;
  -o-transform:$value;
  -moz-transform:$value;
}