input{
	outline:none;
}

.menu-profile-toggle{
	display:none;
	position: absolute;
	margin-top:7px;
	&:active{
		display: block
	}
}
.menu-profile{
	color: #fff;
	.menu-profile-right{
		cursor: pointer;
		.click-menu-profile{
			i{
				margin-right: 3px;
			}
		}
		.menu-profile-toggle{
			width: 230px;
			.profile-title{
				padding: 10px 0px 10px 10px;
			    background-color: grey;
			    border-bottom:1px solid #f5f5f5;
			    &.active{
			    	background:#f39200;
			    	color:#fff;
			    }
			    &:last-child{
			    	border-bottom:none
			    }
			    &:hover{
					background:#fff;
					color: #000;
					padding-left:20px;
				}
				
			}
		}
		.profile-logout input{
			background-color: transparent;
			border: none;
		}
	}
	.menu-style-social{
		.search-social{
			width: 50px;
			text-align: center;
			position:relative;
			span{
				position:relative;
				z-index: 2;
				img{
					width: 100%;
    				max-width: 15px;
    				cursor: pointer;
				}
			}
			&:after{
				content: "";
			    display: block;
			    position: absolute;
			    top: -16px;
			    left: 4px;
			    width: 70px;
			    height: 24px;
			    border-radius: 20px;
			    background: rgb(185, 19, 31);;
			    z-index: 1;
				@include transform(rotate(-45deg));
			}
		}
	}
	
}

.profile-tickets-detail, .profile-view-detail,.profile-setting-detail{
	position:fixed;       
	top:42px;
	left:0;
	right:0;
	bottom:0;
	background: #3c3c3b;
	transition:all 0.5s;
	@include transform(translateY(-100%));
	opacity: 0.98;

	@media(max-width:991px){
		top:0;
	}
	&.active{
		transform: translateY(0%);
	}
	.container{
		height: 100%;
	}
	.display-table{
		display: table;
		width: 100%;
		height:100%;
	}
	.display-table-cell{
		display:table-cell;
		text-align: center;
		vertical-align: middle;
	}
	/*---------------------------------------------
		CSS For right side advertisement
	-----------------------------------------------*/

	.profile-wrap{
		overflow: hidden;
		max-width:980px;
		padding-left:15px;
		padding-right:15px;
		width:100%;
		height:100%;
		display:block;
		position:absolute;
		top:0;
		left:50%;
		@media(max-width:768px){
			padding-left:15px;
		}
		@include transform(translateX(-50%));
		.tab-profile{
			@media(max-width:768px){
				padding-top: 100px
			}
			.close-profile{
				float: right;
				right: 3%;
			}

			.nav-tabs>li>a{
				color: white;
				font-family:FjallaOne;
				text-transform: uppercase;
			}
			.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
				background-color:transparent;
				border:none;
				color: #1d1d1b;
			}
			.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
			    text-decoration: none;
			    background-color: transparent;
			}
			.nav-tabs>li>a:hover{
				border:none;
				background-color:none;
			}
			.nav-tabs>li>a{
				border:none;
			}
			.nav-tabs > li:last-child > a{
				color: #f39200;
			}
		}
		.tab-content{
			color:#fff;
			height:calc(100% - 42px);
			overflow:auto;
			padding-left:15px;
			padding-right:35px;
			width:calc(100% + 35px);
			.btn-profile{
		    	.submit-btn-profile{
		    		color: white;
				    width: 100px;
				    height: 40px;
				    background-color: #f39200;
				    border: 1px solid transparent;
				    border-radius: 30px;
				    outline: none;
		    	}
		    	.remove-btn-profile{
		    		background-color: #f39200;
				    border: 1px solid transparent;
				    color: white;
				    width: 200px;
				    height: 40px;
				    outline: none
		    	}

		    }
		}
	}
}
.profile-tickets-detail{
	.my-ticket{
		table{
			max-width: 700px;
			width: 100%;
			tr{
				border-bottom: none;
				&:first-child{
					border-bottom: 1px solid;
				}
				td{
					padding-top:10px;
				}
			}
		}
		.line-ticket{
			width: 100%;
			height: 1px;
			background-color:#f5f5f5;
		}
	}
	.ticket-faq{
		.content-faq-style {
			background-color: #463131;
		    padding:20px;
		    border-top: 1px solid;
		    .question{
	    		font-style: italic;
			    font-weight: bold;
			    margin-bottom: 0;
			    color: #e06c6c;
	    	}
	    	.answer{
	    		a{
		    		color:#f39200;
		    		cursor: pointer;
		    		&:hover{
		    			color: blue;
		    		} 
		    	}
	    	}
		}
		.menu-faq{
			background-color:grey;
			.menu-faq-center{
				max-width: 600px;
			    margin-left: auto;
			    margin-right: auto;
			    padding-top: 20px;
    			padding-bottom: 20px;
			    .description-ticket-faq{
			    	text-align: center;
			    }
			    .list-faq{
			    	max-width: 215px;
				    margin-left: auto;
				    margin-right: auto;
				    a{
				    	color: #f39200;
				    	&:hover{
				    		text-decoration: underline
				    	}
				    }
			    }
			}
		}
	}
	.ticket-term{
		.content-term-style{
			background-color: #463131;
		    padding:20px;
		    border-top: 1px solid;
	    	.answer{
	    		a{
		    		color:#f39200;
		    		cursor: pointer;
		    		&:hover{
		    			color: blue;
		    		} 
		    	}
		    }
		}
	}
}
.profile-setting-detail{
	.settings-left{
    	max-width: 300px;
    	float: left;
    	width: 100%;
    }
    .settings-right{
    	max-width: 300px;
    	float: left;
    	width: 100%;
    }
	.change-pwd{
		max-width: 260px;
	    margin-right: auto;
	    margin-left: auto;
	    text-align: center;
	    .form-change-password{
	    	input{
		    	max-width: 260px;
			    width: 100%;
			    height: 35px;
			    color: #303030;
			}
		    label{
		    	text-align: center
		    }
	    }
	}
	.subscription-settings{
		max-width: 800px;
	    margin-left: auto;
	    margin-right: auto;
		.form-subscription-settings{
			.newsletter-style{
				height: 35px;
			    max-width: 300px;
			    width: 100%;
			    color: #000;
			    margin-right: 10px;
    			margin-top: 15px;
    			outline: none;
    			cursor: pointer;
    			float: left;
    			input{
					cursor: pointer;
					outline: none;
				}
			}
			select{
				height: 35px;
			    width: 150px;
			    color: #000;
			    padding-left: 10px;
			    margin-right: 20px;
    			margin-top: 15px;
    			outline: none;
    			cursor: pointer;
    			option{
					cursor: pointer
				}
			}
			.credit-card{
				max-width: 700px;
			    margin-left: auto;
			    margin-right: auto;
			    border: 1px solid;
			    background-color: grey;
				.card-details{
					max-width: 500px;
				    margin-left: auto;
				    margin-right: auto;
				    @media(max-width:480px){
						padding-left: 15px;
						padding-right:15px;
					}
					input {
						color: #333;
						max-width: 500px;
						width: 100%;
						height: 35px;
						padding-left:10px;
					}
					label{
						color:#fff;
					}
					select{
						max-width: 90px;
						width: 100%;
						height: 35px;
						margin-top: 0
					}
				}
			}
			
		}
		
	}
	.privacy-settings{
		max-width: 500px;
	    margin-right: auto;
	    margin-left: auto;
		.form-privacy-settings{
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
			a{
		    	color: #f39200;
		    	cursor: pointer;
		    	&:hover{
		    		color: #fff;
		    	}
		    }
		    select{
		    	height: 35px;
			    max-width: 315px;
			    width: 100%;
			    color: #000;
			    padding-left: 10px;
			    outline: none;
			    cursor: pointer;
			    option{
					cursor: pointer
				}
		    }
		}
	}
	.account-settings{
		max-width:600px;
		margin-right: auto;
		margin-left: auto;
		.form-account-settings{

			.line-account-settings{
				width: 100%;
			    height: 1px;
			    background-color: #fff;
			}
			.settings-profile-photo{
				max-width: 600px;
			    margin-left: auto;
			    margin-right: auto;
				.up-avatar{
			    	width: 130px;
				    background-color: grey;
				    border: none;
				    height: 35px;
				    border-radius: 10px;
				    line-height: 35px;
				    text-align: center;
				    cursor: pointer;
			    }
			    input{
			    	width: 300px;
			    	height: 35px;
			    	color: #000;
			    	resize: none;
			    }
			    input[type="file"] {
					display: none;
				}
			}
			.settings-country-avatar{
				select{
					height: 35px;
				    width: 280px;
				    color: #000;
				    padding-left: 10px;
				    outline: none;
				    cursor: pointer;
				    option{
						cursor: pointer
					}
				}
			    .account-settings-update{
			    	width: 100px;
			    	height: 35px;
			    	background-color: #f39200;
				    border: 1px solid transparent;
				    border-radius: 30px;
				    outline: none;
				    position:absolute;
				    top: 22%;
				    left: 55%
			    }
			    
			}
			.settings-gender{
				form{
					margin-left: 10%;
					input{
						width: auto;
	    				height: auto;
					}
				}
				

			}
		    .settings-email{
		    	select{
					height: 35px;
				    width: 280px;
				    color: #000;
				    padding-left: 10px;
				    outline: none;
				    cursor: pointer;
				    option{
						cursor: pointer
					}
				}
		    }
		    .settings-comment{
		    	textarea{
		    		height: 100px;
		    		max-width: 580px;
		    		width: 100%;
		    		resize: none;
		    		color: #000
		    	}
		    }
		    .settings-birth{
		    	select{
		    		color: #000;
				    width: 70px;
				    height: 35px;
				    margin-right: 10px;
				    outline: none;
				    cursor: pointer;
				    option{
						cursor: pointer
					}
		    	}
		    }
		    input{
		    	max-width: 280px;
			    width: 100%;
			    height: 35px;
			    color: #303030;
		    }
		}
	}
	
	.remove-account{
		max-width: 500px;
	    margin-right: auto;
	    margin-left: auto;
	    text-align: center;
	}
	.delete-success{
		display: none;
	}
}
.profile-view-detail{
	.profile-view-overview{
		.profile-view-table{
			table tr{
				border-bottom:1px solid;
				th{
					width: 170px;
					span{
						color: #b4b4b4
					}
				}

			}
		}
	}
	.profile-view-favourite{
		.title{
			font-size: 26px;
		    color: #fff;
		    margin-bottom: 5px;
		    border-bottom: 1px solid;
		}
		.title-view-favourite{
		    float: right;
    		margin-top: -36px;
    		background-color: #f39200;
		    width: 130px;
		    text-align: center;
		    height: 30px;
		    line-height: 30px;
		    cursor: pointer;
		    @media(max-width:480px){
				width: 100px;
			}
    	}
		.content-view-favourite{
			display: none;
			padding-top: 20px;
		    background-color: grey;
		    margin-top: -5px;
		    padding-left:20px;
			select{
				height: 35px;
				width: 100%;
				max-width: 150px;
				color: #000;
				outline: none;
				margin-right: 50px;
    			margin-bottom: 10px;
    			@media(max-width:768px){
    				margin-right: 5px;
    			}
    			@media(max-width:480px){
    				margin-right: 85px;
    			}
			}
			input{
				width: 100px;
			    height: 35px;
			    background-color: #f39200;
			    border: none;
			    margin-bottom: 10px;
			    margin-left: 80%;
			    @media(max-width:480px){
    				margin-left: 7%;
    			}
			}
			
		}
		.content-view-display{
			cursor: pointer;
			margin-top: 20px;
			.img-content{
				img{
					width: 100%;
				}
			}
			.title-content-main{
				color: #f39200;
			}
			.action-hover{
				&:before{
					background-color: transparent;
				    display: block;
				    -moz-border-radius: 9px;
				    -webkit-border-radius: 9px;
				    border-radius: 9px;
				    float: left;
				    margin: 5px 5px 0 0;
				    height: 12px;
				    width: 12px;
				    content: "";
				    border: 2px solid #fff;
				}
				&:hover:before {
				    background-color: #ffa200;
				    border:none;
				    height: 12px;
				    width: 12px;
				    content: "";
				    margin-top: 5px;
				}
			}	
		}
	}
	
	
}
