.side-menu.active ul.list-side-menu a.side-menu{
	display:none;
	position:fixed;
	top:42px;
	height:calc(100% - 40px);
	overflow:hidden;
	width:300px;
	z-index:$z-index-side-menu;


	&::-o-scrollbar              { display:none }
	&::-o-scrollbar-button       { display:none }
	&::-o-scrollbar-track        { display:none }
	&::-o-scrollbar-track-piece  { display:none }
	&::-o-scrollbar-thumb        { display:none }
	&::-o-scrollbar-corner       { display:none }
	&::-o-resizer                { display:none }

	&::-webkit-scrollbar              { display:none }
	&::-webkit-scrollbar-button       { display:none }
	&::-webkit-scrollbar-track        { display:none }
	&::-webkit-scrollbar-track-piece  { display:none }
	&::-webkit-scrollbar-thumb        { display:none }
	&::-webkit-scrollbar-corner       { display:none }
	&::-webkit-resizer                { display:none }

	@include transform(translatex(calc(-100% + 100px)));


	@include transition(all 0.5s);

	@media(max-width:991px){
		top:50px;
		@include transform(translatex(-100%));
	}

	&.active{
		@include transform(translatex(0));
		ul.list-side-menu a {
			opacity: 1;
		}
		.wrap-trending .item-trending{
			opacity: 1;
		}
		.mobile-social{
	      	border-bottom: 1px solid #fff;
	    }
	}
	.mobile-social{
      padding: 5px 0;
      background-color:#575756;
    }
    .mobile-social a {
        color: #fff;
        line-height: 2;
        padding: 0 17px;
        &:hover .fa{
		    	font-size: 19px;
		    }
    }
    .wrap-login .social-item {
	    padding-left: 10px;
	    padding-right: 10px;
	    color: #fff; 

	}
	.side-menu-top{
		width:300px;
	}
	.side-menu-middle{
		background:$sidemenu-color;
		width: 250px;
	}
	.side-menu-view{
		height: 100%;
		overflow: auto;
		width: 320px;
	}
}
/* -----menu-------- */
ul.list-side-menu{
	padding-right:50px;
	a.side-menu-link{
		display: block;
		color:$white-color;
		@include transition(all 0.5s);
		&:nth-child(6n + 2){
			background:#be1622;
		}
		&:nth-child(6n + 3){
			background:#a3195b;
		}
		&:nth-child(6n + 4){
			background:#634e42;
		}
		&:nth-child(6n + 5){
			background:#2d2e83;
		}
		&:nth-child(6n + 6){
			background:#36a9e1;
		}
		&:nth-child(6n + 7){
			background:#f9b233;
		}
		&:hover{
			width: 300px;
			.img-mobile-search{
				transform:translateX(50px);
			}
		}

		li.side-menu-item{
			width: 250px;
			text-align: right;
			color:$white-color;
			padding:10px 25px 10px 10px;
			@include transition(all 0.5s);
			opacity: 0;
			&:hover{
				width: 300px;
				@include transition(all 0.5s);
			}
			
		}
		.mobile-search{
			width:100%;
			height:40px;
			padding-left:15px;
			padding-right:15px;
			outline: none;
			border:1px solid #fff;
			background:transparent;
			color:#fff;
			background:$black-color;
			position:relative;
			@include input-placeholder{
				color:#fff;
				text-align: right
			}
		}
		.img-mobile-search{
			position: absolute;
		    width: 20px;
		    height: 20px;
		    right: 65px;
		    top: 8px;
		    opacity: 0;
		}
	}	
}
/* -----trending-------- */
.wrap-trending{
	color:$white-color;
	padding-top:20px;
	padding-left:15px;
	padding-right:25px;
	.title-trending{
		color:#ededed;
		margin-left:10px;
	}
	.item-trending{
		display: inline-block;
		line-height: 1.8;

		margin-left:10px;
		opacity: 0;
		@include transition(all 0.5s);
		&:before{
			content:"#";
			color:#ededed;
		}
		a{
			color:#ededed;
			&:hover{
				color:#f39200;
			}
		}
	}
}
/* -----ad side -------- */
.side-ad{
	padding:10px 25px 20px 25px;
	img{
		width:100%;

	}
}

/* -----scroll bar-------- */
.side-menu::-webkit-scrollbar{
	width:5px;
	background-color:#575756;
}
.side-menu::-webkit-scrollbar-thumb{
	background-color:#1d1d1b;
	border-radius:50px;
}

/* -----wrap side menu */
.wrap-side-menu{
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:$z-index-wrap-side-menu;
	background:rgba(0,0,0,0.8);
	&.active{
		display: block;
	}
	@media(min-width:992px){
		display: none;
	}
}

	