.alpha-content{
	.title{
		text-align: center;
		>a{
			display: inline-block;
			&.disabled{
				opacity: .7;
				span{
					color: #000;
					background: #f3f3f3;
				}
			}
			span{
				display: block;
				width: 50px;
				line-height: 50px;
				color: #fff;
				transition: all .2s;
				&:hover,
				&.active{
					color: #000;
					background: #fff;
				} 
			}
		}
	}
}