.section-music{
	overflow: hidden;
	.music{
		position: fixed;
		top: 42px;
		right: 0;
		bottom: 57px;
		max-width: 320px;
		width: 100%;
		z-index: 9;
		background-color: #f5f5f5;
		padding: 0 10px;
		overflow-y: auto;
		transform: translateX(100%);
		transition: all .3s;
		&.active{
			transform: translateX(0);
		}
		.embed-song{
			margin-top: 10px;
			margin-bottom: 20px;
			iframe{
				width: 100%;
				height: auto;
			}
		}
		.song-order{
			border-bottom: 1px solid #efefef;
			transition: all .3s;
			opacity: .75;
			&.active{
				>.left{
					.icon{
						&:before{
							display: none;
						}
						&:after{
							display: block;
						}
					}
				}
			}
			&.active, &:hover{
				background-color: #f5f5f5;
				opacity: 1;
				>.left{
					.icon{
						opacity: 1;
					}
				}
			}
			>.left{
				width: 55px;
				float: left;
				padding: 5px;
				background-color: #000;
				position: relative;
				z-index: 1;
				a{
					display: block;
				}
				.icon{
					position: absolute;
					display: flex;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 2;
					opacity: 0;
					transition: all .2s;
					&:before{
						content: "\f01d";
						font-family: 'FontAwesome';
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						font-size: 30px;
						color: #fff;

					}
					&:after{
						content: "\f28c";
						font-family: 'FontAwesome';
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						font-size: 30px;
						color: #fff;
						display: none;
					}
				}
			}
			>.right{
				float: left;
				width: calc(100% - 55px);
				padding-left: 10px;
				.song-name{
					margin-bottom: 0;
					a{
						text-decoration: none;
						color: #646464;
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
		}
	}
	.playlist{
		position: fixed;
		z-index: 10;
		max-width: 320px;
		width: 100%;
		bottom: 0;
		right: 0;
		height: 57px;
		background-color: #1e1e1e;
		border: 1px solid #1e1e1e;
		.wrap{
			display: flex;
			align-items: center;
			height: 100%;
			position: relative;
		}

		.controls{
			
			padding: 0 20px;
			>span{
				color: #fff;
				font-size: 15px;
				cursor: pointer;
				display: inline-block;
				padding: 5px;
			}
			.control{
				border-radius: 5px;
				border: 1px solid #e3e3e3;
			}
			.play{
				font-size: 20px;
				margin-right: 20px;
				padding: 5px 10px;
				/* text-align: center;
				line-height: 40px;
				width: 40px;
				height: 40px; */
				.fa-pause{
					display: none;
				}
				&.active{
					.fa-play{
						display: none;
					}
					.fa-pause{
						display: block;
					}
				}
			}
			.forward{
				margin-right: 20px;
			}

		}
		span.open-music{
			position: absolute;
			right: 0;
			top: 0;
			font-size: 30px;
		}
	}
}