
.w-wapper {
    width: 100%;
    max-width: 1368px;
    height: auto;
    background: #3c3c3b;
    margin: 0 auto;
}

.text-content-profile {
    padding: 10px;
    text-align: justify;
    color: #fff;
}

img.img-responsive.img-profile {
    width: 100%;
}

.read-more {
    float: right;
    display: block;
    font-size: 14px;
    color: #fff;
}

.read-more:hover, a:focus {
    color: #fff;
}

.box-content-1 {
    width: 100%;
    height: 262px;
    background: #3c3c3b;
    margin-top: 35px;
}

.text-content-profile {
    background: #3c3c3b;
}

.main-contact-profile {
    max-width: 1368px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.contact-profile {
    width: 100%;
    height: auto;
    background: #1d1d1b;
    padding-left: 46px;
    padding-bottom: 40px;
}

.cot-1 {
    display: inline-block;
    margin-right: 40px;
    line-height: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}

li.cot-2 {
    padding-top: 25px;
}

a.pink {
    color: #bf0669;
}

a.pink:hover, a.pink:focus {
    color: #bf0669;
}

.f-26 {
    font-size: 26px;
    margin: 0;
    color: #fff;
}

.white {
    color: #fff;
}

.white:hover, .white:focus {
    color: #fff;
}

@media (max-width: 991px) {
    .contact-profile {
        padding-left: 0px;
    }
}

@media (max-width: 1024px) {
    li.cot-2 {
        padding-top: 15px;
    }
}

@media (max-width: 480px) {
    .cot-1 {
        margin-right: 30px;
        line-height: 23px;
    }

    a.pink {
        font-size: 12px;
    }

    .f-26 {
        font-size: 15px;
        margin: 0;
    }

    .white {
        font-size: 13px;
    }
}

.row {
    margin: 0px;
}

ul.list-side-menu {
    a.side-menu-link {
        position: relative;

        &:hover .img-mobile-search {
            right: 65px;

            @media(max-width:480px) {
                right: 65px !important;
            }

            @media(max-width:320px) {
                right: 65px !important;
            }
        }

        .img-mobile-search {
            right: 15px;

            @media(max-width:480px) {
                right: 25px;
            }

            @media(max-width:320px) {
                right: 25px;
            }
        }
    }
}

textarea {
    width: 100%;
    max-width: 280px;
}

.profile-setting-detail {
    .profile-wrap {
        .tab-content {
            .btn-profile {
                .submit-btn-profile {
                    width: 120px;

                    &:hover {
                        box-shadow: 0 0 8px rgb(150, 141, 35);
                        transition: .3s;
                    }
                }
            }
        }
    }
}

.remove-btn-profile {
    &:hover {
        box-shadow: 0 0 8px rgb(150, 141, 35);
        transition: .3s;
    }
}

#comment-reply-box {
    max-width: 700px;
    width: 100%;
    color: #222;
    padding-bottom: 1px;
    height: 66px;

    @media(max-width:767px) {
        max-width: 500px;
    }

    @media(max-width:767px) {
        max-width: 260px;
    }
}

.comment-reply.clearfix {
    float: none;
    clear: both;
    margin-left: 70px;
}

.comment-reply-img {
    width: 100%;
    max-width: 76px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.comment-detail .comment-action {
    text-align: right;
    margin-right: 54px;
    color: #222;
    margin-top: 5px;

    @media(max-width:480px) {
        margin-right: 5px;
    }
}

.comment-action input {
    width: 100px;
    height: 35px;
    background-color: #f39200;
    border: none;
    margin-left: 5px;
}

.comment-action input:hover {
    background-color: #fff;
}

input#btn-update-account {
    margin-top: 140px;
    margin-left: -70px;

    @media(max-width:678px) {
        margin-top: 25px;
        margin-left: 0px;
    }

    @media(max-width:320px) {
        margin-top: 25px;
        margin-left: 0px;
    }

    @media(max-width:480px) {
        margin-top: 25px;
        margin-left: 0px;
    }
}

.redm-blog .comment-blog .comment-show ol .comment-detail .comment-center {
    padding: 0px;
}

.redm-blog .comment-blog .comment-show ol .comment-detail .comment-center .content {
}

.content {
    position: absolute;
    margin-left: 10%;
}

.power-off-login {
    background: url('../images/power.png');
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    text-align: center;
    background-color: #222 !important;

    &:hover {
        background: url('../images/power-hover.png');
        transition: .3s;
    }
}
