html
{
height: 100%;
}
body
{
height: 100%;
margin: 0px;
padding: 0px;
}
#map-canvas
{
height: 100%;
}
.text
{
padding:2px 4px;
font-size:11pt;
border:1px solid #aaa;
}
table tr .bookroom
{
width:90px;
text-align:right;
}
table tr th, table tr td
{
border-bottom:1px solid #ccc;
padding-top:5px;
padding-bottom:5px;
}
table tr .totalprice 
{
font-size:1.4em;
font-weight:bold;
color:#64B342;
white-space:nowrap;
}
div.divFeatured{
color:#5fad19;
background-color:#fff;
border:1px solid #5fad19;
font-size:.9em;
float:left;
padding:2px 6px;
margin-right:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
div.divFeatured:hover{
border-color:#7BFF00;
}

div.divFeaturedWifi{
background:url("/img/icons/wifi3.png") no-repeat 7px 3px transparent;
padding-left:23px;
}

a.lnkButtonKhuyenMai{
color:#000;
background-color:#E6E534;
border:1px solid #bbb;
font-size:.9em;
float:left;
padding:2px 6px;
margin-right:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
text-decoration:none;
}
a.lnkButtonKhuyenMai:hover{
background-color:#FFF000;
}

div.divButtonGiaTotNhat{
color:#fff;
background-color:#A83939;
border:1px solid #bbb;
font-size:.9em;
float:left;
padding:2px 6px;
margin-right:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
text-align:center;
}
div.divButtonGiaTotNhat:hover{
border-color:#FF0000;
}
a.lnkButtonDanhGia{
color:#000;
background-color:#93D9ED;
border:1px solid #bbb;
font-size:.9em;
float:left;
padding:2px 6px;
margin-right:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
text-decoration:none;
}
a.lnkButtonDanhGia:hover{
background-color:#CEF4FF;
}

/* begin show map div*/
.show_map_arrow{
	width: 67px;
	padding-left: 10px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	position: absolute;
	top: -29px;
	left: 0;
	background: url('top_btn.png') no-repeat;
	z-index: 9990;
	display: none;
}
.hide_map_arrow{
	width: 18px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	position: absolute;
	bottom: 0;
	color: #fff;
	right: -14px;
	background-color: #0096ff;	
	z-index: 9990;
	display: block;
}
.hide_map_arrow:hover, .show_map_arrow:hover{
	cursor: pointer;
}
/* end show map div*/

/*Begin map filter*/
.divFilters{
	float: left;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9990;
	background-color: #302f2e;
	padding: 3px 5px;
	height: 20px;
	padding-right: 20px;
}
.filter_thanhpho, .filter_quanhuyen, .filter_namthang {
	float: left;
	margin-left: 10px;
	color: #fff;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
}
.filter_quanhuyen{
	margin-left: 20px;
}
.combo_filter{
	float: left;
	height: 20px;
	margin-left: 10px;
}
.shop_filter{
	position: fixed;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: red;
}
.label_combobox{
	float: left;
	display: block;
	margin-left: 10px;
}
#txtCities, #txtDistrict, #txtYearmonth{
	width: 125px;
}

.combo_mark{
	float: left;
	width:106px;
	height: 20px;
	position: relative;
	padding: 0px 10px;
	padding-right: 20px;
	display: block;
	color: #fff;
	text-align: center;
	line-height: 20px;
	background-color: #0096FF;	
}
.combo_mark:hover{
	cursor: pointer;
}
.combo_arrow{
	position: absolute;
	right: 6px;
	top: 7.5px;
	width: 8px;
	height: 5px;
	background: url('img/arrow_filter.png') 0 0 no-repeat;	
}
.combo_arrow_click{
	background-position:  0px -5px;
}
.combo_mark_list{
	position: absolute;
	top: -158px;
	left: -6px;
	float: left;	
	padding: 5px;	
	padding-bottom: 10px;
	background-color: #302f2e;
	border-radius: 0 6px 0 0;
	overflow: hidden;
	display: none;
}
.combo_mark_item{
	float: left;	
	padding: 5px 0;	
	padding-right: 5px;
	margin-left: 10px;
	margin-top: 10px;
	width: 140px;
	display: block;
	background-color: #CCCCCC;	
	border-color: #302f2e;
	border-radius: 6px;
	overflow: hidden;
}
.combo_mark_item_click{
	background-color: #0096FF !important;		
}
.combo_mark_item_click span{
	color: #fff !important;
}
.combo_mark_item_img{
	float: left;
	width: 50px;
	height: 50px;
	display: block;	
}
.combo_mark_item span{
	float: left;
	height: 50px;	
	min-width: 80px;
	line-height: 50px;	
	color: #000;
}
.cuahang_text{
	float: left;
	color: #fff;
	height: 30px;
	padding: 5px 10px;
	min-width: 106px;
	line-height: 30px;
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
	background-color: #666668;
	border-radius: 6px;
}
.cuahang_text:hover{
	background-color: #0096FF;
}
.cuahang_content{
	float: left;
	width: 700px;
}

.thongke_popup{
	display:none;
	position: absolute;
	top: 80px;
	right: 5px;
	width: 150px;
	height: 150px;
	padding-left: 15px;
	padding-top: 10px;
	border-radius: 6px;
	overflow: hidden;
	z-index: 9990;
}
.bg_shadow{
	position: absolute;
	top: 0;
	left: 0;
	right: 0px;
	width: 100%;
	height: 100%;	
	background-color: #302F2E;
	opacity:0.8;
	filter:alpha(opacity=0.8); /* For IE8 and earlier */
	z-index: 9990;
}
.thongke_content{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9996;
	width: 100%;
	font-size: 16px;
	color: #fff;
}

.thongke_content div {
	width: 80px;
	height: 22px;
	margin-top: 10px;
	padding-left: 60px;
	padding-top: 10px;
	font-size: 12px;
	display: inline-block;
	font-weight: bold;	
}

.divSummary {
    background-color: #302f2e;
    border-radius: 3px;
    color: #fff;
    height: 122px;
    opacity: 0.7;
    padding: 3px 20px 3px 5px;
    position: fixed;
    right: 5px;
    top: 100px;
    width: 215px;
    z-index: 9990;
}

.divSummary td {
    border: medium none;
}

.divSummary span.mblue {
    background: url("img/marker/50x50_blue.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    line-height: 20px;
    overflow: hidden;
    padding-left: 50px;
    width: 80px;
}

.divSummary span.mred {
    background: url("img/marker/50x50.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    line-height: 20px;
    overflow: hidden;
    padding-left: 50px;
    width: 80px;
}
.divSummary span.myellow {
    background: url("img/marker/50x50_yellow.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    line-height: 20px;
    overflow: hidden;
    padding-left: 50px;
    width: 80px;
}
.divSummary span.mgray {
    background: url("img/marker/50x50_gray.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    line-height: 20px;
    overflow: hidden;
    padding-left: 50px;
    width: 80px;
}

.divSummary span.bluelo {
    background: url("img/marker/50x50_bluelo.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    line-height: 20px;
    overflow: hidden;
    padding-left: 50px;
    width: 80px;
}

.thongke_content div.thongke_content_dat {
	background: url(img/marker/50x50_blue.png) no-repeat top left;
}
.thongke_content div.thongke_content_rot {
	background: url(img/marker/50x50.png) no-repeat top left;
}
.thongke_content div.thongke_content_ktc {
	background: url(img/marker/50x50_gray.png) no-repeat top left;
}
/*End map filter*/