/* ================ */
/* = The 1Kb Grid = */     /* 14 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }
.grid_13 { width:1020px; }
.grid_14 { width:1100px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
	min-height: 1.2em;
}
.row {
	width: 1120px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}