.alpha-content .title {
  text-align: center; }
  .alpha-content .title > a {
    display: inline-block; }
    .alpha-content .title > a.disabled {
      opacity: .7; }
      .alpha-content .title > a.disabled span {
        color: #000;
        background: #f3f3f3; }
    .alpha-content .title > a span {
      display: block;
      width: 50px;
      line-height: 50px;
      color: #fff;
      transition: all .2s; }
      .alpha-content .title > a span:hover, .alpha-content .title > a span.active {
        color: #000;
        background: #fff; }

/*# sourceMappingURL=alpha.css.map */
