.text-logo .text-logo-item{
	font-family:FjallaOne;
}
.slide-text .run-text{
	font-family:FjallaOne;
}
.pull-right{
	font-family:FjallaOne;
}
.side-menu.active{
	font-family:FjallaOne;
}
.title{
	font-family:FjallaOne;
}
.bg-333{
	background:#333
}
.title-url{
	color:#474747;
	/*padding-top:10px;*/ padding:0 20px;
	font-size:23px;
	font-family: 'PatuaOne-Regular';
	/*padding-left:20px;
	padding-right:20px*/
}
.pd-left-20{
	padding-left:20px
}
.mg-top5{
	margin-top:5px
}
.mg-top10{
	margin-top:10px
}
.mg-bottom5{
	margin-bottom:5px
}
button.accordion {
    color: #fff;
	background-color: transparent; 
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
button.accordions {
    color: #fff;
	background-color: transparent; 
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
button.accordions:hover,button.accordions:active,button.accordions:focus {
    color: #819cff;
	background-color: transparent; 
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.bgtransparent{
	background:transparent
}
button.accordion.active, button.accordion:hover {
    background-color: transparent; 
}
div.panel {
    display: none;
    background-color: transparent;
}
.font-22{
	font-size:22px
}
.font-bold{
	font-weight:bold
}
.text-logo .text-logo-item{
	font-family:FjallaOne;
}
.slide-text .run-text{
	font-family:FjallaOne;
}
.pull-right{
	font-family:FjallaOne;
}
.side-menu.active{
	font-family:FjallaOne;
}
.title{
	font-family:FjallaOne;
}
.colorgrey{
	color:grey
}
.title-fb{
	padding-right: 5px;
    padding-left: 5px;
    font-size: 26px;
	color:#819cff;
    font-family: 'PatuaOne-Regular';
	clear:both;
}
.date-fb{
	font-size:16px;
	font-family: 'PatuaOne-Regular';
	color:#757575
}
.fapublic{
	font-size:20px;
	font-family: 'PatuaOne-Regular';
	color:grey;
	padding-left:10px
}
.colorfff{
	color:#fff
}
.text-description1{
	font-size:16px;
	color:#fff;
	padding-top:30px
}
.text-description2{
	font-size:16px;
	color:#819cff;
	padding-top:10px;
	padding-bottom:10px
}
.text-description3{
	color:#474747;
	/*padding-top:10px;*/padding: 10px 20px;
	font-family: 'PatuaOne-Regular';
	/*padding-left:20px;
	padding-right:20px*/
}
.link-url{
	font-size:16px;
	color:#034f84;
	padding-top:10px;
}
.border2px{
	border:none;
	/* --- edit*/
	padding:0;
}
.read-mores{
	color:#fff;
	padding-right:20px;
	padding-bottom:20px;
	text-transform:uppercase;
	font-weight:bold;
	float:right
}
.title-up li{
	display:inline;
	color:#fff
}
.title-up a{
	display:inline;
	padding-left:20px;
	color:#fff
}
.nav>li>a{
	padding:0
}
.nav-tabs>li{
	padding-right:40px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	color:#fff;
	background:transparent;
	border:0
}
.nav>li>a:hover, .nav>li>a:focus{
	background:transparent;
	border:1px solid transparent
}
.title-up1{
	padding-top:10px;
	color:#034f84
}
.pd-right-15{
	padding-right:15px
}
.no-padding-lbt{
	padding-left:0;
	padding-bottom:0;
	padding-right:0;
	padding-top:0
}
.color333{
	color:#333
}
.padding-left-30{
	padding-left:30px
}
.padding-left-20{
	padding-left:20px
}
.title-up .fa{
	padding-right:10px
}
.float-right{
	float:right;
	padding-right:20px
}
.title-up .fa-caret-down{
	padding-left:10px;
	padding-right:0
}
.comment-fb{
	padding-bottom:20px
}
.main-content{
	position:relative;
	height:auto;
	margin-left:auto;
	margin-right:auto
}
.main-content .carousel-home-1{
	border:2px solid #1d1d1b;

}
.form-control{
	width:110%
}
.no-padding{
	padding:0
}
.img-round img{
	border:1px solid #181717;
	z-index:999;
	border-radius:100px
}
.padding-top-10{
	padding-top:15px
}
@media screen and (min-width:992px){
	.tag-fb{
		background:#757575;
		color:#fff;
		padding: 0px 12px;
		border:1px solid #fff;
		border-radius:23px;
		font-size:17px
	}
	.tag-fbs a{
		margin-top:8px;
	}
}
@media screen and (min-width:481px) and (max-width:991px){
	.tag-fb{
		background:#757575;
		color:#fff;
		padding: 6px 12px;
		border:1px solid #fff;
		border-radius:20%;
		font-size:16px
	}
	.tag-fbs li{
		display:inline
	}
}
@media screen and (max-width:480px){
	.tag-fb{
		background:#757575;
		color:#fff;
		padding: 6px 12px;
		border:1px solid #fff;
		border-radius:20%;
		font-size:18px
	}
	.tag-fbs ul li{
		display:block;
		left:50%
	}
}
.icon-tags{
	padding-right:10px
}
.mg-right25{
	margin-right:25px
}
.padding-bottom-20{
	padding-bottom:20px
}
.line-height-50{
	line-height:50px
}
.nav-tabs {
    border-bottom:none;
}
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}
/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 30px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.reply-list:before, .reply-list:after {display: none;}
.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}

.mg-b0 {
	margin-right: 20px;
}
