.section-music {
  overflow: hidden; }
  .section-music .music {
    position: fixed;
    top: 42px;
    right: 0;
    bottom: 57px;
    max-width: 320px;
    width: 100%;
    z-index: 9;
    background-color: #f5f5f5;
    padding: 0 10px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: all .3s; }
    .section-music .music.active {
      transform: translateX(0); }
    .section-music .music .embed-song {
      margin-top: 10px;
      margin-bottom: 20px; }
      .section-music .music .embed-song iframe {
        width: 100%;
        height: auto; }
    .section-music .music .song-order {
      border-bottom: 1px solid #efefef;
      transition: all .3s;
      opacity: .75; }
      .section-music .music .song-order.active > .left .icon:before {
        display: none; }
      .section-music .music .song-order.active > .left .icon:after {
        display: block; }
      .section-music .music .song-order.active, .section-music .music .song-order:hover {
        background-color: #f5f5f5;
        opacity: 1; }
        .section-music .music .song-order.active > .left .icon, .section-music .music .song-order:hover > .left .icon {
          opacity: 1; }
      .section-music .music .song-order > .left {
        width: 55px;
        float: left;
        padding: 5px;
        background-color: #000;
        position: relative;
        z-index: 1; }
        .section-music .music .song-order > .left a {
          display: block; }
        .section-music .music .song-order > .left .icon {
          position: absolute;
          display: flex;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          opacity: 0;
          transition: all .2s; }
          .section-music .music .song-order > .left .icon:before {
            content: "\f01d";
            font-family: 'FontAwesome';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            font-size: 30px;
            color: #fff; }
          .section-music .music .song-order > .left .icon:after {
            content: "\f28c";
            font-family: 'FontAwesome';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            font-size: 30px;
            color: #fff;
            display: none; }
      .section-music .music .song-order > .right {
        float: left;
        width: calc(100% - 55px);
        padding-left: 10px; }
        .section-music .music .song-order > .right .song-name {
          margin-bottom: 0; }
          .section-music .music .song-order > .right .song-name a {
            text-decoration: none;
            color: #646464;
            font-size: 12px;
            line-height: 18px; }
  .section-music .playlist {
    position: fixed;
    z-index: 10;
    max-width: 320px;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 57px;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e; }
    .section-music .playlist .wrap {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative; }
    .section-music .playlist .controls {
      padding: 0 20px; }
      .section-music .playlist .controls > span {
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        display: inline-block;
        padding: 5px; }
      .section-music .playlist .controls .control {
        border-radius: 5px;
        border: 1px solid #e3e3e3; }
      .section-music .playlist .controls .play {
        font-size: 20px;
        margin-right: 20px;
        padding: 5px 10px;
        /* text-align: center;
        line-height: 40px;
        width: 40px;
        height: 40px; */ }
        .section-music .playlist .controls .play .fa-pause {
          display: none; }
        .section-music .playlist .controls .play.active .fa-play {
          display: none; }
        .section-music .playlist .controls .play.active .fa-pause {
          display: block; }
      .section-music .playlist .controls .forward {
        margin-right: 20px; }
    .section-music .playlist span.open-music {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 30px; }

/*# sourceMappingURL=music.css.map */
