.redm-blog .text-center-content-blog {
    padding: 20px 40px 50px 40px !important;
    font-family: "Lato-Regular", arial !important;/*Phông chữ */
}








/* begin radio button */

.step2-wrap input[type="radio"]+label {
    z-index: 100;
    transform: translate3d(0, 0, 0);
}



/* .step2-wrap input[type="radio"]+label {
    transform: none;
} */


/* 
[type="radio"]:checked+label::before {
    background: #F39200 !important;
}

[type="radio"]:checked+label::before,
[type="radio"]:not(:checked)+label::before {
    content: "";
    position: absolute;
    left: 2px !important;
    top: 2px !important;
    width: 22px !important;
    height: 21px !important;
    border-radius: 100% !important;
    background: #fff;
    border: none;
}

[type="radio"]:checked+label::after,
[type="radio"]:not(:checked)+label::after {
    content: "";
    width: 12px;
    height: 12px;
    background: #fff !important;
    border-radius: 100% !important;
    top: 6.7px;
    left: 6.8px;
    border: 4px solid #F39200;
} */


/*input[type="checkbox"] {
    /* display:none; */


}
*/ input[type="checkbox"]+label::before {
    color: #f2f2f2;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url("../img/check_radio_sheet.png") left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url("../img/check_radio_sheet.png") -19px top no-repeat;
}


/*input[type="radio"] {
    /* display:none; */

}
*/ input[type="radio"]+label::before {
    color:#f2f2f2;
    font-family:Arial,
    sans-serif;
}

input[type="radio"]+label span {
    display:inline-block;
    width:18px;
    height:18px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url("../img/check_radio_sheet.png") -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked+label span {
    background:url("../img/check_radio_sheet.png") -57px top no-repeat;
}






/* STYLE-EDIT */
.description {
    padding-left: 0 !important;
}
.profile-setting-detail .subscription-settings .form-subscription-settings .credit-card {
    background: rgba(0,
    0,
    0,
    0.4) none repeat scroll 0% 0%;
}
#app form textarea {
    padding: 20px 30px;
    width: 665px;
    height: 148px;
    background: rgba(0,
    0,
    0,
    0.4) none repeat scroll 0% 0%;
    color: rgb(255,
    255,
    255);
}
.redm-blog .text-center-content-blog {
    padding: 20px 30px 50px 30px !important;
}
.redm-blog .text-center-content-blog iframe {
    max-width: 100% !important;
}
.main-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#st-1 .st-btn {
    border-radius: 0 !important;
}
.listBlog {
    margin: 20px 15px !important;
}


/* reponsize banner propage */
@media (max-width: 320px) {
    .wrapper_main .propage-info div.banner_propage {
        background-size: 100% 190px !important;
        height: 240px !important;
    }
}
@media (min-width: 320px) and (max-width: 567px) {
    .wrapper_main .propage-info div.banner_propage {
        background-size: 100% 190px !important;
        height: 240px !important;
    }
}
@media (min-width: 568px) and (max-width: 767px) {
    .wrapper_main .propage-info div.banner_propage {
        background-size: 100% 300px !important;
        height: 350px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .wrapper_main .propage-info div.banner_propage {
        background-size: 100% 350px !important;
        height: 400px !important;
    }
}

/* BANNER_PROPAGE */
.wrapper_main .propage-info div.banner_propage {
    /* background-image: url('https://reclaimedm.com/beta/assets/uploads/images/2018/05/212b2a89d851c8942c63da65ef435631.png?r=1528096736'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 50px;
    /*background-size: 100% 530px;*/
    background-size: cover;
    height: 580px;
}
.wrapper_main .propage-info div.banner_propage>img {
    visibility: hidden;
}

/* ganeral */
#popup_container {
    transition: display .3s;
    transition: opacity .2s;
}
.popup_hidden {
    display: none !important;
}
.popup_left {
    left: 100% !important;
}
.text_w {
    color: #fff;
}

/* profile list */
.f-26 {
    font-size: 18px;
}
#list_main div:nth-child(1) ul.list_1,
#list_main div:nth-child(2) ul.list_2,
#list_main div:nth-child(3) ul.list_3 {
    background: #000;
    padding: 0 18px;
    height: 170px;
    font-size: 13px;
    margin-right: 20px;
}
#list_main div:nth-child(3) ul.list_3 {
    border-right: none;
    margin-right: 0;
}
#list_main div:nth-child(4) ul.list_end {
    padding: 0;
    width: 100%;
}
#list_main div:nth-child(4) ul.list_end>li {
    width: 115px;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 19px;
}
.wrapper_item {
    background: #1D1D1B;
}
#addevent.btn_addevent {
    background: #3C3B3C;
    outline: none;
    border: 1px solid #DB9600;
    border-radius: 15px;
}
.contact-profile .person-profile-info {
    height: 225px;
    border-right: 1px solid #fff;
    background: #000;
}
.contact-profile .person-profile-info:last-child {
    border-right: none;
}
.contact-profile .person-profile-info.fix_width_md {
    width: 30.3333333% !important;
}

/* SLIDESHOW */
.fix_container_slideshow {
    max-width: 970px !important;
}
.silde_showmain.bgxam {
    padding-top: 25px;
}
.fix_container_1368 {
    width: 1386px !important;
}
.slide_main {
    width: 100%;
    position: relative;
    display: block;
}
.slide_main .prev,
.slide_main .next {
    color: #fff;
    font-size: 150%;
    position: absolute;
    top: 38%;
    cursor: pointer;
    width: 30px;
    line-height: 50px;
    text-align: center;
}
.slide_main .prev:hover,
.slide_main .next:hover {
    background: rgba(0,
    0,
    0,
    0.4) none repeat scroll 0% 0%;
}
.slide_main .prev {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    left: -15px;
}
.slide_main .next {
    right: -15px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.slide_main .slideshow {
    width: 100%;
    display: none;
}
.slide_main .slideshow .dis_flex {
    display: flex;
}
.slide_main .slideshow figure {
    width: 20%;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.slide_main .slideshow figure .item_img {
    width: 100%;
    height: 100%;
}
.slide_main .slideshow figure .item_img img {
    width: 100%;
    cursor: pointer;
    z-index: 10;
}
.slide_main .slideshow figure .caption_slide {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    background: rgba(0,
    0,
    0,
    0.4) none repeat scroll 0% 0%;
    color: #fff;
    top: 0;
    cursor: pointer;
    transition: all .5s;
}
.slide_main .slideshow figure .add_slide {
    background: #EE0000;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 2px;
    height: 0;
    width: 25px;
    transition: all .5s;
}
.slide_main .slideshow figure .add_slide button {
    outline: none;
    border: none;
    background: none;
    color: #fff;
}
.slide_main .slideshow figure .caption_slide p {
    line-height: 35px;
    opacity: 0;
    transition: all .10s;
}
/* Animation */
.slide_ui {
    -webkit-animation-name: slide_ui;
    -webkit-animation-duration: 3s;
    animation-name: slide_ui;
    animation-duration: 3s;
}

@-webkit-keyframes slide_ui {
    from {
        opacity: 0.7
    }
    to {
        opacity: 1
    }
}

@keyframes slide_ui {
    from {
        opacity: 0.7
    }
    to {
        opacity: 1
    }
}
/* hover */
.slide_main .slideshow figure:hover .add_slide {
    height: 25px;
}
.slide_main .slideshow figure .add_slide:hover {
    background: #CC0000;
}
.slide_main .slideshow figure:hover .caption_slide {
    height: 35px;
}
.slide_main .slideshow figure:hover .caption_slide p {
    opacity: 1;
}

/* NEWSFEED */
.title_content {
    font-size: 30px;
}
.section-content-page .newsfeed {
    max-width: 1368px;
    margin: 0 auto;
}



/* #st-1 .st-btn:hover{
    opacity: 1 !important;
    top: 0 !important;
} */

.signup-right .signup-next-btn, .signup-right .signup-pre-btn, .login-right .signup-next-btn, .login-right .signup-pre-btn, .login-wrap .login-btn{
    background: none;
    border: 2px solid #f39200;
    color: #f39200;
}

@media (max-width: 767px) {
    html,body{
        width: 100%;
        overflow-x: hidden;
    }
    .redm-blog .text-center-content-blog iframe {
        height: auto !important;
    }
    .listBlog {
        position: absolute;
        margin: 20px 30px !important;
    }
    .parallax-container{
        background-size: contain !important;
        background-position: center top !important;
    }
    .signup-right .tab-content, .login-right .tab-content{
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (max-width: 767px) {
    body {
        font-family: "Lato-Regular";
        font-size: 15px !important;
    }
    .title h3 {                        /*Cập nhật lại */
        margin-top:9px;
        margin-bottom: 11px;
    } 
    hr {                               /*Cập nhật lại */
        margin-top:0px;
        margin-bottom: 5px;
    }

}
@media (max-width: 567px) {
    .text-center-content-blog p span em {
        font-size: 14px !important;
    }
}
#search_page {
    width: 100%;
    height: auto;
    margin: 0 !important;
}

#search_page .thongtintour {
    width: 65%;
    margin: 0 auto;
}

.form_search_music .search_music,
.form_search_music .close {
    margin-top: 15px;
}

/* begin popup transition */
.box-popup{
    transition: all 0s !important;
    transition: transform 0.2s !important;
}
.box-popup.active{
    transition: transform 0.3s !important;
}

.content-font_14 p{
     color:#E0DDDC;              /*---Change color-----*/
    font-size: 14px !important; 
    line-height: 20px !important;
}
.content-font_14 p *{
    font-size: 14px !important; 
    line-height: 20px !important;
}

/* SHARETHIS BUTTON */

/* .sharethis-inline-share-buttons_fix .st-custom-button[data-network] {
   display: inline-block;
   padding: 5px 10px;
   cursor: pointer;
   font-weight: bold;
   color: #fff;
}
.sharethis-inline-share-buttons_fix div:nth-child(1) .st-custom-button[data-network]{
    
} */

/* end radio button */
@media (min-width: 992px) {
    .redm-blog .title-classic h3 {
        font-size: 40px;
    }
    .main-content.redm-blog {
        margin-top: 25px !important;
    }
    .redm-blog .title-classic {
        margin-top: 15px;
    }
    /*box_content_newfeed*/
    .box-content-newfeed.newsfeed_propage {
        width: 80%;
        padding: 10px 70px;
        margin-left: auto;
        margin-right: auto;
    }
    .box-content-1.fix_boxcontent div.slick-track {
        width: 100% !important;
    }
    .box-content-1.fix_boxcontent div.slick-track div.slider-item {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .wrap-slide-text {
        display: none;
    }
}





@media screen and (max-width: 575px) {
    .title-url {
        color: #fff !important;
    }
    .bgblack {
        padding: 0 !important;
    }
    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .fix_pd_mb {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}


/* quick menu bottom */
@media screen and (max-width: 767px) {
    .top-menu {
        display: block !important;
    }
    .menu-profile .menu-style-social {
        position: fixed;
        z-index: 9999;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #b9131f;
    }
    .menu-profile .menu-style-social .search-social {
        width: 25% !important;
        padding: 5px 0;
        border: 1px solid #fff;
        border-bottom: 0;
        border-top: 0;
    }
    .menu-profile .menu-style-social .search-social:after {
        height: auto;
    }
    .menu-profile .menu-profile-right {
        display: none;
    }
    .menu-profile .login {
        display: none !important;
    }
    .top-menu .wrap-login .login {
        display: none !important;
    }
    /* menu full width */
    .mobile-menu .mobile-side-menu .mobile-side-menu-view .side-menu-top {
        width: 100% !important;
    }
    .mobile-menu .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu {
        padding-right: 0px !important;
    }
    .mobile-menu .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu>li {
        width: 100% !important;
        transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        -webkit-transform: translate(0, 0) !important;
    }
    .mobile-menu .mobile-side-menu ul.list-side-menu .menu-bar {
        transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        -webkit-transform: translate(0, 0) !important;
    }
    .mobile-menu .mobile-side-menu ul.list-side-menu .menu-bar .side-menu-item.mobile-login {
        padding-left: 25px !important;
    }
    .mobile-menu .mobile-side-menu .mobile-side-menu-view .side-menu-middle {
        width: 100% !important;
        padding-right: 20px !important;
    }
    .mobile-menu .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-search {
        max-width: none !important;
    }
    .mobile-menu .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu {
        z-index: 100;
        position: absolute;
    }
    .mobile-menu .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right .menu-profile-toggle {
        width: 100% !important;
        position: absolute !important;
        z-index: 100 !important;
    }
    .logo a {
        text-align: center;
    }
    .logo a img {
        width: auto;
        display: inline-block;
    }

    #list_main div:nth-child(1) ul.list_1,
    #list_main div:nth-child(2) ul.list_2,
    #list_main div:nth-child(3) ul.list_3 {
        margin: auto !important;
    }
}


/*PROFILE SETTING*/
.profile-setting-detail .account-settings {
    max-width: 980px !important;
}

.rc-anchor-light {
    background: red;
}
.fixbody_capcha {
    top: -75px;
}