/* set up */
@font-face {
  font-family: 'Lato-Regular';
  src: url("../css/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Lato-Regular.woff") format("woff"), url("../css/fonts/Lato-Regular.ttf") format("truetype"), url("../css/fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FjallaOne';
  src: url("../css/fonts/FjallaOne.eot?#iefix") format("embedded-opentype"), url("../css/fonts/FjallaOne.otf") format("opentype"), url("../css/fonts/FjallaOne.woff") format("woff"), url("../css/fonts/FjallaOne.ttf") format("truetype"), url("../css/fonts/FjallaOne.svg#FjallaOne") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PatuaOne-Regular';
  src: url("../css/fonts/PatuaOne-Regular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/PatuaOne-Regular.otf") format("opentype"), url("../css/fonts/PatuaOne-Regular.woff") format("woff"), url("../css/fonts/PatuaOne-Regular.ttf") format("truetype"), url("../css/fonts/PatuaOne-Regular.svg#FjallaOne") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
   Typography
   ========================================================================== */
/* font size */
/* font family */
/*
   Colors
   ========================================================================== */
/*
   Grid
   ========================================================================== */
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.display-flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*
   Other
   ========================================================================== */
.clear-fix {
  clear: both; }

/* button slider */
.carousel-prev,
.carousel-next {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #b2b2b2;
  font-size: 45px;
  cursor: pointer; }
  .carousel-prev .fa,
  .carousel-next .fa {
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition-delay: 0.15s; }

.carousel-prev {
  left: 20px; }

.carousel-next {
  right: 20px; }

body {
  font-family: "Lato-Regular";
  font-size: 16px; }

a:hover, a:focus {
  text-decoration: none;
  color: #1d1d1b;
  outline: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

/* function and animation */
/*
	  1=> block-center 
		2=> image background center
		3=> draw and gradient 
 		4=> placeholder
 		5=> after and before 
		6=> animation
		
*/
/*-----------------------------------------------------------------
						1=>block-center 
				@include center-block;
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
						2=> image background center 
				@include background-image;
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
						3=> draw and gradient 
				@include css-triangle(red , up)
-----------------------------------------------------------------*/
/* @include gradient(red , yellow , gray)  */
/*-----------------------------------------------------------------
						4=> PLACEHOLDER
				@include input-placeholder
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
						5=> after and before
				@include pseudo;
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
						6=> animation
				@include keyframes(run-left){
					0%{
						left:0;
					}
					100%{
						left:100;
					}
				}
-----------------------------------------------------------------*/
/* ==========================================================================
   ANIMATIONS
   ========================================================================== */
@keyframes intro {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* menu */
.top-menu {
  display: block;
  background: #1d1d1b;
  width: 100%;
  min-height: 30px;
  z-index: 2;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  @media (max-width: 991px) {
    .top-menu {
      height: 50px; } }

/* -----logo-------- */
.logo {
  max-width: 125px;
  height: auto; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%; }
    .logo a img {
      width: 100%;
      height: 100%; }
  @media (max-width: 991px) {
    .logo {
      height: 50px;
      padding-top: 0;
      width: 100%; } }
  @media (max-width: 480px) {
    .logo {
      margin-left: 50px; } }

/* -----slide text -------- */
.wrap-slide-text {
  overflow: hidden; }

.slide-text {
  text-transform: uppercase;
  width: 100%; }
  .slide-text .run-text {
    display: inline-block;
    padding: 10px 15px;
    color: #f39200; }
    @media (max-width: 991px) {
      .slide-text .run-text {
        display: none; } }

/* -----text logo-------- */
.text-logo {
  color: #fff;
  padding: 10px 30px 10px 35px;
  max-width: 250px;
  position: relative; }
  .text-logo .text-logo-item {
    display: block;
    position: relative; }
    @media (max-width: 480px) {
      .text-logo .text-logo-item {
        display: none; } }
  .text-logo .text-logo-item:before {
    content: "";
    display: block;
    position: absolute;
    padding-right: 3px;
    background: #fff;
    height: 100%;
    right: -15px;
    top: 0; }
  .text-logo a {
    color: #fff; }

/* -----login and social-------- */
.wrap-login {
  padding-top: 10px;
  padding-bottom: 10px; }
  @media (max-width: 991px) {
    .wrap-login {
      padding-top: 13px; } }
  .wrap-login .power-off-login {
    height: 22px;
    width: 22px;
    background-color: #74DF1B;
    text-align: center;
    border-radius: 50%; }
    .wrap-login .power-off-login .fa {
      color: #000; }
  .wrap-login .signup,
  .wrap-login .login, .wrap-login .name-user-logined, .wrap-login .menu-profile-right {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff; }
    .wrap-login .signup a,
    .wrap-login .login a, .wrap-login .name-user-logined a, .wrap-login .menu-profile-right a {
      color: #fff; }
  .wrap-login .login:before {
    content: "";
    display: block;
    position: absolute;
    padding-right: 3px;
    background: #fff;
    right: 70px;
    top: 11px;
    height: 20px; }
  .wrap-login .social-item {
    padding-left: 10px;
    padding-right: 10px;
    color: #f39200; }
    @media (max-width: 767px) {
      .wrap-login .social-item {
        display: none; } }
    .wrap-login .social-item:hover {
      color: #f39200; }
  .wrap-login .signup {
    position: relative; }
    .wrap-login .signup:after {
      content: "";
      display: block;
      position: absolute;
      padding-right: 3px;
      background: #fff;
      height: 100%;
      left: 0;
      top: 0; }
      @media (max-width: 991px) {
        .wrap-login .signup:after {
          display: none; } }

/* -----icon menu mobile-------- */
@media (min-width: 992px) {
  .top-menu .icon-show-menu-mobile {
    display: none; } }

.icon-show-menu-mobile {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  margin-right: 15px;
  cursor: pointer; }

.side-menu {
  display: none;
  position: fixed;
  top: 42px;
  height: calc(100% - 40px);
  overflow: hidden;
  width: 300px;
  z-index: 2;
  transform: translatex(calc(-100% + 100px));
  -webkit-transform: translatex(calc(-100% + 100px));
  -o-transform: translatex(calc(-100% + 100px));
  -moz-transform: translatex(calc(-100% + 100px));
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .side-menu::-o-scrollbar {
    display: none; }
  .side-menu::-o-scrollbar-button {
    display: none; }
  .side-menu::-o-scrollbar-track {
    display: none; }
  .side-menu::-o-scrollbar-track-piece {
    display: none; }
  .side-menu::-o-scrollbar-thumb {
    display: none; }
  .side-menu::-o-scrollbar-corner {
    display: none; }
  .side-menu::-o-resizer {
    display: none; }
  .side-menu::-webkit-scrollbar {
    display: none; }
  .side-menu::-webkit-scrollbar-button {
    display: none; }
  .side-menu::-webkit-scrollbar-track {
    display: none; }
  .side-menu::-webkit-scrollbar-track-piece {
    display: none; }
  .side-menu::-webkit-scrollbar-thumb {
    display: none; }
  .side-menu::-webkit-scrollbar-corner {
    display: none; }
  .side-menu::-webkit-resizer {
    display: none; }
  @media (max-width: 991px) {
    .side-menu {
      top: 50px;
      transform: translatex(-100%);
      -webkit-transform: translatex(-100%);
      -o-transform: translatex(-100%);
      -moz-transform: translatex(-100%); } }
  .side-menu.active {
/*     transform: translatex(0);
 -webkit-transform: translatex(0);
 -o-transform: translatex(0);
 -moz-transform: translatex(0); */ }
    .side-menu.active ul.list-side-menu a {
      opacity: 1; 
    }
    .side-menu.active .wrap-trending .item-trending {
      opacity: 1; }
    .side-menu.active .mobile-social {
      border-bottom: 1px solid #fff; }
  .side-menu .mobile-social {
    padding: 5px 0;
    background-color: #575756; }
  .side-menu .mobile-social a {
    color: #fff;
    line-height: 2;
    padding: 0 17px; }
    .side-menu .mobile-social a:hover .fa {
      font-size: 19px; }
  .side-menu .wrap-login .social-item {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff; }
  .side-menu .side-menu-top {
    width: 300px; }
  .side-menu .side-menu-middle {
    background: #575756;
    width: 250px; }
  .side-menu .side-menu-view {
    height: 100%;
    overflow: auto;
    width: 320px; }

/* -----menu-------- */
ul.list-side-menu {
  padding-right: 50px; }
  ul.list-side-menu a.side-menu-link {
    display: block;
    color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    ul.list-side-menu a.side-menu-link:nth-child(6n + 2) {
      background: #be1622; }
    ul.list-side-menu a.side-menu-link:nth-child(6n + 3) {
      background: #a3195b; }
    ul.list-side-menu a.side-menu-link:nth-child(6n + 4) {
      background: #634e42; }
    ul.list-side-menu a.side-menu-link:nth-child(6n + 5) {
      background: #2d2e83; }
    ul.list-side-menu a.side-menu-link:nth-child(6n + 6) {
      background: #36a9e1; }
    ul.list-side-menu a.side-menu-link:nth-child(6n + 7) {
      background: #f9b233; }
    ul.list-side-menu a.side-menu-link:hover {
      width: 300px; }
      ul.list-side-menu a.side-menu-link:hover .img-mobile-search {
        transform: translateX(50px); }
    ul.list-side-menu a.side-menu-link li.side-menu-item {
      width: 250px;
      text-align: right;
      color: #fff;
      padding: 10px 25px 10px 10px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0; }
      ul.list-side-menu a.side-menu-link li.side-menu-item:hover {
        width: 300px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
    ul.list-side-menu a.side-menu-link .mobile-search {
      width: 100%;
      height: 40px;
      padding-left: 15px;
      padding-right: 15px;
      outline: none;
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      background: #1d1d1b;
      position: relative; }
      ul.list-side-menu a.side-menu-link .mobile-search.placeholder {
        color: #fff;
        text-align: right; }
      ul.list-side-menu a.side-menu-link .mobile-search:-moz-placeholder {
        color: #fff;
        text-align: right; }
      ul.list-side-menu a.side-menu-link .mobile-search::-moz-placeholder {
        color: #fff;
        text-align: right; }
      ul.list-side-menu a.side-menu-link .mobile-search:-ms-input-placeholder {
        color: #fff;
        text-align: right; }
      ul.list-side-menu a.side-menu-link .mobile-search::-webkit-input-placeholder {
        color: #fff;
        text-align: right; }
    ul.list-side-menu a.side-menu-link .img-mobile-search {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 65px;
      top: 8px;
      opacity: 0; }

/* -----trending-------- */
.wrap-trending {
  color: #fff;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 25px; }
  .wrap-trending .title-trending {
    color: #ededed;
    margin-left: 10px; }
  .wrap-trending .item-trending {
    display: inline-block;
    line-height: 1.8;
    margin-left: 10px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .wrap-trending .item-trending:before {
      content: "#";
      color: #ededed; }
    .wrap-trending .item-trending a {
      color: #ededed; }
      .wrap-trending .item-trending a:hover {
        color: #f39200; }

/* -----ad side -------- */
.side-ad {
  padding: 10px 25px 20px 25px; }
  .side-ad img {
    width: 100%; }

/* -----scroll bar-------- */
.side-menu::-webkit-scrollbar {
  width: 5px;
  background-color: #575756; }

.side-menu::-webkit-scrollbar-thumb {
  background-color: #1d1d1b;
  border-radius: 50px; }

/* -----wrap side menu */
.wrap-side-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8); }
  .wrap-side-menu.active {
    display: block; }
  @media (min-width: 992px) {
    .wrap-side-menu {
      display: none; } }

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }

.mobile-top-menu {
  background: #1d1d1b;
  height: 50px; }
  .mobile-top-menu .logo {
    height: 50px;
    padding-top: 0;
    width: 100%; }
  .mobile-top-menu .text-logo {
    padding-top: 13px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0; }
    .mobile-top-menu .text-logo .text-logo-item:before {
      display: none; }
  .mobile-top-menu .wrap-login {
    padding-top: 13px; }
    .mobile-top-menu .wrap-login .signup:after {
      display: none; }
  .mobile-top-menu .icon-show-menu-mobile {
    width: 80px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    cursor: pointer; }
  .mobile-top-menu .slide-text {
    margin-left: 15px; }
    .mobile-top-menu .slide-text .run-text {
      padding-top: 13px;
      padding-bottom: 13px;
      display: inline-block; }
  @media (max-width: 767px) {
    .mobile-top-menu .wrap-slide-text {
      display: none; } }

.wrap-slide-text.show-on-mobile {
  background: #1d1d1b;
  width: 100% !important;
  display: none; }
  @media (max-width: 991px) {
    .wrap-slide-text.show-on-mobile {
      display: block; } }
  .wrap-slide-text.show-on-mobile .slide-text {
    margin-left: 15px; }
    .wrap-slide-text.show-on-mobile .slide-text .run-text {
      padding-top: 7px;
      padding-bottom: 7px;
      display: inline-block; }

.mobile-side-menu {
  font-family: FjallaOne;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 300px;
  overflow: hidden;
  z-index: 3;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  /* -----scroll bar-------- */ }
  .mobile-side-menu.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0); }
  .mobile-side-menu ul, .mobile-side-menu li {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .mobile-side-menu .mobile-side-menu-view {
    height: 100%;
    overflow: auto;
    width: 321px; }
    .mobile-side-menu .mobile-side-menu-view .side-menu-top {
      width: 300px; }
      .mobile-side-menu .mobile-side-menu-view .side-menu-top ul {
        width: 100%;
        /* overflow: hidden; */
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s; }
        .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined {
          padding: 10px 15px 10px 15px;
          width: calc(100% - 25px) !important;
          color: #fff;
          text-align: right; }
        .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu {
          background-color: grey; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right {
            cursor: pointer; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right .click-menu-profile i {
              margin-left: 5px; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right .menu-profile-toggle {
              width: 230px;
              margin-top: 11px; }
              .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right .menu-profile-toggle .profile-title {
                padding: 10px 10px 10px 10px;
                background-color: grey;
                border-bottom: 1px solid #f5f5f5; }
                .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right .menu-profile-toggle .profile-title.active {
                  background: #f39200;
                  color: #fff; }
                .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right .menu-profile-toggle .profile-title:last-child {
                  border-bottom: none; }
                .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right .menu-profile-toggle .profile-title:hover {
                  background: #fff;
                  color: #000;
                  padding-left: 20px; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul .mobile-user-logined-menu .menu-profile-right .profile-logout input {
              background-color: transparent;
              border: none; }
      .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu {
        padding-right: 50px; }
        .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link {
          display: block;
          color: #fff;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:nth-child(6n + 3) {
            background: #be1622; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:nth-child(6n + 4) {
            background: #a3195b; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:nth-child(6n + 5) {
            background: #634e42; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:nth-child(6n + 6) {
            background: #2d2e83; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:nth-child(6n + 7) {
            background: #36a9e1; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:nth-child(6n + 8) {
            background: #f9b233; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:hover {
            width: 300px; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link li.side-menu-item {
            width: 250px;
            text-align: right;
            color: #fff;
            padding: 10px 25px 10px 10px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            opacity: 0; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link li.side-menu-item:hover {
              width: 300px;
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -ms-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link li.side-menu-item .power-off-login {
              line-height: 26px; }
              .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link li.side-menu-item .power-off-login .fa {
                font-size: 26px; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-search {
            width: 100%;
            height: 40px;
            padding-left: 6px;
            padding-right: 35px;
            outline: none;
            border: 1px solid #fff;
            background: transparent;
            color: #fff;
            border-radius: 0;
            background: #1d1d1b; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-search.placeholder {
              color: #fff;
              text-align: right; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-search:-moz-placeholder {
              color: #fff;
              text-align: right; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-search::-moz-placeholder {
              color: #fff;
              text-align: right; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-search:-ms-input-placeholder {
              color: #fff;
              text-align: right; }
            .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-search::-webkit-input-placeholder {
              color: #fff;
              text-align: right; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .img-mobile-search {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 25%;
            opacity: 1;
            right: 25px; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-search-style {
            background-color: transparent;
            position: relative; }
          .mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link .mobile-login {
            background-color: #1d1d1b; }
    .mobile-side-menu .mobile-side-menu-view .side-menu-middle {
      background: #1d1d1b;
      width: 250px; }
  .mobile-side-menu .wrap-trending .item-trending {
    opacity: 1; }
  .mobile-side-menu ul.list-side-menu li.side-menu-item a {
    opacity: 1; }
  .mobile-side-menu::-webkit-scrollbar {
    width: 5px;
    background-color: #575756; }
  .mobile-side-menu::-webkit-scrollbar-thumb {
    background-color: #1d1d1b;
    border-radius: 50px; }
  @media (min-width: 1025px) {
    .mobile-side-menu .mobile-signup, .mobile-side-menu .mobile-login, .mobile-side-menu .mobile-social, .mobile-side-menu .mobile-search {
      display: none; } }
  .mobile-side-menu .mobile-signup, .mobile-side-menu .mobile-login {
    padding: 10px 25px 10px 10px;
    line-height: 2; }
  .mobile-side-menu .mobile-signup {
    color: #fff;
    line-height: 2;
    background: #1d1d1b; }
  .mobile-side-menu .mobile-signup a, .mobile-side-menu .mobile-login a {
    color: #fff; }
  .mobile-side-menu .mobile-social {
    border-bottom: 1px solid;
    padding: 6px 0;
    background: #1d1d1b; }
  .mobile-side-menu .mobile-social a {
    color: #fff;
    line-height: 2;
    padding: 0 20px; }
  .mobile-side-menu .mobile-login.pull-right {
    font-family: FjallaOne; }

/*--------------- right menu --------------*/
.mobile-menu-right-icon {
  line-height: 50px;
  color: #fff;
  padding-right: 15px;
  cursor: pointer; }

.mobile-right-menu {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #1d1d1b;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%);
  -moz-transform: translateY(100%); }
  .mobile-right-menu.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0); }
  .mobile-right-menu .display-table {
    display: table;
    width: 100%;
    height: 100%; }
  .mobile-right-menu .display-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .mobile-right-menu .mobile-wrap-right-menu {
    max-width: 330px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
  .mobile-right-menu .mobile-login {
    color: #fff;
    line-height: 2; }

.wrapper-footer {
  background: #1d1d1b; }

footer {
  position: relative; }

.container-footer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.widget-list-link li a {
  color: #fff; }

.logo-footer {
  display: block;
  margin-top: 20px;
  text-align: center; }

@media (min-width: 992px) {
  .logo-footer {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%); } }
/*--------------- sign up --------------*/
.signup {
  color: #fff;
  padding-right: 15px;
  cursor: pointer; }

.signup-right, .login-right {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba( 60,60,59,0.93);
  visibility: hidden;
  opacity: 0.98;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  /*---------------------------------------------
  	CSS For right side advertisement
  -----------------------------------------------*/
  /*----------- step 1 -----------------------*/
  /*----------- step 2 -----------------------*/
  /*----------- step 3-----------------------*/ }
  .signup-right.active, .login-right.active {
    transform: translateY(0%);
    visibility: visible;
    opacity: 1; }
  .signup-right .container, .login-right .container {
    height: 100%; }
  .signup-right .display-table, .login-right .display-table {
    display: table;
    width: 100%;
    height: 100%; }
  .signup-right .display-table-cell, .login-right .display-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .signup-right .signup-wrap, .login-right .signup-wrap {
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
  .signup-right .signup-form, .login-right .signup-form {
    position: relative;
    overflow: hidden; }
  .signup-right .formget, .login-right .formget {
    float: right;
    margin-top: 30px; }
  .signup-right .signup-form, .login-right .signup-form {
    height: 100%; }
  .signup-right .tab-content, .login-right .tab-content {
    color: #fff;
    height: calc(100% - 42px);
    overflow: hidden; }
    .signup-right .tab-content > *, .login-right .tab-content > * {
      width: calc(100% + 20px);
      height: 100%;
      overflow: auto;
      overflow-x: hidden; }
  .signup-right .nav-tabs > li > a, .login-right .nav-tabs > li > a {
    color: white;
    font-family: FjallaOne;
    text-transform: uppercase; }
  .signup-right .nav-tabs > li.active > a, .signup-right .nav-tabs > li.active > a:hover, .signup-right .nav-tabs > li.active > a:focus, .login-right .nav-tabs > li.active > a, .login-right .nav-tabs > li.active > a:hover, .login-right .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: none;
    color: #1d1d1b; }
  .signup-right .nav-tabs > li > a:hover, .signup-right .nav-tabs > li > a:focus, .login-right .nav-tabs > li > a:hover, .login-right .nav-tabs > li > a:focus {
    text-decoration: none;
    background-color: transparent; }
  .signup-right .nav-tabs > li > a:hover, .login-right .nav-tabs > li > a:hover {
    border: none;
    background-color: none; }
  .signup-right .nav-tabs > li > a, .login-right .nav-tabs > li > a {
    border: none; }
  .signup-right .nav-tabs > li:last-child > a, .login-right .nav-tabs > li:last-child > a {
    color: #f39200; }
  .signup-right .section-form, .login-right .section-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba( 60,60,59,1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -moz-transform: translateX(100%); }
    .signup-right .section-form.active, .login-right .section-form.active {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -o-transform: translateX(0%);
      -moz-transform: translateX(0%); }
  .signup-right .close-signup, .signup-right .close-login, .login-right .close-signup, .login-right .close-login {
    float: right;
    right: 3%; }
  .signup-right .title-step, .login-right .title-step {
    text-transform: uppercase;
    color: #9d9d9c;
    margin-left: 70px;
    font-family: FjallaOne;
    font-size: 16px; }
    @media (max-width: 480px) {
      .signup-right .title-step, .login-right .title-step {
        margin-left: 0; } }
  .signup-right .title-step.style-1, .login-right .title-step.style-1 {
    transform: translateX(45%); }
  .signup-right .step1-wrap, .login-right .step1-wrap {
    max-width: 260px;
    margin-right: auto;
    margin-left: auto; }
  .signup-right .step2-wrap, .login-right .step2-wrap {
    max-width: 151px;
    margin-right: auto;
    margin-left: auto; }
  .signup-right .step1, .login-right .step1 {
    text-align: center;
    max-width: 315px;
    display: block; }
  .signup-right .step1 input, .login-right .step1 input {
    max-width: 260px;
    width: 100%;
    height: 35px;
    color: #303030; }
  .signup-right .step2, .login-right .step2 {
    text-transform: capitalize;
    display: block; }
  .signup-right .des-step-2, .login-right .des-step-2 {
    position: absolute;
    left: 40%;
    top: 0;
    color: #9d9d9c; }
    @media (max-width: 480px) {
      .signup-right .des-step-2, .login-right .des-step-2 {
        left: 0;
        top: 7%; } }
  .signup-right .step2 ul li, .login-right .step2 ul li {
    font-family: FjallaOne;
    text-transform: uppercase; }
  .signup-right .step2 ul li a, .login-right .step2 ul li a {
    color: #fff; }
  .signup-right .step2 input[type="radio" i], .login-right .step2 input[type="radio" i],
  .signup-right .step2 input[type="checkbox" i], .login-right .step2 input[type="checkbox" i]{
    margin: 3px 5px 0px 5px; }
  .signup-right .step2 input[type="radio"], .login-right .step2 input[type="radio"],
  .signup-right .step2 input[type="checkbox"], .login-right .step2 input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
    width: 29px;
    height: 25px;
    position: absolute;
    z-index: 1;
     }
/*  style radio button*/
     


/* end*/


  .signup-right .step3, .login-right .step3 {
    overflow: hidden; }
    @media (max-width: 768px) {
      .signup-right .step3, .login-right .step3 {
        margin-right: auto;
        margin-left: auto;
        max-width: 475px; } }
  .signup-right .step3 .step3-input input, .signup-right .step3 .step3-input textarea, .login-right .step3 .step3-input input, .login-right .step3 .step3-input textarea {
    width: 100%;
    height: 35px;
    resize: none;
    color: #000; }
  .signup-right .step3 label, .login-right .step3 label {
    text-transform: uppercase;
    width: 200px; }
  .signup-right .step3 .step3-input, .login-right .step3 .step3-input {
    margin-top: 10px;
    max-width: 390px;
    margin-right: auto;
    margin-left: auto; }
  
  .w-100pt{
    width: 100% !important;
    max-width: 100% !important;
  }
  .title-step6{
    margin-left: -30px;
  }
  @media (min-width: 576px){
    .col-sm-4-step6{
      position: relative;
      min-height: 1px;
      padding-left: 12px;
      padding-right: 15px;
      float: left;
      width: 33.33333333%;
    }
    .col-sm-4-step5{
      position: relative;
      min-height: 1px;
      padding-left: 12px;
      padding-right: 15px;
      float: left;
      width: 25%;
    }
     .signup-right .step6, .w-100-step6{
      width: 100% !important;
      max-width: 100% !important;
    }
    .title-step6{
      margin-left: 0;
      text-align: center;
    }
    .one-row-step6{
      max-width: 172px;
      margin: auto;
    }
  }
  .signup-right .step6{
    margin-right: auto;
    margin-left: auto;
  }  
  .signup-right .step7{
    margin: auto;
    width: 80%;
  }
  .signup-right .signup-save-btn, .login-right .signup-save-btn {
    position: absolute;
    right: 6%;
    top: 25px;
    text-transform: uppercase;
    font-family: FjallaOne;
    color: #009fe3;
    background-color: transparent;
    border: none;
    outline: none;
    width: 70px;
    height: 40px; }
    @media (max-width: 480px) {
      .signup-right .signup-save-btn, .login-right .signup-save-btn {
        top: 20px; } }
  .signup-right .signup-next-btn, .signup-right .signup-pre-btn, .login-right .signup-next-btn, .login-right .signup-pre-btn {
    color: white;
    width: 100px;
    height: 40px;
    background-color: #f39200;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none; }
  .signup-right .btn-pre-next, .login-right .btn-pre-next {
    display: block;
    text-align: center;
    margin-top: 40px; }
  .signup-right .error, .login-right .error {
    top: 10%;
    text-transform: initial;
    color: #f39200; }
    @media (max-width: 480px) {
      .signup-right .error, .login-right .error {
        top: 17%;
        left: 0;
        text-transform: initial;
        color: #f39200; } }
  .signup-right .step2 .error, .login-right .step2 .error {
    position: absolute;
    left: 40%;
    text-transform: initial;
    color: #f39200; }
  .signup-right .signup-submit-btn, .login-right .signup-submit-btn {
    color: white;
    width: 100px;
    height: 40px;
    background-color: #f39200;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none;
    margin-left: 20px; }

.login-wrap {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px; }
  .login-wrap .login-left .login-style {
    text-align: center;
    max-width: 315px;
    margin-right: auto;
    margin-left: auto; }
    .login-wrap .login-left .login-style input {
      max-width: 260px;
      width: 100%;
      height: 35px;
      color: #303030; }
  .login-wrap .login-left .login-checkbox {
    margin-top: 10px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto; }
  .login-wrap .login-btn {
    color: white;
    width: 100px;
    height: 40px;
    background-color: #f39200;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none; }
  .login-wrap .login-type {
    margin-top: 11%;
    margin-bottom: 20px;
    padding: 20px 30px; }
  .login-wrap .login-with-fb {
    background-color: #3b5998;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    display: inline-block; }
  .login-wrap .login-with-gg {
    background-color: #db4437;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    display: inline-block; }
  .login-wrap .login-with-fb:hover, .login-wrap .login-with-gg:hover {
    background-color: #000; }
  .login-wrap .forgot-link {
    text-align: center;
    color: #f39200;
    cursor: pointer; }
    .login-wrap .forgot-link:hover {
      color: #fff; }
  .login-wrap .btn-pre-next {
    width: 100%;
    clear: both; }
  .login-wrap .frm-error {
    border: 2px solid #db4437; }

.popup-modal-signup .modal-dialog {
  margin: 170px auto; }
.popup-modal-signup .btn-pre-next .login-btn {
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #f39200;
  border: none;
  border-radius: 30px;
  outline: none; }
.popup-modal-signup .modal-body .forgot-content {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
.popup-modal-signup .modal-body input {
  width: 100%;
  max-width: 260px;
  height: 40px; }
.popup-modal-signup .modal-backdrop {
  display: none; }

.line-login {
  width: 1px;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 49.4%;
  top: 18%; }
  @media (max-width: 480px) {
    .line-login {
      display: none; } }

input {
  outline: none; }

.menu-profile-toggle {
  display: none;
  position: absolute;
  margin-top: 7px; }
  @media (max-width: 1066px){
    .menu-profile-toggle {
      left: 0;
    }
  }
  .menu-profile-toggle:active {
    display: block; }

.menu-profile {
  color: #fff; }
  .menu-profile .menu-profile-right {
    cursor: pointer; }
    .menu-profile .menu-profile-right .click-menu-profile i {
      margin-right: 3px; }
    .menu-profile .menu-profile-right .menu-profile-toggle {
      width: 230px; }
      .menu-profile .menu-profile-right .menu-profile-toggle .profile-title {
        padding: 10px 0px 10px 10px;
        background-color: grey;
        border-bottom: 1px solid #f5f5f5; }
        .menu-profile .menu-profile-right .menu-profile-toggle .profile-title.active {
          background: #f39200;
          color: #fff; }
        .menu-profile .menu-profile-right .menu-profile-toggle .profile-title:last-child {
          border-bottom: none; }
        .menu-profile .menu-profile-right .menu-profile-toggle .profile-title:hover {
          background: #fff;
          color: #000;
          padding-left: 20px; }
    .menu-profile .menu-profile-right .profile-logout input {
      background-color: transparent;
      border: none; }
  .menu-profile .menu-style-social .search-social {
    width: 50px;
    text-align: center;
    position: relative; }
    .menu-profile .menu-style-social .search-social span {
      position: relative;
      z-index: 2; }
      .menu-profile .menu-style-social .search-social span img {
        width: 100%;
        max-width: 15px;
        cursor: pointer; }
    .menu-profile .menu-style-social .search-social:after {
      content: "";
      display: block;
      position: absolute;
      top: -16px;
      left: 4px;
      width: 70px;
      height: 24px;
      border-radius: 20px;
      background: #b9131f;
      z-index: 1;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg); }

.profile-tickets-detail, .profile-view-detail, .profile-setting-detail {
  position: fixed;
  top: 42px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3c3c3b;
  transition: all 0.5s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  opacity: 0.98;
  /*---------------------------------------------
  	CSS For right side advertisement
  -----------------------------------------------*/ }
  @media (max-width: 991px) {
    .profile-tickets-detail, .profile-view-detail, .profile-setting-detail {
      top: 0; } }
  .profile-tickets-detail.active, .profile-view-detail.active, .profile-setting-detail.active {
    transform: translateY(0%); }
  .profile-tickets-detail .container, .profile-view-detail .container, .profile-setting-detail .container {
    height: 100%; }
  .profile-tickets-detail .display-table, .profile-view-detail .display-table, .profile-setting-detail .display-table {
    display: table;
    width: 100%;
    height: 100%; }
  .profile-tickets-detail .display-table-cell, .profile-view-detail .display-table-cell, .profile-setting-detail .display-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .profile-tickets-detail .profile-wrap, .profile-view-detail .profile-wrap, .profile-setting-detail .profile-wrap {
    overflow: hidden;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    @media (max-width: 768px) {
      .profile-tickets-detail .profile-wrap, .profile-view-detail .profile-wrap, .profile-setting-detail .profile-wrap {
        padding-left: 15px; } }
    @media (max-width: 768px) {
      .profile-tickets-detail .profile-wrap .tab-profile, .profile-view-detail .profile-wrap .tab-profile, .profile-setting-detail .profile-wrap .tab-profile {
        padding-top: 100px; } }
    .profile-tickets-detail .profile-wrap .tab-profile .close-profile, .profile-view-detail .profile-wrap .tab-profile .close-profile, .profile-setting-detail .profile-wrap .tab-profile .close-profile {
      float: right;
      right: 3%; }
    .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li > a, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li > a, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li > a {
      color: white;
      font-family: FjallaOne;
      text-transform: uppercase; }
    .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li.active > a, .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li.active > a:hover, .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li.active > a:focus, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li.active > a, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li.active > a:hover, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li.active > a:focus, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li.active > a, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li.active > a:hover, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li.active > a:focus {
      background-color: transparent;
      border: none;
      color: #1d1d1b; }
    .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li > a:hover, .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li > a:focus, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li > a:hover, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li > a:focus, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li > a:hover, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li > a:focus {
      text-decoration: none;
      background-color: transparent; }
    .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li > a:hover, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li > a:hover, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li > a:hover {
      border: none;
      background-color: none; }
    .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li > a, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li > a, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li > a {
      border: none; }
    .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs > li:last-child > a, .profile-view-detail .profile-wrap .tab-profile .nav-tabs > li:last-child > a, .profile-setting-detail .profile-wrap .tab-profile .nav-tabs > li:last-child > a {
      color: #f39200; }
    .profile-tickets-detail .profile-wrap .tab-content, .profile-view-detail .profile-wrap .tab-content, .profile-setting-detail .profile-wrap .tab-content {
      color: #fff;
      height: calc(100% - 42px);
      overflow: auto;
      padding-left: 15px;
      padding-right: 35px;
      width: calc(100% + 35px); }
      .profile-tickets-detail .profile-wrap .tab-content .btn-profile .submit-btn-profile, .profile-view-detail .profile-wrap .tab-content .btn-profile .submit-btn-profile, .profile-setting-detail .profile-wrap .tab-content .btn-profile .submit-btn-profile {
        color: #f39200;
        width: 100px;
        height: 40px;
        background-color: transparent;
        border: 2px solid #f39200;
        border-radius: 30px;
        outline: none; }

      .profile-tickets-detail .profile-wrap .tab-content .btn-profile .remove-btn-profile, .profile-view-detail .profile-wrap .tab-content .btn-profile .remove-btn-profile, .profile-setting-detail .profile-wrap .tab-content .btn-profile .remove-btn-profile {
        background-color: #f39200;
        border: 1px solid transparent;
        color: white;
        width: 200px;
        height: 40px;
        outline: none; }

.profile-tickets-detail .my-ticket table {
  max-width: 700px;
  width: 100%; }
  .profile-tickets-detail .my-ticket table tr {
    border-bottom: none; }
    .profile-tickets-detail .my-ticket table tr:first-child {
      border-bottom: 1px solid; }
    .profile-tickets-detail .my-ticket table tr td {
      padding-top: 10px; }
.profile-tickets-detail .my-ticket .line-ticket {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5; }
.profile-tickets-detail .ticket-faq .content-faq-style {
  background-color: #463131;
  padding: 20px;
  border-top: 1px solid; }
  .profile-tickets-detail .ticket-faq .content-faq-style .question {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
    color: #e06c6c; }
  .profile-tickets-detail .ticket-faq .content-faq-style .answer a {
    color: #f39200;
    cursor: pointer; }
    .profile-tickets-detail .ticket-faq .content-faq-style .answer a:hover {
      color: blue; }
.profile-tickets-detail .ticket-faq .menu-faq {
  background-color: grey; }
  .profile-tickets-detail .ticket-faq .menu-faq .menu-faq-center {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px; }
    .profile-tickets-detail .ticket-faq .menu-faq .menu-faq-center .description-ticket-faq {
      text-align: center; }
    .profile-tickets-detail .ticket-faq .menu-faq .menu-faq-center .list-faq {
      max-width: 215px;
      margin-left: auto;
      margin-right: auto; }
      .profile-tickets-detail .ticket-faq .menu-faq .menu-faq-center .list-faq a {
        color: #f39200; }
        .profile-tickets-detail .ticket-faq .menu-faq .menu-faq-center .list-faq a:hover {
          text-decoration: underline; }
.profile-tickets-detail .ticket-term .content-term-style {
  background-color: #463131;
  padding: 20px;
  border-top: 1px solid; }
  .profile-tickets-detail .ticket-term .content-term-style .answer a {
    color: #f39200;
    cursor: pointer; }
    .profile-tickets-detail .ticket-term .content-term-style .answer a:hover {
      color: blue; }

.profile-setting-detail .settings-left {
  max-width: 300px;
  float: left;
  width: 100%; }
.profile-setting-detail .settings-right {
  max-width: 300px;
  float: left;
  width: 100%; }
.profile-setting-detail .change-pwd {
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
  .profile-setting-detail .change-pwd .form-change-password input {
    max-width: 260px;
    width: 100%;
    height: 35px;
    color: #303030; }
  .profile-setting-detail .change-pwd .form-change-password label {
    text-align: center; }
.profile-setting-detail .subscription-settings {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .profile-setting-detail .subscription-settings .form-subscription-settings .newsletter-style {
    height: 35px;
    max-width: 300px;
    width: 100%;
    color: #000;
    margin-right: 10px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    float: left; }
    .profile-setting-detail .subscription-settings .form-subscription-settings .newsletter-style input {
      cursor: pointer;
      outline: none; }
  .profile-setting-detail .subscription-settings .form-subscription-settings select {
    height: 35px;
    width: 150px;
    color: #000;
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 15px;
    outline: none;
    cursor: pointer; }
    .profile-setting-detail .subscription-settings .form-subscription-settings select option {
      cursor: pointer; }
  .profile-setting-detail .subscription-settings .form-subscription-settings .credit-card {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    background-color: grey; }
    .profile-setting-detail .subscription-settings .form-subscription-settings .credit-card .card-details {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; }
      @media (max-width: 480px) {
        .profile-setting-detail .subscription-settings .form-subscription-settings .credit-card .card-details {
          padding-left: 15px;
          padding-right: 15px; } }
      .profile-setting-detail .subscription-settings .form-subscription-settings .credit-card .card-details input {
        color: #333;
        max-width: 500px;
        width: 100%;
        height: 35px;
        padding-left: 10px; }
      .profile-setting-detail .subscription-settings .form-subscription-settings .credit-card .card-details label {
        color: #fff; }
      .profile-setting-detail .subscription-settings .form-subscription-settings .credit-card .card-details select {
        max-width: 90px;
        width: 100%;
        height: 35px;
        margin-top: 0; }
.profile-setting-detail .privacy-settings {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto; }
  .profile-setting-detail .privacy-settings .form-privacy-settings {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    .profile-setting-detail .privacy-settings .form-privacy-settings a {
      color: #f39200;
      cursor: pointer; }
      .profile-setting-detail .privacy-settings .form-privacy-settings a:hover {
        color: #fff; }
    .profile-setting-detail .privacy-settings .form-privacy-settings select {
      height: 35px;
      max-width: 315px;
      width: 100%;
      color: #000;
      padding-left: 10px;
      outline: none;
      cursor: pointer; }
      .profile-setting-detail .privacy-settings .form-privacy-settings select option {
        cursor: pointer; }
.profile-setting-detail .account-settings {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto; }
  .profile-setting-detail .account-settings .form-account-settings .line-account-settings {
    width: 100%;
    height: 1px;
    background-color: #fff; }
  .profile-setting-detail .account-settings .form-account-settings .settings-profile-photo {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
    .profile-setting-detail .account-settings .form-account-settings .settings-profile-photo .up-avatar {
      width: 130px;
      background-color: grey;
      border: none;
      height: 35px;
      border-radius: 10px;
      line-height: 35px;
      text-align: center;
      cursor: pointer; }
    .profile-setting-detail .account-settings .form-account-settings .settings-profile-photo input {
      width: 300px;
      height: 35px;
      color: #000;
      resize: none; }
    .profile-setting-detail .account-settings .form-account-settings .settings-profile-photo input[type="file"] {
      display: none; }
  .profile-setting-detail .account-settings .form-account-settings .settings-country-avatar select {
    height: 35px;
    width: 280px;
    color: #000;
    padding-left: 10px;
    outline: none;
    cursor: pointer; }
    .profile-setting-detail .account-settings .form-account-settings .settings-country-avatar select option {
      cursor: pointer; }
  .profile-setting-detail .account-settings .form-account-settings .settings-country-avatar .account-settings-update {
    width: 100px;
    height: 35px;
    background-color: #f39200;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none;
    position: absolute;
    top: 22%;
    left: 55%; }
  .profile-setting-detail .account-settings .form-account-settings .settings-gender form {
    margin-left: 10%; }
    .profile-setting-detail .account-settings .form-account-settings .settings-gender form input {
      width: auto;
      height: auto; }
  .profile-setting-detail .account-settings .form-account-settings .settings-email select {
    height: 35px;
    width: 280px;
    color: #000;
    padding-left: 10px;
    outline: none;
    cursor: pointer; }
    .profile-setting-detail .account-settings .form-account-settings .settings-email select option {
      cursor: pointer; }
  .profile-setting-detail .account-settings .form-account-settings .settings-comment textarea {
    height: 100px;
    max-width: 580px;
    width: 100%;
    resize: none;
    color: #000; }
  .profile-setting-detail .account-settings .form-account-settings .settings-birth select {
    color: #000;
    width: 70px;
    height: 35px;
    margin-right: 10px;
    outline: none;
    cursor: pointer; }
    .profile-setting-detail .account-settings .form-account-settings .settings-birth select option {
      cursor: pointer; }
  .profile-setting-detail .account-settings .form-account-settings input {
    max-width: 280px;
    width: 100%;
    height: 35px;
    color: #303030; }
.profile-setting-detail .remove-account {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
.profile-setting-detail .delete-success {
  display: none; }

.profile-view-detail .profile-view-overview .profile-view-table table tr {
  border-bottom: 1px solid; }
  .profile-view-detail .profile-view-overview .profile-view-table table tr th {
    width: 170px; }
    .profile-view-detail .profile-view-overview .profile-view-table table tr th span {
      color: #b4b4b4; }
.profile-view-detail .profile-view-favourite .title {
  font-size: 26px;
  color: #fff;
  margin-bottom: 5px;
  border-bottom: 1px solid; }
.profile-view-detail .profile-view-favourite .title-view-favourite {
  float: right;
  margin-top: -36px;
  background-color: #f39200;
  width: 130px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer; }
  @media (max-width: 480px) {
    .profile-view-detail .profile-view-favourite .title-view-favourite {
      width: 100px; } }
.profile-view-detail .profile-view-favourite .content-view-favourite {
  display: none;
  padding-top: 20px;
  background-color: grey;
  margin-top: -5px;
  padding-left: 20px; }
  .profile-view-detail .profile-view-favourite .content-view-favourite select {
    height: 35px;
    width: 100%;
    max-width: 150px;
    color: #000;
    outline: none;
    margin-right: 50px;
    margin-bottom: 10px; }
    @media (max-width: 768px) {
      .profile-view-detail .profile-view-favourite .content-view-favourite select {
        margin-right: 5px; } }
    @media (max-width: 480px) {
      .profile-view-detail .profile-view-favourite .content-view-favourite select {
        margin-right: 85px; } }
  .profile-view-detail .profile-view-favourite .content-view-favourite input {
    width: 100px;
    height: 35px;
    background-color: #f39200;
    border: none;
    margin-bottom: 10px;
    margin-left: 80%; }
    @media (max-width: 480px) {
      .profile-view-detail .profile-view-favourite .content-view-favourite input {
        margin-left: 7%; } }
.profile-view-detail .profile-view-favourite .content-view-display {
  cursor: pointer;
  margin-top: 20px; }
  .profile-view-detail .profile-view-favourite .content-view-display .img-content img {
    width: 100%; }
  .profile-view-detail .profile-view-favourite .content-view-display .title-content-main {
    color: #f39200; }
  .profile-view-detail .profile-view-favourite .content-view-display .action-hover:before {
    background-color: transparent;
    display: block;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    float: left;
    margin: 5px 5px 0 0;
    height: 12px;
    width: 12px;
    content: "";
    border: 2px solid #fff; }
  .profile-view-detail .profile-view-favourite .content-view-display .action-hover:hover:before {
    background-color: #ffa200;
    border: none;
    height: 12px;
    width: 12px;
    content: "";
    margin-top: 5px; }

/* style */
body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3c3b3c;
  position: relative; }

.ad-single-image {
  width: 100%; }

.slider-item {
  overflow: hidden; }
  .slider-item img {
    width: 100%; }

.title {
  font-size: 26px;
  color: #fff;
  margin-bottom: 5px; }
  .title h3 span {
    background: #1d1d1b;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 26px;
    font-family: 'PatuaOne-Regular'; }

.menu {
  position: relative;
  z-index: 20; }

.main-content {
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;  }
  @media (max-width: 1199px) {
    .main-content {
      margin-left: 50px; } }
  @media (max-width: 991px) {
    .main-content {
      margin-left: auto; } }

.main-content.redm-blog {
  margin-top: 50px; }
  @media (max-width: 768px) {
    .main-content.redm-blog {
      margin-top: 30px; } }
.main-content1 {
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
z-index:999;  }
  @media (max-width: 1199px) {
    .main-content1 {
      margin-left: 50px; } }
  @media (max-width: 991px) {
    .main-content1 {
      margin-left: auto; } }

.main-content1.redm-blog {
  margin-top: 50px; }
  @media (max-width: 768px) {
    .main-content1.redm-blog {
      margin-top: 30px; } }
.text-content {
  background: #1d1d1b;
  color: #d9d9d9;
  /* margin-top: 10px; */
  word-spacing: 2px;
  /*padding-left: 10px;
  padding-right: 25px;*/ }
  .text-content p {
    margin-bottom: 0; }
  .text-content .read-more {
    float: right;
    display: block;
    font-size: 13px;
    color: #d9d9d9; }

.list-post .wrap-image {
  position: relative;
  padding-top: 55%;
  overflow: hidden;
  /*border: 1px solid #9d9d9d;*/ }
.list-post .image-post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  /*min-width: 100%;
  min-height: 100%;

  code dang fix*/
  width:100%;
  height: 100%; }
.list-post .text-content {
  word-spacing: initial;
 /* padding: 5px 5px 5px 10px; */
  padding: 10px;}

/*----------------blog------------*/
.redm-blog .list-post .slider-item {
  padding-left: 15px;
  padding-right: 15px;
  outline: none; }
.redm-blog .list-post .carousel-next {
  top: 50%;
  right: -20px;
  z-index: 444;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-size: 45px;
  z-index: 1; }
.redm-blog .list-post .carousel-prev {
  left: -20px;
  z-index: 444;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-size: 45px;
  z-index: 1; }
.redm-blog .title-classic {
  background: #1d1d1b;
  color: #fff;
  font-family: FjallaOne;
  font-size: 26px;
  padding: 1px 0 1px 5px;
  text-align: center;}
.redm-blog .title-classic h3 {
  margin: 5px 0;
  font-family: 'PatuaOne-Regular'; }
.redm-blog .text-content p {
  margin-bottom: 0;
  padding: 10px 0; }
.redm-blog .text-read-also {
  background: #be1622;
  color: #fff;
  font-family: 'PatuaOne-Regular';
  margin-top: 10px;
  padding: 3px 0 3px 5px; }
.redm-blog .content-center-blog {
  background: #1d1d1b;
  color: #fff; }
.redm-blog .comment-blog {
  background-color: grey;
  padding: 20px; }
  .redm-blog .comment-blog h2 {
    color: #fff; }
  .redm-blog .comment-blog .comment-next-prev {
    text-align: right; }
    .redm-blog .comment-blog .comment-next-prev .pagination-pix {
      display: inline-block;
      padding-left: 0; }
      .redm-blog .comment-blog .comment-next-prev .pagination-pix li {
        display: inline;
        text-align: center; }
        .redm-blog .comment-blog .comment-next-prev .pagination-pix li a {
          position: relative;
          float: left;
          line-height: 1.42857143;
          color: #333;
          background-color: #f39200;
          padding: 5px;
          margin: 2px; }
          .redm-blog .comment-blog .comment-next-prev .pagination-pix li a.first, .redm-blog .comment-blog .comment-next-prev .pagination-pix li a.last {
            width: 95px; }
          .redm-blog .comment-blog .comment-next-prev .pagination-pix li a:hover {
            background-color: #fff;
            color: #000; }
  .redm-blog .comment-blog .comment-write .name-conversation a {
    color: #f39200; }
    .redm-blog .comment-blog .comment-write .name-conversation a:hover {
      color: #fff; }
  .redm-blog .comment-blog .comment-write .comment-action {
    text-align: right; }
    .redm-blog .comment-blog .comment-write .comment-action input {
      width: 100px;
      height: 35px;
      background-color: #f39200;
      border: none; }
      .redm-blog .comment-blog .comment-write .comment-action input:hover {
        background-color: #fff; }
  .redm-blog .comment-blog .comment-write .comment-img {
    max-width: 80px;
    width: 100%;
    float: left;
    padding-left: 5px;
    padding-right: 5px; }
    @media (max-width: 480px) {
      .redm-blog .comment-blog .comment-write .comment-img {
        display: none; } }
  .redm-blog .comment-blog .comment-write textarea {
    height: 130px;
    max-width: 816px;
    width: 100%;
    border: none; }
  .redm-blog .comment-blog .comment-show {
    color: #fff; }
    .redm-blog .comment-blog .comment-show ol {
      padding-left: 0; }
      .redm-blog .comment-blog .comment-show ol .comment-detail {
        border-top: 1px solid;
        padding-bottom: 10px;
        padding-top: 10px;
        list-style: none;
        position: relative;
        margin-bottom: 50px; }
        .redm-blog .comment-blog .comment-show ol .comment-detail .avatar {
          position: relative;
          float: left;
          width: 76px;
          height: 76px;
          margin: 0 8px 8px 0; }
          .redm-blog .comment-blog .comment-show ol .comment-detail .avatar .comment-hover-img:hover + .userPanel {
            display: block; }
          .redm-blog .comment-blog .comment-show ol .comment-detail .avatar .userPanel {
            display: none;
            background-color: #ffa200;
            color: #000;
            height: 100%;
            position: absolute;
            top: -4px;
            left: -4px;
            width: 480px;
            z-index: 1; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .avatar .userPanel:after {
              background-color: transparent;
              content: '';
              position: absolute;
              right: 0;
              bottom: 0;
              height: 0;
              width: 0;
              border-top: 26px solid #ffa200;
              border-right: 26px solid transparent; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .avatar .userPanel .flag {
              position: absolute;
              right: 0;
              padding: 5px; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .avatar .userPanel h3 {
              color: #fff;
              font-size: 16px;
              margin-top: 10px;
              padding-left: 90px; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .avatar .userPanel ul {
              clear: both;
              margin-left: 19%; }
              .redm-blog .comment-blog .comment-show ol .comment-detail .avatar .userPanel ul li {
                float: left;
                width: 120px; }
                .redm-blog .comment-blog .comment-show ol .comment-detail .avatar .userPanel ul li span {
                  color: #4c4c4c;
                  display: block;
                  font-size: 12px;
                  margin-bottom: 1px; }
        .redm-blog .comment-blog .comment-show ol .comment-detail .comment-detail-img {
          max-width: 80px;
          width: 100%;
          padding-right: 5px;
          z-index: 2;
          position: absolute; }
        .redm-blog .comment-blog .comment-show ol .comment-detail .comment-center {
          padding: 0 160px 0 84px; }
          @media (max-width: 480px) {
            .redm-blog .comment-blog .comment-show ol .comment-detail .comment-center {
              margin-top: 85px;
              padding: 0; } }
          .redm-blog .comment-blog .comment-show ol .comment-detail .comment-center .comment-author-date-reply {
            font-size: 12px; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .comment-center .comment-author-date-reply .author {
              color: #f39200; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .comment-center .comment-author-date-reply .reply {
              color: #b4bd00;
              font-size: 14px;
              font-weight: bold;
              background: none;
              border: none; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .comment-center .comment-author-date-reply .date {
              color: #9c9c9c; }
          .redm-blog .comment-blog .comment-show ol .comment-detail .comment-center .content {
            margin-top: 5px; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .comment-center .content iframe {
              width: 100%; }
        .redm-blog .comment-blog .comment-show ol .comment-detail .comment-like {
          width: 160px;
          position: absolute;
          top: 0;
          right: 0; }
          .redm-blog .comment-blog .comment-show ol .comment-detail .comment-like button {
            float: left;
            display: inline-block;
            text-align: center;
            width: 35px;
            margin-left: 3px;
            background-color: #b4bd00;
            border: none;
            outline: none;
            font-weight: bold;
            height: 35px; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .comment-like button .fa {
              font-size: 12px; }
          .redm-blog .comment-blog .comment-show ol .comment-detail .comment-like .control-like {
            float: right; }
            .redm-blog .comment-blog .comment-show ol .comment-detail .comment-like .control-like .input-group .input-value {
              color: fff;
              width: 50px;
              text-align: center;
              float: right;
              background: none;
              border: none;
              font-size: 20px;
              font-weight: bold;
              margin-top: 5px; }
.redm-blog .img-center-content-blog {
  width: 100%; }
.redm-blog .text-center-content-blog {
  padding: 50px 40px 50px 40px;
  word-spacing: 10px; }
.redm-blog .text-center-content-blog>p>img {
  max-width: 100%;
  margin-bottom: 30px;
 }
.redm-blog .title-sub-header {
  margin-top: 0;
  font-family: 'PatuaOne-Regular'; }
.redm-blog .body-text {
  margin-top: 35px;
  margin-bottom: 0; }
.redm-blog .content-bottom-text {
  padding: 30px 40px 20px 40px;
  word-spacing: 10px; }
.redm-blog .images-center {
  padding-left: 20px;
  padding-right: 20px; }

.img-blog-edit {
  margin-left: 50px;
  margin-top: 2%; }
  @media (max-width: 768px) {
    .img-blog-edit {
      margin-left: 0;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 13%; } }
  @media (max-width: 480px) {
    .img-blog-edit {
      margin-left: 0;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 30%; } }
  .img-blog-edit img {
    width: 100%; }

.popup-modal-signup .modal-backdrop {
  background: none; }
.popup-modal-signup .modal-backdrop {
  background: none; }
.popup-modal-signup .modal {
  overflow-y: auto; }

.search-find-icon, .search-fire-icon, .search-music-icon {
  display: none;
  color: #fff;
  position: relative;
  transition: all 0.5s; }

.search-find-icon.active, .search-fire-icon.active, .search-music-icon.active {
  display: block; }

.content-private {
  background-color: #000;
  height: 200px;
  width: 200px;
  position: absolute;
  right: 23px;
  top: 50px; }

/* core pix */
/*-----------------------------------------------------------------------------
							MENU
	-- GRID
	-- SPACING
---------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------
							GRID
---------------------------------------------------------------------------------*/
/*---------------------------
		default
---------------------------*/
.pix-col-1 > .item {
  width: 100%; }

.pix-col-2 > .item {
  width: 50%; }

.pix-col-3 > .item {
  width: 33.33333%; }

.pix-col-4 > .item {
  width: 25%; }

.pix-col-5 > .item {
  width: 20%; }

.pix-col-6 > .item {
  width: 16.66667%; }

.pix-col-7 > .item {
  width: 14.28571%; }

.pix-col-8 > .item {
  width: 12.5%; }

@media (max-width: 1199px) {
  .pix-col-7 > .item {
    width: 16.66667%; }

  .pix-col-8 > .item {
    width: 16.66667%; }

  .pix-col-5 > .item {
    width: 25%; }

  .pix-col-6 > .item {
    width: 25%; }

  .pix-col-3 > .item {
    width: 33.33333%; }

  .pix-col-4 > .item {
    width: 33.33333%; }

  /*---------------------------
  	setting for small laptop
  ---------------------------*/
  .pix-col-md-1 > .item {
    width: 100%; }

  .pix-col-md-2 > .item {
    width: 50%; }

  .pix-col-md-3 > .item {
    width: 33.33333%; }

  .pix-col-md-4 > .item {
    width: 25%; }

  .pix-col-md-5 > .item {
    width: 20%; }

  .pix-col-md-6 > .item {
    width: 16.66667%; }

  .pix-col-md-7 > .item {
    width: 14.28571%; }

  .pix-col-md-8 > .item {
    width: 12.5%; } }
@media (max-width: 991px) {
  .pix-col-7 > .item {
    width: 25%; }

  .pix-col-8 > .item {
    width: 25%; }

  .pix-col-5 > .item {
    width: 33.33333%; }

  .pix-col-6 > .item {
    width: 33.33333%; }

  .pix-col-3 > .item {
    width: 50%; }

  .pix-col-4 > .item {
    width: 50%; }

  /*---------------------------
  	setting for tablet
  ---------------------------*/
  .pix-col-sm-1 > .item {
    width: 100%; }

  .pix-col-sm-2 > .item {
    width: 50%; }

  .pix-col-sm-3 > .item {
    width: 33.33333%; }

  .pix-col-sm-4 > .item {
    width: 25%; }

  .pix-col-sm-5 > .item {
    width: 20%; }

  .pix-col-sm-6 > .item {
    width: 16.66667%; }

  .pix-col-sm-7 > .item {
    width: 14.28571%; }

  .pix-col-sm-8 > .item {
    width: 12.5%; } }
@media (max-width: 767px) {
  .pix-col-5 > .item {
    width: 50%; }

  .pix-col-6 > .item {
    width: 50%; }

  .pix-col-7 > .item {
    width: 50%; }

  .pix-col-8 > .item {
    width: 50%; }

  .pix-col-1 > .item {
    width: 100%; }

  .pix-col-2 > .item {
    width: 100%; }

  .pix-col-3 > .item {
    width: 100%; }

  .pix-col-4 > .item {
    width: 100%; }

  /*---------------------------
  	setting for mobile
  ---------------------------*/
  .pix-col-xs-1 > .item {
    width: 100%; }

  .pix-col-xs-2 > .item {
    width: 50%; }

  .pix-col-xs-3 > .item {
    width: 33.33333%; }

  .pix-col-xs-4 > .item {
    width: 25%; }

  .pix-col-xs-5 > .item {
    width: 20%; }

  .pix-col-xs-6 > .item {
    width: 16.66667%; }

  .pix-col-xs-7 > .item {
    width: 14.28571%; }

  .pix-col-xs-8 > .item {
    width: 12.5%; } }
@media (max-width: 480px) {
  .pix-col-1 > .item {
    width: 100%; }

  .pix-col-2 > .item {
    width: 100%; }

  .pix-col-3 > .item {
    width: 100%; }

  .pix-col-4 > .item {
    width: 100%; }

  .pix-col-5 > .item {
    width: 100%; }

  .pix-col-6 > .item {
    width: 100%; }

  .pix-col-7 > .item {
    width: 100%; }

  .pix-col-8 > .item {
    width: 100%; }

  /*---------------------------
  	setting for small mobile
  ---------------------------*/
  .pix-col-xss-1 > .item {
    width: 100%; }

  .pix-col-xss-2 > .item {
    width: 50%; }

  .pix-col-xss-3 > .item {
    width: 33.33333%; }

  .pix-col-xss-4 > .item {
    width: 25%; }

  .pix-col-xss-5 > .item {
    width: 20%; }

  .pix-col-xss-6 > .item {
    width: 16.66667%; }

  .pix-col-xss-7 > .item {
    width: 14.28571%; }

  .pix-col-xss-8 > .item {
    width: 12.5%; } }
.pix-col {
  margin-left: -15px;
  margin-right: -15px; }
  .pix-col > .item {
    display: inline-block;
    /*padding: 0px 15px;
    box-sizing: border-box;
    vertical-align: top;

    Code dang fix */
    float:left; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

/*--------------------------------------------------------------------------------
							SPACING
---------------------------------------------------------------------------------*/
.pd-t0 {
  padding-top: 0px; }

.pd-b0 {
  padding-bottom: 0px; }

.mg-t0 {
  margin-top: 0px; }

.mg-b0 {
  margin-bottom: 0px; }

.pd-t10 {
  padding-top: 10px; }

.pd-b10 {
  padding-bottom: 10px; }

.mg-t10 {
  margin-top: 10px; }

.mg-b10 {
  margin-bottom: 10px; }

.pd-t20 {
  padding-top: 20px; }

.pd-b20 {
  padding-bottom: 20px; }

.mg-t20 {
  margin-top: 20px; }

.mg-b20 {
  margin-bottom: 20px; }

.pd-t30 {
  padding-top: 30px; }

.pd-b30 {
  padding-bottom: 30px; }

.mg-t30 {
  margin-top: 30px; }

.mg-b30 {
  margin-bottom: 30px; }

.pd-t40 {
  padding-top: 40px; }

.pd-b40 {
  padding-bottom: 40px; }

.mg-t40 {
  margin-top: 40px; }

.mg-b40 {
  margin-bottom: 40px; }

.pd-t50 {
  padding-top: 50px; }

.pd-b50 {
  padding-bottom: 50px; }

.mg-t50 {
  margin-top: 50px; }

.mg-b50 {
  margin-bottom: 50px; }

.pd-t60 {
  padding-top: 60px; }

.pd-b60 {
  padding-bottom: 60px; }

.mg-t60 {
  margin-top: 60px; }

.mg-b60 {
  margin-bottom: 60px; }

.pd-t70 {
  padding-top: 70px; }

.pd-b70 {
  padding-bottom: 70px; }

.mg-t70 {
  margin-top: 70px; }

.mg-b70 {
  margin-bottom: 70px; }

.pd-t80 {
  padding-top: 80px; }

.pd-b80 {
  padding-bottom: 80px; }

.mg-t80 {
  margin-top: 80px; }

.mg-b80 {
  margin-bottom: 80px; }

.pd-t90 {
  padding-top: 90px; }

.pd-b90 {
  padding-bottom: 90px; }

.mg-t90 {
  margin-top: 90px; }

.mg-b90 {
  margin-bottom: 90px; }

.pd-t100 {
  padding-top: 100px; }

.pd-b100 {
  padding-bottom: 100px; }

.mg-t100 {
  margin-top: 100px; }

.mg-b100 {
  margin-bottom: 100px; }

.pd-t110 {
  padding-top: 110px; }

.pd-b110 {
  padding-bottom: 110px; }

.mg-t110 {
  margin-top: 110px; }

.mg-b110 {
  margin-bottom: 110px; }

.pd-t120 {
  padding-top: 120px; }

.pd-b120 {
  padding-bottom: 120px; }

.mg-t120 {
  margin-top: 120px; }

.mg-b120 {
  margin-bottom: 120px; }

.pd-t130 {
  padding-top: 130px; }

.pd-b130 {
  padding-bottom: 130px; }

.mg-t130 {
  margin-top: 130px; }

.mg-b130 {
  margin-bottom: 130px; }

.pd-t140 {
  padding-top: 140px; }

.pd-b140 {
  padding-bottom: 140px; }

.mg-t140 {
  margin-top: 140px; }

.mg-b140 {
  margin-bottom: 140px; }

.pd-t150 {
  padding-top: 150px; }

.pd-b150 {
  padding-bottom: 150px; }

.mg-t150 {
  margin-top: 150px; }

.mg-b150 {
  margin-bottom: 150px; }

/*--------------------------------------
	setting spacing for small laptop
----------------------------------------*/
@media (max-width: 1199px) {
  .pd-md-t0 {
    padding-top: 0px; }

  .pd-md-b0 {
    padding-bottom: 0px; }

  .mg-md-t0 {
    margin-top: 0px; }

  .mg-md-b0 {
    margin-bottom: 0px; }

  .pd-md-t10 {
    padding-top: 10px; }

  .pd-md-b10 {
    padding-bottom: 10px; }

  .mg-md-t10 {
    margin-top: 10px; }

  .mg-md-b10 {
    margin-bottom: 10px; }

  .pd-md-t20 {
    padding-top: 20px; }

  .pd-md-b20 {
    padding-bottom: 20px; }

  .mg-md-t20 {
    margin-top: 20px; }

  .mg-md-b20 {
    margin-bottom: 20px; }

  .pd-md-t30 {
    padding-top: 30px; }

  .pd-md-b30 {
    padding-bottom: 30px; }

  .mg-md-t30 {
    margin-top: 30px; }

  .mg-md-b30 {
    margin-bottom: 30px; }

  .pd-md-t40 {
    padding-top: 40px; }

  .pd-md-b40 {
    padding-bottom: 40px; }

  .mg-md-t40 {
    margin-top: 40px; }

  .mg-md-b40 {
    margin-bottom: 40px; }

  .pd-md-t50 {
    padding-top: 50px; }

  .pd-md-b50 {
    padding-bottom: 50px; }

  .mg-md-t50 {
    margin-top: 50px; }

  .mg-md-b50 {
    margin-bottom: 50px; }

  .pd-md-t60 {
    padding-top: 60px; }

  .pd-md-b60 {
    padding-bottom: 60px; }

  .mg-md-t60 {
    margin-top: 60px; }

  .mg-md-b60 {
    margin-bottom: 60px; }

  .pd-md-t70 {
    padding-top: 70px; }

  .pd-md-b70 {
    padding-bottom: 70px; }

  .mg-md-t70 {
    margin-top: 70px; }

  .mg-md-b70 {
    margin-bottom: 70px; }

  .pd-md-t80 {
    padding-top: 80px; }

  .pd-md-b80 {
    padding-bottom: 80px; }

  .mg-md-t80 {
    margin-top: 80px; }

  .mg-md-b80 {
    margin-bottom: 80px; }

  .pd-md-t90 {
    padding-top: 90px; }

  .pd-md-b90 {
    padding-bottom: 90px; }

  .mg-md-t90 {
    margin-top: 90px; }

  .mg-md-b90 {
    margin-bottom: 90px; }

  .pd-md-t100 {
    padding-top: 100px; }

  .pd-md-b100 {
    padding-bottom: 100px; }

  .mg-md-t100 {
    margin-top: 100px; }

  .mg-md-b100 {
    margin-bottom: 100px; } }
/*--------------------------------------
	setting spacing for tablet
----------------------------------------*/
@media (max-width: 991px) {
  .pd-sm-t0 {
    padding-top: 0px; }

  .pd-sm-b0 {
    padding-bottom: 0px; }

  .mg-sm-t0 {
    margin-top: 0px; }

  .mg-sm-b0 {
    margin-bottom: 0px; }

  .pd-sm-t10 {
    padding-top: 10px; }

  .pd-sm-b10 {
    padding-bottom: 10px; }

  .mg-sm-t10 {
    margin-top: 10px; }

  .mg-sm-b10 {
    margin-bottom: 10px; }

  .pd-sm-t20 {
    padding-top: 20px; }

  .pd-sm-b20 {
    padding-bottom: 20px; }

  .mg-sm-t20 {
    margin-top: 20px; }

  .mg-sm-b20 {
    margin-bottom: 20px; }

  .pd-sm-t30 {
    padding-top: 30px; }

  .pd-sm-b30 {
    padding-bottom: 30px; }

  .mg-sm-t30 {
    margin-top: 30px; }

  .mg-sm-b30 {
    margin-bottom: 30px; }

  .pd-sm-t40 {
    padding-top: 40px; }

  .pd-sm-b40 {
    padding-bottom: 40px; }

  .mg-sm-t40 {
    margin-top: 40px; }

  .mg-sm-b40 {
    margin-bottom: 40px; }

  .pd-sm-t50 {
    padding-top: 50px; }

  .pd-sm-b50 {
    padding-bottom: 50px; }

  .mg-sm-t50 {
    margin-top: 50px; }

  .mg-sm-b50 {
    margin-bottom: 50px; } }
/*--------------------------------------
	setting spacing for mobile
----------------------------------------*/
@media (max-width: 767px) {
  .pd-xs-t0 {
    padding-top: 0px; }

  .pd-xs-b0 {
    padding-bottom: 0px; }

  .mg-xs-t0 {
    margin-top: 0px; }

  .mg-xs-b0 {
    margin-bottom: 0px; }

  .pd-xs-t10 {
    padding-top: 10px; }

  .pd-xs-b10 {
    padding-bottom: 10px; }

  .mg-xs-t10 {
    margin-top: 10px; }

  .mg-xs-b10 {
    margin-bottom: 10px; }

  .pd-xs-t20 {
    padding-top: 20px; }

  .pd-xs-b20 {
    padding-bottom: 20px; }

  .mg-xs-t20 {
    margin-top: 20px; }

  .mg-xs-b20 {
    margin-bottom: 20px; }

  .pd-xs-t30 {
    padding-top: 30px; }

  .pd-xs-b30 {
    padding-bottom: 30px; }

  .mg-xs-t30 {
    margin-top: 30px; }

  .mg-xs-b30 {
    margin-bottom: 30px; }

  .pd-xs-t40 {
    padding-top: 40px; }

  .pd-xs-b40 {
    padding-bottom: 40px; }

  .mg-xs-t40 {
    margin-top: 40px; }

  .mg-xs-b40 {
    margin-bottom: 40px; }

  .pd-xs-t50 {
    padding-top: 50px; }

  .pd-xs-b50 {
    padding-bottom: 50px; }

  .mg-xs-t50 {
    margin-top: 50px; }

  .mg-xs-b50 {
    margin-bottom: 50px; } }
/*--------------------------------------
	setting spacing for small mobile
----------------------------------------*/
@media (max-width: 480px) {
  .pd-xss-t0 {
    padding-top: 0px; }

  .pd-xss-b0 {
    padding-bottom: 0px; }

  .mg-xss-t0 {
    margin-top: 0px; }

  .mg-xss-b0 {
    margin-bottom: 0px; }

  .pd-xss-t10 {
    padding-top: 10px; }

  .pd-xss-b10 {
    padding-bottom: 10px; }

  .mg-xss-t10 {
    margin-top: 10px; }

  .mg-xss-b10 {
    margin-bottom: 10px; }

  .pd-xss-t20 {
    padding-top: 20px; }

  .pd-xss-b20 {
    padding-bottom: 20px; }

  .mg-xss-t20 {
    margin-top: 20px; }

  .mg-xss-b20 {
    margin-bottom: 20px; }

  .pd-xss-t30 {
    padding-top: 30px; }

  .pd-xss-b30 {
    padding-bottom: 30px; }

  .mg-xss-t30 {
    margin-top: 30px; }

  .mg-xss-b30 {
    margin-bottom: 30px; }

  .pd-xss-t40 {
    padding-top: 40px; }

  .pd-xss-b40 {
    padding-bottom: 40px; }

  .mg-xss-t40 {
    margin-top: 40px; }

  .mg-xss-b40 {
    margin-bottom: 40px; }

  .pd-xss-t50 {
    padding-top: 50px; }

  .pd-xss-b50 {
    padding-bottom: 50px; }

  .mg-xss-t50 {
    margin-top: 50px; }

  .mg-xss-b50 {
    margin-bottom: 50px; } }
.padding0 {
  padding-left: 0;
  padding-right: 0; }

.margin0 {
  margin-left: 0;
  margin-right: 0; }

/*# sourceMappingURL=style.css.map */
.banner-blog{
  position: relative;
  top: 0;
  left: 0;
  margin-top: 50px;
}

.btn-lg-detail{
  border:none;
  background: transparent;
}
.redm-blog *{
   font-family: "Lato-Regular", arial !important;
}
.redm-blog .title-classic h3{
   
    margin: 5px 20px;
    text-align: justify !important;

    color: #E0DDDC;
}
.text-center-content-blog p{
  text-align: left !important;
}
.text-center-content-blog em{
  font-style: normal;
  line-height: unset !important;
  letter-spacing: unset !important;
  font-size: 16px !important;
}
/*.text-center-content-blog span{
    font-size: unset !important;
}*/