.btn-logout {
    color: #fff;
}

.profile-logout:hover .btn-logout {
    color: #000 !important;
}

.profile-tickets-detail,
.profile-view-detail,
.profile-setting-detail {
    z-index: 1;
}

.menu-profile-toggle {
    z-index: 1;
}

.mw-100pt {
    max-width: 100%;
    width: 100%;
}

@media (max-width:767px) {
    .main-content {
        margin-top: 10px;
    }
    .google-captcha{
        transform:scale(0.85526315789);
        -webkit-transform:scale(0.85526315789);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        padding-top: 15px;
        width: 116.923076923%;
        display: inline-block;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: -o-center;
        text-align: -ms-center;
    }
    
}

.carousel-home-1 .carousel {
    display: block;
    !important;
}


/* fix slideshow featured max height  */

.carousel-home-1 .slide-item-img {
    max-width: 100%;
    /* width: 100%; */
    /* padding-top: 26%; */
    position: relative;
    height: 251px;
    margin-left: -1px;
}

.carousel-home-1 .slide-item-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 430px;
    height: 100%;
    object-fit: cover;
}


/*slideshow description*/

.carousel-items-description {
    /*min-height:100px;*/
    /* padding: 10px; */
    /* height: 300px; */
	padding-top:10px;
    padding-left: 20px;
    letter-spacing: 1px;
}

.carousel-items-description p:nth-child(2) {
    /*min-height:70px;*/
}

.carousel-items-description {
    -moz-transition: height 300ms;
    -webkit-transition: height 300ms;
    transition: height 300ms;
}

#center {
  margin: 0 auto;
  text-align: center;
}

/*slideshow next/prev position */

.carousel-home-1 .carousel-prev,
.carousel-home-1 .carousel-next {
    top: 50%;
}

.fb-login-button{
    height:32px;
}

@media (max-width:767px) {
    .carousel-home-1 .carousel-prev,
    .carousel-home-1 .carousel-next {
        display: none;
    }
}

.text-center-content-blog,
.text-center-content-blog * {
    font-family: "Lato-Regular", arial !important;
    text-align: justify !important;
    color:#E0DDDC;
}


/*fix position comment*/

.redm-blog .comment-blog .comment-show ol .comment-detail .comment-center .content {
    position: relative;
}

form.newfeed-form {
    z-index: 0;
}

@media (min-width:992px) {
    .col-md-12 {
        width: 100% !important;
    }
    .google-captcha{
        padding-top: 15px;
        transform:scale(0.85526315789);
        -webkit-transform:scale(0.85526315789);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        text-align: -webkit-right;
        text-align: -moz-right;
        text-align: -o-right;
        text-align: -ms-right;
        width:116.923076923%;
    }
    .signup-label{
        padding-left: 90px;
        text-align: center;
    }
}


/*pagenation content */

.redm-blog .comment-blog .comment-next-prev .pagination-pix {
    text-align: center;
    display: block;
}

.redm-blog .comment-blog .comment-next-prev .pagination-pix div {
    display: inline-block;
    padding: 5px;
}

.redm-blog .comment-blog .comment-next-prev .pagination-pix div a {
    color: white;
}

.redm-blog .comment-blog .comment-next-prev .pagination-pix div a:hover {
    opacity: .8;
}

.redm-blog .comment-blog .comment-next-prev .pagination-pix div.active {
    color: #f39200;
}

.comment-next-prev .pagination-pix {
    text-align: center;
}

.comment-next-prev .pagination-pix li {
    display: inline-block !important;
}

.comment-next-prev:before,
.comment-next-prev:after {
    display: table;
    clear: both;
    content: '';
}
@media (min-width: 768px) and (max-width: 991px){
    .google-captcha{
        transform:scale(0.85526315789);
        -webkit-transform:scale(0.85526315789);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
        padding-top: 15px;
        width: 116.923076923%;
        display: inline-block;
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: -o-center;
        text-align: -ms-center;
    }
    .signup-label{
        padding-left: 0px;
        text-align: center;
    }

    
}

/* comment child reply */

.redm-blog .comment-blog .comment-write textarea {
    max-width: calc(100% - 80px) !important;
}

.div-ajax-load-reply {
    padding-left: 76px;
}

@media (max-width:767px) {
    .div-ajax-load-reply {
        padding-left: 0px;
    }
    .signup-label{
    
        text-align: center;
    }
}

@media (max-width:480px) {
    .redm-blog .comment-blog .comment-write .comment-img {
        display: block;
    }
}

.div-ajax-load-reply .comment-action {
    margin-right: 0px !important;
}

.div-ajax-load-reply textarea {
    color: #333;
}

.comment-detail-child {
    position: relative !important;
}

.div-ajax-load-reply .comment-img {
    max-width: 76px;
    padding-left: 0px !important;
    padding-right: 10px !important;
    margin-right: 5px;
}

.div-ajax-load-reply .comment-write textarea.active {
    max-width: calc(100% - 90px) !important;
}

* .div-comment-form-reply {
    display: none;
}

* .div-comment-form-reply.active {
    display: block;
}

.span-apperance-comment span {
    text-decoration: underline;
    color: #f39200;
    cursor: pointer;
}

.span-apperance-comment span:hover {
    color: white;
}


/* Default tag */

.tag-a-title1 {
    color: #f39200;
}

.tag-a-title1:hover {
    color: white;
}

.p-fs-10 {
    font-size: 10px;
}

.p-fs-11 {
    font-size: 11px;
}

.p-fs-12 {
    font-size: 12px;
}

.p-fs-13 {
    font-size: 13px;
}

.p-fs-14 {
    font-size: 14px;
}

.p-fs-15 {
    font-size: 15px;
}

.p-fs-16 {
    font-size: 16px;
}

.p-fs-17 {
    font-size: 17px;
}

.p-fs-18 {
    font-size: 18px;
}

.p-fs-19 {
    font-size: 19px;
}

.p-fs-20 {
    font-size: 20px;
}


/*fix item one line */

.pix-col.one-line>.item {
    /*float:left;
	display:inherit;

	Code dang fix

	*/
}


/*  */

.main-content.mt140 {
    margin-top: 72px;
}


/* box post latest */

.item-latest .text-content {
    font-size: 14px;
    /*	min-height:118px;*/
}
.text-content-kind{
   /* height: 128px;*/
    overflow: hidden;
}
/*.text-content-kind:nth-child(2)
{
    height: 120px;
    overflow: hidden;
}*/

/* box post latest slick */

.item-latest-slick .text-content {
    min-height: 80px;
}

.side-menu-banner {
    padding: 10px 25px 20px 25px;
}


/* link menu newfeed  */

.menu-profile .menu-profile-right .menu-profile-toggle .profile-title:hover a {
    color: #000;
}


/* newfeed */

.box-content-newfeed {
   
    color: white;
    height: auto !important;
    /*min-height:262px !important;*/
    /*margin-top:0px !important;
	margin-bottom:35px;*/
}

.box-content-newfeed .box-content-newfeed-header * {
    vertical-align: top;
}

.newfeed-avt {
    float: left;
    width: 60px;
    height: 60px;
}

.newfeed-name {
    margin-left: 10px;
    float: left;
}

.newfeed-name p:first-child {
    color: #f39200;
}

.newfeed-name p:nth-child(2) {
    color: #90949c;
    font-size: 12px;
    margin-top: 5px;
}

.fa-newfeed {
    margin-left: 5px;
    margin-top: 2px;
    cursor: pointer;
    opacity: 0.9;
}

.fa-newfeed:hover {
    color: white;
}


/* box newfeed content */

.box-content-newfeed-content {
    padding-left: 20px;
    padding-right: 20px;
}


/* box newfeed content submit/cancel */

.form-button-submit {
    margin-top: 10px;
    text-align: right;
}

.newfeed-form [type="submit"] {
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
    background: #f39200;
    margin-right: 10px;
}

.newfeed-form [type="reset"] {
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
    background: #4b4f56;
}

.newfeed-form [type="submit"]:hover,
.newfeed-form [type="reset"]:hover {
    opacity: .8;
}


/* action newfeed total like, comment, share */

.box-content-newfeed-total-action {
    margin-top: 10px;
}

.box-content-newfeed-total-action>span {
    color: #90949c;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    padding-left: 10px;
}


/* action newfeed like, comment, share  */

.box-content-newfeed-action {
    margin: 10px 0px;
    border-top: 1px solid #6d6a6a;
    padding-top: 10px;
}

.box-content-newfeed-action span {
    cursor: pointer;
    margin: 0 5px;
    /* margin-right: 20px; */
    /* padding-left: 10px; */
}

.box-content-newfeed-action span:hover {
    color: #f39200;
}

.box-content-newfeed-action .span-newfeed-like img {
    width: 13px;
    height: 13px;
    margin-bottom: 2px;
}

.box-content-newfeed-action .newfeed-hot img {
    width: 40px;
    height: 40px;
}

.profile-tickets-detail.active .profile-wrap,
.profile-view-detail.active .profile-wrap,
.profile-setting-detail.active .profile-wrap {
    max-width: 100%;
}

.profile-view-detail .profile-wrap .tab-profile,
.profile-view-detail .profile-wrap .profile-view-overview,
.profile-tickets-detail .profile-wrap .tab-content,
.profile-tickets-detail .profile-wrap .tab-profile,
.profile-setting-detail .profile-wrap .tab-profile {
    max-width: 980px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-profile .person-profile-info {
    color: white;
}

.contact-profile .person-profile-info span {
    margin-right: 10px;
}

.select-age {
    width: 100%;
    color: black;
    padding: 7px 0px;
}

.select-age-ml20 {
    width: calc(100% - 20px);
}

.logo-footer {
    margin-top: 0px !important;
}

ul.list-side-menu a.side-menu-link .mobile-search {
    max-width: 250px;
}


/*ul.list-side-menu a.side-menu-link:hover .img-mobile-search{
transform: translateX(0px) !important;
}*/


/* Comment Profile  */

.comment-write-profile {
    border-top: 1px solid #6d6a6a;
}

.comment-write-profile img {
    vertical-align: top;
    margin-right: 8px;
}

.comment-write-profile textarea {
    color: black;
    max-width: calc(100% - 72px) !important;
}

.comment-write-profile .comment-action {
    text-align: right;
}

.comment-write-profile .comment-action input:hover {
    background: white;
    color: #f39200;
}


/* data list comment */

.list_comment_newfeed {
    margin-top: 5px;
    border-top: 1px solid #6d6a6a;
}

.list_comment_newfeed .comment-name a {
    color: #f39200;
    margin-right: 5px;
}

.list_comment_newfeed .comment-name span.span-time {
    color: #9c9c9c;
    font-size: 12px;
    margin-right: 5px;
}

.list_comment_newfeed .comment-name span.span-reply {
    color: #b4bd00;
    font-size: 14px;
    cursor: pointer;
}

.padding-left-0 {
    padding-left: 0;
}

.list_comment_newfeed_detail:before,
.list_comment_newfeed_detail:after {
    content: '';
    clear: both;
    display: table;
}


/* data list comment reply */

.list_comment_newfeed_detail_reply {
    margin-left: 80px;
    margin-top: 20px;
}

@media (max-width:767px) {
    .list_comment_newfeed_detail_reply {
        margin-left: 30px;
        margin-top: 20px;
    }
}

.list_comment_newfeed_detail_reply_box {
    margin-bottom: 20px;
}

.list_comment_newfeed_detail_reply_box:before,
.list_comment_newfeed_detail_reply_box:after {
    content: '';
    clear: both;
    display: table;
}


/* data form comment reply */

.list_comment_newfeed_detail_reply_comment .comment-write-profile {
    display: none;
}

.list_comment_newfeed_detail_reply_comment.active .comment-write-profile {
    display: block;
}


/* fix banner menu */


/*	.side-menu{
opacity:0;
}

.side-menu.active{
opacity: 1;
}*/

.side-menu.active .side-menu-banner {
    visibility: visible;
}

.side-menu .side-menu-banner {
    visibility: hidden;
}

.side-menu {
    display: none;
    /*width: 180px !important;*/
    /*transform: translateX(calc(-100% + 50px));
	-moz-transform: translateX(calc(-100% + 50px));
		   -webkit-transform: translateX(calc(-100% + 50px));
		   -ms-transform: translateX(calc(-100% + 50px));
		   -o-transform: translateX(calc(-100% + 50px));*/
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    /* margin-left: 50px; */
}

.side-menu.active {
    transform: none;
    margin-left: 0px;
}

.side-menu .side-menu-view {
    overflow-x: hidden;
}

ul.list-side-menu a.side-menu-link .mobile-search:hover {
    width: 100%;
}

ul.list-side-menu a.side-menu-link.img-mobile-search {
    right: 65px !important;
}


/* hide scroolbar chrome , ie */

.side-menu-view::-webkit-scrollbar {
    display: none;
    -moz-appearance: none !important;
    width: 0px;
    visibility: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    background-color: transparent;
}

ul.list-side-menu a.side-menu-link {
    transform: translateX(-60px);
}


/* 	ul.list-side-menu a.side-menu-link:hover{
transform:translateX(-20px);
}
 */

ul.list-side-menu a.side-menu-link li.side-menu-item {
    padding: 0px 25px 0px 60px;
    transition: none !important;
    font-family: "FjallaOne";
}

ul.list-side-menu a.side-menu-link li.side-menu-item:hover {
    padding: 0px 25px 0px 60px;
    font-family: "FjallaOne";
}

ul.list-side-menu a.side-menu-link.side-menu-link-search:hover {
    transform: translateX(-60px) !important;
}

ul.list-side-menu a.side-menu-link .mobile-search {
    padding-left: 70px;
    padding-right: 35px;
}

ul.list-side-menu a.side-menu-link .img-mobile-search:hover {
    right: 65px !important;
    opacity: 0;
}

.side-menu-banner {
    padding: 10px 5px 20px 5px !important;
}

.wrap-trending {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.side-menu-banner {
    text-align: center;
}

.side-menu-banner img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
}

.side-menu .mobile-social a {
    padding: 0px 5px !important;
}

.side-menu .mobile-social {
    text-align: right;
    padding-right: 20px;
}


/* fix read more */

.text-content .read-more {     /*fix khoang cach button*/
    background: #4c4c4c;
    padding: 3px 7px 3px 7px;
    border-radius: 15px;
    color: white;
    margin-bottom: 5px;
    margin-top:5px; 
	letter-spacing: 0px;
}

.text-content .read-more i {
    vertical-align: middle;
}

.text-content .read-more:hover {
    opacity: .8;
}

.profile-setting-detail .remove-account {
    max-width: 700px;
}

#contentAdmincpdummy {
    max-width: 700px;
    width: 100%;
}

.title h3 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.tab-menu-signup ul {
    margin-bottom: 12px;
}

.tab-menu-signup ul li:first-child {
    position: relative;
    /*border-right:1px solid white;*/
}

.tab-menu-signup ul li:first-child:before {
    content: '';
    height: 78%;
    width: 1px;
    background: white;
    position: absolute;
    right: 20px;
    top: 2px;
    transform: rotate(-158deg);
}

@media (max-width:1025px) {
    ul.list-side-menu a.side-menu-link:nth-child(6n + 2) {
        background: none;
    }
}

.carousel-items-p-des {
    min-height: 50px;
}

@media (max-width:767px) {
    .carousel-items-p-des {
        min-height: 50px;
    }
	.title h3 span {
		font-size: 22px;
	}
}

@media (max-width:480px) {
    .carousel-items-p-des {
        min-height: 50px;
    }
	.title h3 span {
		font-size: 18px;
	}
}

.wrap-login .login:before {
    background: none !important
}

.text-logo .text-logo-item:before {
    background: none !important
}

@media (max-width:1025px) {
    .side-menu-item.mobile-login {
        min-height: auto !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 70px !important;
    }
}

.side-menu-link.side-menu-link-login {
    padding: 0px !important;
}

.side-menu-link.side-menu-link-search {
    min-height: auto !important;
    padding: 0px !important;
}

.mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:hover .img-mobile-search {
    right: 25px !important;
    opacity: 0 !important;
}

.remove-account .col-md-12 {
    max-width: 100% !important;
    width: 100% !important;
}


/* Load page delay 2s */

.div-loader {
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
}

.div-loader.hide {
    display: none;
}

@media (max-width:480px) {
    .div-loader.hide {
        display: none !important;
    }
}

.loader-inner {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.loader-inner .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.loader-inner .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.loader-inner .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.loader-inner .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

ul.list-side-menu a.side-menu-link {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.nav-tabs-profile-setting {
    position: relative;
    text-align: center;
}

.nav-tabs-profile-setting li {
    display: inline-block !important;
    float: none;
}

.nav-tabs-profile-setting:after {
    width: 100%;
    content: '';
    height: 1px;
    background: white;
    position: absolute;
    bottom: -37px;
    left: 0px;
}


/* 31/08/2017 */

@media (max-width:991px) {
    .nav-tabs-profile-setting:after {
        display: none;
    }

    .social-signup-btn{
        text-align: center;
    }

    .pdd-signup{
        padding-top: 0px;
    }
}

.signup-right,
.login-right {
    background: none;
}

.signup-right .signup-wrap,
.login-right .signup-wrap {
    top: 50%;
    left: 50%;
    height: auto;
    background: rgba(60, 60, 59, 0.93);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* .side-menu-setting1 .side-menu-link{ */


/* pointer-events: none; */


/* } */


/* .side-menu-setting1.active a{
pointer-events: inherit;
} */


/*.side-menu-setting1:before{
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	background: red;
// 	z-index: 1;
// 	content: '';
// 	opacity: 1;
// } */


/* .side-menu-setting1.active:before{
display: none !important;
} */

.pix-col>.item {
    float: left;
    border-left: 0px !important;
    border-right: 0px !important;
    padding: 0 15px !important;
}

.profile-tickets-detail,
.profile-view-detail,
.profile-setting-detail {
    background: none;
}

.profile-tickets-detail .profile-wrap .tab-content,
.profile-view-detail .profile-wrap .tab-content,
.profile-setting-detail .profile-wrap .tab-content {
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 100%;
    background: #424542;
    height: 100% !important;
}

@media (max-width:991px) {
    .profile-tickets-detail .profile-wrap .tab-content,
    .profile-view-detail .profile-wrap .tab-content,
    .profile-setting-detail .profile-wrap .tab-content {
        width: 90%;
    }

}

@media (max-width:480px) {
    .profile-tickets-detail .profile-wrap .tab-content,
    .profile-view-detail .profile-wrap .tab-content,
    .profile-setting-detail .profile-wrap .tab-content {
        width: 95%;
    }
}

.profile-setting-detail .subscription-settings .form-subscription-settings .newsletter-style {
    display: inline-block;
    float: none;
}

.signup-right,
.login-right {
  
    background: rgba(60, 60, 59, 0.93);
}

.profile-tickets-detail.active,
.profile-view-detail.active,
.profile-setting-detail.active {
  
    z-index: 102;
}

/* @media (max-width:767px) {
    .signup-right,
    .login-right {
        top: 0px;
        bottom: 0px;
        // background: rgba(60, 60, 59, 0.93);
    }
    .signup-right .signup-wrap,
    .login-right .signup-wrap {
        top: 50px !important;
        transform: translateX(-50%) !important;
    }
    .profile-tickets-detail.active,
    .profile-view-detail.active,
    .profile-setting-detail.active {
        bottom: 0px !important;
    }
    .signup-right .tab-content,
    .login-right .tab-content {
        // 	max-height: 700px !important;
        // height:100% !important;
    }
    .signup-right .btn-pre-next,
    .login-right .btn-pre-next {
        margin-top: 10px;
    }
    .login-wrap .login-type {
        padding: 0px;
        margin-top: 0px;
    } */

.test {
    transform: none;
    margin-left: 0;
}

.lihover {
    transform: translateX(-10px);
}


/* quan fix */

.menu {
    z-index: 1030 !important;
}

ul.list-trending {
    max-width: 120px;
}

@media screen and (max-width:1024px) {
    ul.list-trending {
        max-width: 100%;
    }
}

.profile-setting-detail .account-settings .form-account-settings .settings-comment textarea {
    max-width: 100%;
}

.profile-setting-detail .settings-name .settings-left {
    max-width: 100%;
}

.profile-setting-detail .settings-name .settings-right {
    max-width: 100%;
}

.profile-setting-detail .account-settings .form-account-settings input {
    max-width: 100%;
}

.profile-setting-detail .settings-link .settings-left {
    max-width: 100%;
}

.profile-setting-detail .settings-link .settings-right {
    max-width: 100%;
}

.profile-setting-detail .settings-link .settings-right .btn-profile {
    text-align: center;
}

.profile-setting-detail .settings-link .settings-right .btn-profile input#btn-update-account {
    margin-top: 60px;
    margin-left: 0;
    text-align: center;
}

@media (max-width:991px) {
    .profile-tickets-detail .profile-wrap .tab-content,
    .profile-view-detail .profile-wrap .tab-content,
    .profile-setting-detail .profile-wrap .tab-content {
        width: 100%;
    }
}

@media (max-width:480px) {
    .profile-setting-detail .settings-right {
        max-width: 100%;
    }
    .profile-setting-detail .settings-left {
        max-width: 100%;
    }
    .select-age-ml20 {
        width: calc(100% - 0px);
    }
    .redm-blog .content-center-blog iframe {
        width: 100% !important;
    }
    .content-center-blog .text-center-content-blog .reading-line-height iframe {
        width: 100%;
        height: 250px;
    }
    .redm-blog .text-center-content-blog {
        padding: 50px 15px 50px 15px;
    }
    .content-center-blog .text-center-content-blog p span a {
        white-space: pre-line;
        word-break: break-word;
    }
}

@media (max-width:320px) {
    /* 	.redm-blog .list-post .carousel-next {
		right: 0px;
	}

	.redm-blog .list-post .carousel-prev {
		left: 0px;
	} */
}

.list-post .carousel .carousel-items .slick-list {
    display: block !important;
}

.carousel-home-1 {
    background-color: #1d1d1b;
}

.text-content.carousel-items-description p.carousel-items-p-des {
    margin: 0 0 5px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 100%;
}

.carousel-next,
.carousel-prev {
    opacity: 0;
    transition: all .3s ease;
}

.carousel:hover .carousel-next,
.carousel:hover .carousel-prev {
    opacity: 1;
}

@media (min-width: 991px) {
    .read-more.md {
        display: none;
    }
}

@media (max-width: 991px) {
    .read-more.md {
        display: block;
    }
	.fix-pdd-991{
		padding-left: 0px;
	}
    .read-more.lg {
        display: none;
    }
    .carousel-items-description {
        height: auto;
    }
    .text-content.carousel-items-description p.carousel-items-p-des {
        max-height: 70px;
        font-size: 14px;
    }
}

a.read-more.lg {
    position: absolute;
    bottom: 0px;
    padding: 3px 7px 3px 7px;
    background: #4c4c4c;
    border-radius: 10px;
    margin: 15px 15px;
	right: 0;
	display: block;
}
@media (max-width: 768px) {
    .text-content.carousel-items-description p.carousel-items-p-des {
		max-height: 65px;
	}
	.logo a img {
		height: 40px;
		margin: 5px 0;
		line-height: 40px;
	}
}
@media (max-width: 767px) {
    .text-content.carousel-items-description p.carousel-items-p-des {
		padding: 0 15px;
    }
	.listHomeBanner {
		margin: 0 !important;
		padding-left: 15px;
	}
}
@media (max-width: 480px) {
    .text-content.carousel-items-description p.carousel-items-p-des {
        font-size: 11px;
		padding-top: 6px;
    }
    .carousel-items-description {
        padding: 10px 5px;
		padding-top:5px;
    }
    .read-more.md {
        font-size: 10px;
    }
    .text-content p {
        min-height: 0px !important;
        height: auto;
        font-size: 11px;
        overflow: hidden;
        max-height: 100%;
		margin-bottom: 5px;
    }
    .text-content .read-more {
        font-size: 9px;
		margin-right: 15px;
    }
    .list-post .item-latest .text-content .read-more {
       margin-top:0px;
    }
    
    

}

.wrap-trending .item-trending a {
    margin-left: -3px !important;
}


/* quanfix 11/6 */

.settings-name>.settings-left>input {
    color: #222;
    width: 100%;
}

.settings-name>.settings-right>input {
    color: #222;
    width: 100%;
}

.settings-link>.settings-left>input {
    color: #222;
    width: 100%;
}

.settings-link>.settings-right>input {
    color: #222;
    width: 100%;
}


/* quan fix 13/11 */

.step2-wrap>.btn-pre-next {
    margin-right: auto;
    margin-left: auto;
}

.step2-wrap>.btn-pre-next>.signup-pre-btn {
    margin-right: 70px;
}

span#m-backward,
span#m-forward,
span#m-random,
span#m-reload {
    // display: none;
}

@media screen and (min-width:1280px) and (max-width:1440px) {
    .fixw0 {
        /* left: -9%; */
    }
    .fixw1 {
        /* margin-left: 9% !important; */
    }
}

.search_music {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search_music:focus {
    width: 100%;
}

.listBlog {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 40px;
}

.listBlog li {
    display: inline-block;
    margin: 10px;
}

.listBlog li a {
    text-decoration: none;
}

.listBlog li a span {
    background: #ff0000;
    color: #fff;
    padding: 5px;
}

@media (max-width: 320px) {
    .listHomeBanner {
        margin: 0 !important;
    }
    .listHomeBanner li {
        margin: 5px 2px !important;
    }
    .listHomeBanner li a span {
        font-size: 10px !important;
    }
    .listBlog {
        margin: 10px !important;
    }
    .listBlog li {
        margin: 5px 2px !important;
    }
    .listBlog li a span {
        font-size: 12px !important;
    }
    .listFeatured {
        margin: 0 !important;
    }
    .listFeatured li {
        margin-bottom: 10px;
    }
    .listFeatured li a span {
        font-size: 12px !important;
    }
}

@media (max-width: 480px) {
    .listHomeBanner li a span {
        font-size: 12px;
		padding: 3px !important;
    }
    .listHomeBanner li {
        margin: 5px !important;
    }
    .listHomeBanner {
        margin: 0 !important;
		padding-left: 10px;
    }
    .listBlog {
        margin: 10px;
    }
    .listBlog li {
        margin: 10px 5px;
    }
    .redm-blog .comment-blog h2 {
        font-size: 12px;
    }
    .listBlog li a span {
        font-size: 12px !important;
    }
}

.listHomeBanner {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    margin-bottom: 10px;
	/* padding-left:5px; */
}

.listHomeBanner li {
    display: inline-block;
    margin-bottom: 5px;
	font-size: 10px;
	margin-right:10px;
}

.listHomeBanner li a {
    text-decoration: none;
}

.listHomeBanner li a span {
    background: #ff0000;
    color: #fff;
    padding: 5px;
	letter-spacing: 0;
}

.listFeatured {
    position: initial;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    margin-bottom: 2px;
}

.listFeatured li {
    display: inline-block;
    margin: 5px 0;
    margin-right: 10px;
	margin-top: 0px;
}

.listFeatured li a {
    text-decoration: none;
}

.listFeatured li a span {
    background: #ff0000;
    color: #fff;
    padding: 5px;
    font-size: 10px;
}

.social li {
    display: inline-block;
}

.social li a {
    text-decoration: none;
}

.social li a span {
    font-size: 10px;
    color: #a1a1a1;
}

.playlist {
    display: none;
}

.playlist.active {
    display: block;
}

.login-wrap .login-type {
    margin-top: 10px;
}

.login-type-t {
    max-width: 260px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

.login-wrap {
    padding-top: 0;
}

.login-wrap .login-left .login-style label {
    margin-top: 15px;
    font-size: 14px;
}

#logerror {
    text-align: center;
    margin: 10px 0;
    color: red;
    font-weight: bold;
}

#tLinkRedm {
    color: #000;
}


/* quan fix 24/11 */

.signup-right.active>.signup-wrap>.tab-menu-signup>.nav>.active>a {
    color: #f39200 !important;
}

.power-off-login {
    background: none !important;
}

.mobile-side-menu .power-off-login {
    /* background: url(../images/power.png)!important; */
}

.signup-right .step1,
.login-right .step1 {
    max-width: 600px;
}

.signup-right .step1-wrap,
.login-right .step1-wrap {
    max-width: 600px;
}

.social-inner {
    margin-top: 25px;
}

.social-inner .icon-gg-wrapper{
    margin-top:-4px;
}

.facebook-signup-auth {
    background-color: #4c64a5;
    padding: 8px 0px;
}

.facebook-signup-auth:hover,
.facebook-signup-auth:focus {
    color: #4c64a5;
}

.icon-fb-social {
    font-size: 36px;
    color: #fff;
    vertical-align: middle;
    margin-top: -5px;
}

.google-signup-auth {
    background-color: #de492f;
    padding: 8px 0px;
}

.google-signup-auth:hover,
.google-signup-auth:focus {
    color: #de492f;
}

.icon-google-social {
    font-size: 36px;
    color: #de492f;
    vertical-align: middle;
    margin-top: -5px;
}

.newsletter-style>.form-control {
    width: 100%;
}

@media (max-width: 480px) {
    .form-subscription-settings>.mg-t30 {
        padding-left: 15px;
        padding-right: 5px;
    }
    .profile-setting-detail .subscription-settings .form-subscription-settings .credit-card {
        margin-top: 20px !important;
    }
    .profile-setting-detail .profile-wrap .tab-profile {
        padding-top: 60px;
    }
    .profile-setting-detail .subscription-settings .form-subscription-settings .newsletter-style {
        margin-right: 0px;
        padding-right: 10px;
    }
    .profile-setting-detail .subscription-settings .form-subscription-settings .credit-card .card-details select {
        max-width: 80px;
    }
    .card-details>.mg-t30>select:last-child {
        margin-right: 0px;
    }
    .card-details>.mg-t30>span {
        padding-right: 20px;
    }
    .profile-setting-detail .account-settings .form-account-settings .settings-profile-photo input {
        margin: 0;
        max-width: 100%;
    }
    #country-user {
        max-width: 90%;
    }
    .settings-comment>textarea {
        padding: 0 15px;
    }
    .settings-name {
        padding: 0 15px;
    }
    .profile-setting-detail .account-settings .form-account-settings .settings-comment textarea {
        max-width: 100%;
    }
    .settings-comment {
        padding: 0 15px;
    }
    .settings-link {
        padding: 0 15px; 
    }
    label.mg-b5 {
        font-size: 14px;
    }
    .text-content p {
        text-align: left;
    }
    .fix_mobi {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    label.mg-b5 {
        font-size: 12px;
    }
    .fix_mobi {
        font-size: 14px;
    }
}

.slide-item-img {
    background-position: center !important;
}

.tab-profile.pd-t60 {
    padding-top: 40px;
}

.rder {
    color: #f39200;
    background-color: #424542;
    font-family: FjallaOne;
    text-align: left;
    padding-top: 20px;
    font-size: 13px;
    max-width: 750px;
    display: inline-block;
    margin-left: 160px;
    margin-right: 160px;

}

@media (max-width: 992px) {
    .rder {
        padding-top: 60px;
    }
    .profile-tickets-detail .profile-wrap .tab-profile .nav-tabs>li>a,
    .profile-view-detail .profile-wrap .tab-profile .nav-tabs>li>a,
    .profile-setting-detail .profile-wrap .tab-profile .nav-tabs>li>a {
        padding: 3px 0;
    }
    .profile-setting-detail .profile-wrap .tab-profile {
        padding-top: 20px;
    }
}

.profile-setting-detail .profile-wrap {
    top: -1px;
}

.fix_mg_b20 {
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 15px;
}

.fix-mg-t30 {
    margin-top: 5px;
    margin-bottom: 25px;
}

.signup-right .step1-wrap,
.login-right .step1-wrap {
    max-width: 100% !important;
}

.signup-right .step1,
.login-right .step1 {
    max-width: 100% !important;
}

.duong_line {
    position: relative;
    padding-bottom: 5000px;
    margin-bottom: -5000px;
}

.duong_line div {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 2px;
    background: white;
    left: 50%;
}

.pix-col {
    z-index: 1;
    position: relative;
}

.carousel {
    z-index: 1;
}

textarea#comment-box {
    z-index: 1;
}

.contact-profile {
    position: relative;
}

@media (max-width: 575px) {
    .box-content-newfeed {
        padding: 0;
    }
    .title-step-1{
        align-content: center;
    }
}

.content_dk {
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .fix_pd_50 {
        padding-left: 50px;
    }
    .fix_pd_50>.mg-b0 {
        padding-top: 0px !important;
    }
}

@media (max-width: 680px) {
    .fix_pd_50 {
        padding-left: 70px;
    }
}

@media (max-width: 575px) {
    .fix_pd_50 {
        padding-left: 70px;
    }
    .fix_pd_50>.mg-b0 {
        font-size: 20px !important;
    }
    .date-fb {
        font-size: 14px !important;
    }
    .box-content-newfeed-content {
        font-size: 15px !important;
        word-break: break-all;
    }
    .fixfont {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .img-round>img {
        width: 90px;
        height: 90px;
    }
    .fix_pd_50 {
        padding-top: 0;
        padding-left: 50px;
    }
    .listFeatured li a span {
        padding: 3px;
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .img-round>img {
        width: 70px;
        height: 70px;
    }
    .fix_pd_50>.mg-b0 {
        font-size: 18px !important;
    }
    .box-content-newfeed-action {
        font-size: 12px;
    }
    .comment-content {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .img-round>img {
        width: 60px;
        height: 60px;
    }
    .date-fb {
        font-size: 12px !important;
        padding-left: 0px !important;
    }
    .box-content-newfeed-content {
        font-size: 13px !important;
    }
    .fix_pd_50>.mg-b0 {
        padding-left: 0px !important;
    }
    .box-content-newfeed-total-action>span {
        font-size: 12px;
        padding-left: 0px;
    }
    .fix_pd_50 {
        padding-left: 44px;
    }
    .box-content-newfeed-total-action {
        padding-left: 0px;
    }
    .fixfont {
        font-size: 12px;
    }
    .fix_pd_50>.mg-b0 {
        font-size: 15px !important;
    }
}

.list-post .wrap-image {
    padding-top: 47% !important;
}

/* .item-latest .text-content .post-p-des { */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    /* -webkit-box-orient: vertical; */
    /* -webkit-line-clamp: 3; */
    /* max-height: 58px; */
/* } */

.bgblack {
    background-color: #000;
    padding: 25px;
}

.box_slider {
    margin-bottom: 40px;
    padding: 0 5px;
}

.box_slider>.info {
    padding-top: 15px;
    padding-left: 15px;
    color: #fff;
}

.box_slider>.info>.no_margin {
    margin-bottom: 0px;
}

.diplay_inblock {
    display: inline-flex;
    padding-bottom: 0px;
}

.diplay_inblock li {
    padding-right: 15px;
    color: #ccc;
    font-size: 12px;
}

.diplay_inblock_social {
    display: inline-flex;
}

.diplay_inblock_social li {
    padding-right: 15px;
    color: #deab5d;
    font-size: 12px;
}

.title_content {
    color: #fff;
}

.decripstion {
    margin-bottom: 25px;
}

.decripstion>p {
    color: #fff;
    font-size: 18px;
}

.fix_hr {
    margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #ccc;
}

.line_bottom {
    padding-top: 10px;
}

.hr_title {
    border-top: 1px solid #eeeeee87;
}

.imgw100 {
    width: 100%;
}

.pdr25 {
    padding-right: 25px;
    margin-top: 60px;
}

.title_slider {
    padding-left: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.bgxam {
    background: #3c3c3b !important;
}

.show991_slider {
    display: none;
}

.mg-r5{
    margin-right: 5px;
}

.mg-l5{
    margin-left: 5px;
}

@media (max-width: 991px) {
    .hide991 {
        display: none;
    }
    .show991_slider {
        display: block;
    }
    .login-wrapper{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .font_mb {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .fix480 {
        width: 100%;
    }
    .person-profile-img .img-responsive.img-profile {
        height: auto !important;
    }
    .contact-profile .person-profile-img {
        height: auto !important;
    }
    .contact-profile .person-profile-info {
        padding-bottom: 20px;
    }
    .decripstion>p {
        font-size: 15px;
    }
    .imgw100 {
        height: 120px;
    }
}

@media (max-width: 375px) {
    .font_mb {
        font-size: 13px;
    }
    .decripstion>p {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .font_mb {
        font-size: 12px;
    }
    .imgw100 {
        height: 100px;
    }
}

.fixitem {
    padding: 0 5px !important;
}

button.btn-bt.green {
    color: #fff;
    background-color: #00A65A;
    border-radius: 0;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    padding: 8px 15px;
}

button.btn-bt.default {
    color: #222;
    background-color: #ccc;
    border-radius: 0;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    padding: 8px 15px;
}

.input-append .add-on,
.input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
}
.parallax-container {
	/* background-color:#3c3c3b; */
}
.main-content{
    /* max-width: 100%; */
    /* max-width: 760px; */
}

.fix-main-blog{
    max-width: 760px;
}
.diplay_ib {
    display: inline-flex;
	width: 100%;
}

.diplay_ib li {
    padding-right: 5px;
	height: 15px;
    line-height: 13px;
	font-weight: bold;
}
.diplay_inblock_li {
    display: inline-flex;
}
.hr_title_1 {
    border-top: 2px solid #fff;
	margin-top: 5px;
	margin-bottom: 15px;
}
.diplay_inblock_li li {
    padding-right: 15px;
	font-size: 14px;
}
.one-li{
	border-right: 2px solid #999;
	color: #222;
}
.two-li{
	padding-left: 5px;
	color: #167ac6;
}
.font-span{
	font-weight: bold;
	color:#167ac6;
	font-size:12px;
}
.decripstion_1>p {
    font-size: 18px;
	padding-top: 20px;
    padding-bottom: 5px;
}
.diplay_inblock_social_1 span {
    color: #bda785;
    font-size: 12px;
	padding-left:0px;
}
/* .box_content_home{ */
	/* padding-top:22px; */
/* } */
@media (min-width: 1200px){
	.main-content.mt140.container {
		width: 1300px;
	}
}

.main-content.redm-blog {
    z-index: 50;
}
.main-content.mt140.container.fixw0 {
	max-width: 100%;
}
@media (max-width: 767px){
	.parallax-container {
		position: fixed !important;
	}
}

.tab-title{
    margin-top: -10px;
}
.change-pwd.tab-pane.fade{
	display: none;
}
.change-pwd.tab-pane.fade.active.in{
	display: block;
}
.subscription-settings.tab-pane.fade{
	display: none;
}
.subscription-settings.tab-pane.fade.active.in{
	display: block;
}
.section-event{
	overflow: hidden;
}
.inner-event{
	position: fixed;
    top: 25px;
    right: 0;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    background-color: #3c3c3b;
    padding: 0 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-top: 35px;
    
}
.inner-event .close{
	color: #fff;
	opacity: 1;
}
.box-inner{
	overflow-y: auto;
    height: 410px;
}

.box-inner::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.box-inner::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

.box-inner::-webkit-scrollbar-thumb{
	background-color: #000;	
	background-image: -webkit-linear-gradient(45deg,
					  rgba(255, 255, 255, .2) 25%,
					  transparent 25%,
					  transparent 50%,
					  rgba(255, 255, 255, .2) 50%,
					  rgba(255, 255, 255, .2) 75%,
					  transparent 75%,
					  transparent)
}
.inner-event.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.title-event{
	font-size: 15px;
    color: #ccc;
	padding-top: 15px;
}
.box-info-event{
	padding-bottom: 15px;
	padding-right: 10px;
	border-bottom: 2px solid #222;
    padding: 10px 10px 15px 10px;
    margin-bottom: 5px;
}
.info-event{
	padding-bottom: 15px;
}
.no_margin{
	margin: 0px;
}
.color-event{
	color: #ccc;
	font-size: 14px;
}
.tagul{
	display: inline-flex;
}
.tagul>li{
	padding:0 2px;
}

.tagspan{
	margin-left:5px;
	color:#10284c;
	font-weight: 600;	
}
.tagspan-name{
	margin-left:5px;
	color:#3bb5e9;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}
.fonttext-info{
	padding: 10px;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
}
.font-read-more{
	color: #fff;
}
.font-read-more:hover{
	color: #ccc;
}
.bg-newsfeed{
	background-color:#3c3c3b;
}
.boxnewfeed {
    background-color: #fff;
    padding: 50px;
}
.tagpost>li{
	padding-right: 8px;
    padding-left: 0;
	font-size: 14px;
	color: #ccc;
}
.test-info{
	margin:30px 0px;
}
.fixspan{
	margin-top: 15px;
}
.text_right_newsfeed{
	text-align: right;
}
.fixspan>span{
	padding-left:0px;
	color: #d8ba8c;
}
@media (max-width: 576px){
	ul.tagul.tagpost {
		display: block;
	}
	.text_right_newsfeed{
		text-align: left;
	}
}
@media (max-width: 576px){
	.boxnewfeed {
		padding: 15px;
	}
	.tagspan-name {
		font-size: 12px;
	}
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container{
	padding-left:0px;
	padding-right:0px;
	margin-top: 10px;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1{
	padding-left:10px;
	padding-right:10px;
	background:transparent
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.decripstion{
	margin-bottom:0px;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.decripstion>p{
	font-size: 14px;
    word-break: break-word;
	overflow: hidden;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.decripstion>.content_feed_url>.border2px>a>.carousel-home-1>.carousel>.title-url{
	color: #fff;
    padding-top: 10px; 
	padding-left:0px;
	padding-right:0px;
    font-size: 14px;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.decripstion>.content_feed_url>.border2px>a>.carousel-home-1>.carousel>.text-description3{
	color: #fff;
    padding-top: 10px;
    padding-left:0px;
	padding-right:0px;
    font-family: initial;
    font-size: 14px;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.box-content-newfeed-action{
	/*display: none;*/
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.diplay_inblock{
	display: block;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1{
	margin:0px;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.box-content-newfeed-total-action>span{
	font-size: 12px;
    margin-right: 8px;
    padding-left: 0px;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.list_comment_newfeed>.list_comment_newfeed_detail{
	margin-top:0px;
	display: none;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.list_comment_newfeed>.list_comment_newfeed_detail>.col-sm-1.padding-left-0{
	width:0%;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.list_comment_newfeed>.list_comment_newfeed_detail>.col-sm-11.padding-left-0{
	width:100%;
	padding-right:0px;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.list_comment_newfeed>.list_comment_newfeed_detail>.col-sm-11.padding-left-0>div{
	padding-left:0px !important;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.list_comment_newfeed>.list_comment_newfeed_detail>.col-sm-11.padding-left-0>div>a{
	margin-right: 0px;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.list_comment_newfeed>.list_comment_newfeed_detail>.col-sm-11.padding-left-0>div>.box-content-newfeed-action{
	display: none;
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.list_comment_newfeed>.list_comment_newfeed_detail>.col-sm-11.padding-left-0>div>.box-content-newfeed-total-action.box-content-newfeed-total-action>span {
    padding-left: 0px; 
}
.fullpagecol>.fixwith-home>.box_content_home>.box_content>.container>#profile-info>.main-contact-profile>.contact-profile>.row>.main-content>#listFeed>.box-content-1>.list_comment_newfeed>.list_comment_newfeed_detail>.list_comment_newfeed_detail_reply{
	margin-left:0px !important;
}
.main-content .carousel-home-1{
	border:0px !important;
}
@media (max-width: 768px) {
   .fixmb{
	   background-size: cover !important;
   }
   .text-content .read-more{
	   margin-bottom:5px;
       margin-top: 5px;
   }
   .carousel-home-1 .slide-item-img{
	   margin-left:0px;
	   height: 338px;
   }

   .inner-event {
    overflow: auto;
   }

}
@media (max-width: 480px) {
   .carousel-home-1 .slide-item-img{
	   height: 207px;
   }
	.text-content .read-more {
		margin-bottom: 5px;
		margin-top:0px;
	}
	.text-content.carousel-items-description p.carousel-items-p-des {
		margin: 0 0 10px;
		max-height: 100%;
		margin-bottom: 24px;
	}
	.logo a img {
		margin: 0;
	}
}
@media (max-width: 425px) {
   .carousel-home-1 .slide-item-img{
	   height: 181px;
   }
}
@media (max-width: 375px) {
   .carousel-home-1 .slide-item-img{
	   height: 160px;
   }
   .signup-right .signup-next-btn, .signup-right .signup-pre-btn, .login-right .signup-next-btn, .login-right .signup-pre-btn {
		width: 85px;
		height: 35px;
	}
	.submit-pro {
        width: 85px !important;
		height: 35px !important;
	}
}
@media (max-width: 360px) {
   .carousel-home-1 .slide-item-img{
	   height: 151px;
   }
}
@media (max-width: 320px) {
   .carousel-home-1 .slide-item-img{
	   height: 132px;
   }
}

.step3{
    width: 800px;
}
.margintop{
	margin-top: 100px;
}
@media (max-width: 768px) {
	.margintop{
		margin-top: 50px;
	}
}
.ddd{
    max-width: 750px;
    margin: 0px auto;
  
}
label.lb_country{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}

input.t20{
    width: 100%;
   
}

select.age{
    width: 100%;
}

select.gender{
    width: 100%;
}


input.text{
    width: 100%;
}

.settings-right.btn-profile{
    text-align: center;
    width: 50%;
}

/* .the-legend {
    color: #FFF;
    border-style: none;
    border-width: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #e0e0e0;

} */
/* .the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;


} */

.step4-wrap{
    max-width: 700px;
    margin: 0px auto;
}
label.lb_global{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.step4{
    width: 100%;
}


.newsletter{
    /* display: inline-block; */
    float: none;
    height: 35px;
    max-width: 80%;
    width: 100%;
    color: #000;
    margin-right: 10px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
}

.newsletter input{
    cursor: pointer;
    outline: none;
    width: 100%;
}

input.submit-btn-profile{
    width: 120px;
    color: white;
    
    height: 40px;
    background-color: #f39200;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none;
}

.title_step3{
    margin-top: 30px;
    text-align: center;

}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #fff;
    color:  #000000;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 80%
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:   #A9A9A9;
}

.btn-social {
    position: relative;
    /* padding-left: 44px;
    margin-bottom: 3px; */
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0);
}

.btn {
    outline: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.btn, .btn-sm, .btn-group-sm>.btn, .fancybox-opened .fancybox-skin {
    border-radius: 5px;
}

.btn-social.btn-sm {
    padding-left: 38px;
	height: 36px;
    border-radius: 0;
    margin-top: 15px;
}

.btn-social.btn-sm>:first-child {
    line-height: 28px;
    width: 28px;
    font-size: 1.4em;
}


.btn-social>:first-child {
    left: 2px !important;
}

.btn-social>:first-child {
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.1);
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
   text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0);
}
.mobile-top-menu > .icon-show-menu-mobile > .fa-bars{
	font-size: 30px;
}
.mobile-side-menu .power-off-login i {
    position: relative;
    top: -7px;
    display: none;
}
.power-off-login{
	height: auto !important;
    width: 0 !important;
}
.signup-right .section-form.active, .login-right .section-form.active{
	z-index: 1030;
}
.abc input, .abc select{
	border: none;
    outline: none;
    padding: 5px 15px;
    width: 100%;
    margin-bottom: 8px;
    background: #fff;
    color: #222;
    font-family: 'Lato-Regular';
    font-size: inherit;
	height: 30px;
	font-size: 13px;
}
.step4 input, .step4 select{
	border: none;
    outline: none;
    padding: 5px 15px;
    width: 100%;
    background: #fff;
    color: #222;
    font-family: 'Lato-Regular';
    font-size: inherit;
	height: 30px;
	font-size: 14px;
}
.form_step5 input{
	border: none;
    outline: none;
    padding: 3px 15px;
    width: 100%;
    margin-bottom: -6px;
    background: #fff;
    color: #222;
    font-family: 'Lato-Regular';
    font-size: inherit;
	height: 33px;
	font-size: 14px;
}
.form_step5 select{
    border: none;
    outline: none;
    padding: 3px 0px 3px 15px;
    width: 100%;
    margin-bottom: -6px;
    background: #fff;
    color: #222;
    font-family: 'Lato-Regular';
    font-size: inherit;
    height: 33px;
    font-size: 14px;
}
.pdl0{
	padding-left: 15px;
}
.pdr0{
	padding-right: 0px;
}
.bt_save{
	margin-top: 30px;
	text-align: center;
}
.submit-pro{
	color: white;
    width: 100px;
    height: 40px;
    background-color: #FFA500;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none;
}
.mgin-r-70{
	margin-right: 70px;
}
.fix_text{
	text-align: left !important;
}
.section-form .update-img-upload.width-select{
	background: #fff;
    border: 0;
    color: #222;
    border-radius: 10px;
	font-size: 13px;
}
.pd0{
	padding: 0px;
}
.short_bio{
    width: 100%;
    padding-left: 8px;
    min-height: 65px;
    border: 2px solid #fff;
	font-size: 14px;
    background-color: transparent;
    color: #fff;
}
.fix_float{
	float: right;
}
.form_step5{
    max-width: 800px;
    margin: 0px auto;
}
@media (max-width: 991px) {
	.pdl0{
		padding-left: 15px;
        padding-right: 15px;
	}
	
	.pdr0{
		padding-right: 15px;
	}
	.short_bio{
		padding-left: 15px;
		padding-right: 15px;
	}
	.pd15{
		padding: 0px;
	}
	.fixpd{
		padding: 0;
		padding-right: 15px;
        padding-left: 15px;	
	}
	.fix_float {
		float: left;
	}
    .fix{
        padding-left: 15px;
        padding-right: 15px;
    }
    .left{
        padding: 0px;
    }
    .right{
        padding: 0px;
    }
    
}
.left{
    padding-left: 120px;
}
.t-l-r{
	text-align: right;
}
.fix_text_r{
	margin-right: 15%;
}
.right{
    padding-right: 50px;
	text-align: left;
    margin-left: 0px;
}
.pdd50{
	padding-left: 50px;	
}

.pdd0{
    padding-left: 0px;
}

.pdd30{
	padding-left: 30px;	
}
@media (max-width: 767px) {
    .left{
        padding: 0px;
    }
    .right{
        padding: 0px;
    }
    .fixpd{
		padding-left: 15px;	
	}
}
input.use_email{
    width: 10px;
    height: 10px;
    opacity: 100;
}
@media(max-width: 991px){
    .left{
        padding: 0px;
    }
    .right{
        padding: 0px;
    }
	.pdd50{
		padding-left: 0px;	
	}
	.signup-right .tab-content > *, .login-right .tab-content > * {
		width: 100% !important;
	}
    .center_conlum{
        display: none;
    }
	.t-l-r {
		text-align: center;
	}
	.right {
		text-align: center !important;
	}
	.pdd30{
		padding-left: 0px;	
	}
}

.abc input.align_right{
    margin-left: 40px;
}
.abc.form-group label{
    display: table-cell;
}
@media (max-width: 767px) {
    .btn-social.btn-sm{
        width: 100%;
        padding-left: 38px;
        height: 36px;
        border-radius: 0;
        margin-top: 15px;
    }
}

.redm-blog .text-center-content-blog>p>img{
    height: 100%;
}
.top-menu{min-height: 50px !important;}
.logo {
    height: 50px;
}.text-logo {
    height: 50px;
    padding: 0 !important;
    padding-left: 15px;
	margin-left : 10px;
}
@media (min-width: 992px){
    .pdl0{
        padding-left: 0px;
    }
    .pdl{
        padding-left: 15px;
    }
    .col-md-3{
        padding-top: 5px;
    }
    .mg-30{
    margin-left: 30px;
    }
    /* .pdd-signup{
        padding-top: 45px;
    } */
}
.signup-right .step2, .login-right .step2{
    width: 300px
}
.title-h4{
    margin-left: -115px;
    text-align: center;
    color: #9d9d9c;
}
.signup-right .btn-pre-next, .login-right .btn-pre-next{
    margin-top: 20px;

}
img.fix-img{
    width: 2px;
    height: 130px;
}
.logo a img {
    width: 125px !important;
    height: 50px !important;
}
.slider-item {
    position: relative;
}
/* 

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 21px;
    height: 21px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background:  url(../images/icon/if_icon-close_211652.png);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */
.lb_select{
    font-size: 12px;
	text-align: left;
    width: 100%;
}
#cropContainerHeaderButton_1{
    font-family: "Lato-Regular";
    color: #333;
}
#cropContainerHeaderButton_2{
    font-family: "Lato-Regular";
    color: #333;
}
.img-man{
    margin-left: 70px;

}
.styleFont{
	font-family:Lato-Regular;
}
.list-post .carousel .carousel-items .slick-list .slick-track .item{
	font-size: 14px;
}
.list-post .carousel .carousel-items .slick-list .slick-track .item .text-content .read-more {
    right: 10px !important;
    bottom: 10px !important;
}
.top-menu .wrap-slide-text.pull-left{
	padding-left: 20px;
}
#list-post-see-more{
	text-align: center;
	padding-top: 40px;
	margin-bottom: 30px;
	clear: both;
}
.read-more-load{
	background: #4c4c4c;
    padding: 10px 70px;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
	font-size: 16px;
}
p.post-p-des{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-height: 22px;
}
.profile-setting-detail .account-settings .form-account-settings .line-account-settings{
	height: 0px !important;
}
.content_feed_url {
    margin: 0px 0px !important;
}
.border2px .text-description3{
	/*padding: 0;*/
}
.w-100{
	max-width: 100% !important;
	margin-bottom: 15px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.line-h{
	line-height: 35px;
    height: 35px;
}
.settings-left, .settings-right, .settings-comment{
	margin-bottom: 15px;
}
.profile-setting-detail .account-settings .form-account-settings .settings-profile-photo {
    border-bottom: 1px solid;
}
.cover .abc label{
	font-size: 12px;
	font-weight: normal;
}
.font-span-step3{
	font-size: 12px;
	font-weight: normal;
    color: #999;
}
.ml3{
	margin-left: 3px;
}
.add-button{
    float:right;
    font-size: 14px;
    font-weight: 100;
    background: #ccc !important;
    height: 25px;
    width: 35px;
    padding-top: 2px;
    padding-left: 4px;
    border-radius: 5px;
}
.view-btn{
    float: right;
    border:1px solid #222;
    cursor: pointer;
}
.view-btn:hover{
    color: blue;
}
.span-step-3{
	position: relative;
	top: -5px;
	font-size: 12px;
	font-weight: normal;
}
.step4 label{
	font-size: 12px;
	font-weight: normal;
}
.biography{
	min-height: 33px !important;
	padding-left: 15px;
    font-size: 14px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.form_step5 label{
	font-size: 12px;
	font-weight: normal;
    text-transform: capitalize;
}
@media (max-width: 767px){
    .pd0768{
		padding: 0px;
	}
	.ml3{
		margin-left: 0px;
	}
	.step4 label {
		text-align: center;
	}
} 
@media (min-width: 1440px){
	.cover .abc label{
		font-size: 14px;
		font-weight: normal;
	}
	.font-span-step3{
		font-size: 14px;
		font-weight: normal;
	}
}
@media (min-width: 1680px){
	.cover .abc label{
		font-size: 16px;
		font-weight: normal;
	}
	.font-span-step3{
		font-size: 16px;
		font-weight: normal;
	}
}
.login-left .btn-pre-next{
	margin-top: 0px;
}
.mgin-r-10{
	margin-right: 10px;
}
.mg-20-l{
	margin-left: 25px;
}
.inner-event.active, .playlist.active, .music.active{
	z-index: 1000 !important;
}
.fc-scroller > .fc-day-grid, .fc-scroller > .fc-time-grid{
	background-color: #fff;
}
.span-class-date{
	color: #167ac6;
}
.span-class-date:hover{
	text-decoration: none;
}
.show_hide_cal{
	visibility: hidden;
    height: 0;
	display: table-caption;
}
.box-cal{
	display: inline-flex;
    margin-bottom: 10px;
    right: 0;
}
.box-cal li{
    min-width: 25px;
	margin-right: 5px;
}
.fc-center h2{
	font-size: 22px;
	padding: 10px 0px;
}
@media(max-width: 812px){
    .two-col{
        margin-top: -20px;
    }
}
.w-100{
    max-width: 100%;
}

.popup-home div >.modal-body{
    padding: 0 !important;
}
.modal-title{
    text-align: center; 
}

.popup-home{
    border: 8px solid #f39200;
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 100;
    width:55%;
    background:#333;
    font:18px Lato-Regular;
    color: white;
    border-radius: 0 !important;
}
.disable-popup{
    display: none;
}
.my-modal-footer{
    padding: 10px 10px 0 10px !important;
    text-align: center !important;
    margin-top: 0 !important;

}
.popup-btn{
    color: white;
    min-height: 35px;
    background-color: #f39200;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: none;
    font-family: inherit;
    font-size: 15px;
    padding: 0 15px 0 15px;
}
.close-btn{
    float: right;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #f39200;
    border: none;
    background: transparent;
    font-family: "FjallaOne";
}
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 2;
    }
  }
  
  .fade-in {
    animation: fade-in 3s;
  }
.wc-popup{
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    font-size: 15px;
}

.img-sgt{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.chose{
top:50%;
width: 100%;
height: 50%;
display: none;
z-index: 100;
position: absolute;
bottom: 0;
left: 0;
right: 0;

}
.img-sgt:hover +.chose{
    display: block;
}
.suggest{
    position: relative;
}
.a {
    position: relative;
    padding: 0 !important;
    margin: auto;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 !important;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.8;
    
  }
  
  .a:hover .overlay {
    height: 23px;
  }
  .a:hover .info{
    height:35px;
  }
  
  .follow-btn {
    color: white;
    font-size: 20px;
    right: 0;
    width: 23px;
    height:100%;
    position: absolute;
    background:red;
    
  }
   .modal-body .row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
   }
   /* .modal-body .row .col-sm-3{
       width: 31%;
   } */
.a .overlay button{
    border: none;
    background: transparent;
    width: 100%;
    
}
.info{
    position: absolute;
    top: 0;
    height: 0;
    left: 0;
    background: #333;
    color: #fff;
    transition: height 1s;
    text-align: center;
    overflow: hidden;
    width: 100%;
    font-size: 13px;
    opacity: 0.8;
}
.info .name{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

@media(max-width: 425px){
    .contact-code{
        width: 19% !important;
        background: transparent !important;
        color: #fff !important;
        border-style: none;
        display: inline-block;
        margin-top: -2px;
        padding-top: 0px !important; 
        padding-bottom: 0 !important ;
    }
}
@media(min-width: 426px){
    .contact-code{
        width:16.5% !important;
        overflow: visible;
        background: transparent !important;
        color: #fff !important;
        border-style: none;
        display: inline-block;
        margin-top: -2px;
        padding-top: 0px !important; 
        padding-bottom: 0 !important ;
    }
}

.event_more_btn {
    text-align: center;
    margin-top: 15px;
}

#setting1 input{
    border: 2px solid #fff;
    color: #fff !important;
    background: transparent;
    padding-left: 5px;
}
#setting1 .btn-profile input{
    border: 2px solid #f39200;
    color: #f39200 !important;
}

#setting1 textarea{
    border: 2px solid #fff;
    color: #fff !important;
    background: transparent;
    padding-left: 5px;
}

#gender{
    padding: 0 10px;
}
#gender{
    
}

#setting1 select, option {
    background: #464646;
    color: #fff;
    
    border: 2px solid #fff;
}

#setting1 .no-gutters{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}

.notify_form{
    /* display:none; */
    position:fixed;
    /* width:400px; */
    /* height:500px;  */
    top:50px;
    right:50px;
    background:transparent;
    z-index:10001;
    overflow:hidden;
    padding:0 !important;
    box-shadow: 5px 10px 8px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.disnable_notify{
    display:none !important;
}
.notify-content{
    position:relative;
    width:100%;
    height:100%;
    overflow-y:auto;
    color:white;
}

/* style for the scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f39200; 
}
/* end style of scrollbar */

.notify-cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: transparent;
  }
.notify-cover.active {
    display: block;
}
.notify-content > div{
    height:63px;
    background:#999;
}
.each-notify:hover{
    background:#999;
}
.each-notify{
    padding-bottom:2px;
    margin:6px 0 6px 0;
    border-bottom:1px solid #e5e5e5; 
    cursor: pointer;

}
/* .img-notify{
    height:60px;
    width:60px;
    padding:5px;
    border-style:none;
    border-radius:30px;
    float:left;
} */

.info-notify{
    margin-left:10px;
    overflow:hidden;
    position:relative;
    height:100%;
}
.info-notify>p{
    overflow:hidden;
    height:100%;
    font-size:12px;
    max-height:45px;
   
}
.info-notify >div{
    font-size:10px;
    margin-bottom: 7px;
}
.nf-tt{
    width:100%;
    height:30px;
    background:transparent;
    color:white;
    line-height:30px;
    padding-left:10px;
    border-bottom-color: white;
}
#notify{
    height: 0;
    transition: all 1s;
}

.select_location {
    background: #3C3C3B;
    color: #f1f1f1;
    padding: 5px 10px;
    margin: 10px 10px 0px 0px;
    width: 150px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid  #f1f1f1;
}

.btn-profile-interactive {
    margin: 15px 0 0 15px;
    border: 1px solid #F19100;
    color: #F19100;
    background: none;
    width: 100px;
    padding: 5px;
    border-radius: 3px;
    float: right;
}

.title-page .f-26 {
    margin: 15px 0 0 0;
    padding: 5px;
}

input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    width: 29px;
    height: 25px;
    position: absolute;
    z-index: 1;
}

#genre_check_all, #checkAll_pro {
    width: 100px;
    margin-bottom: 10px;
    height:30px;
    background: transparent;
    color: #FFA500;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.slide_propage ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
  display:flex;
  flex-wrap: wrap;
}
.slide_propage ul li {
  list-style:none;
  margin-bottom:25px;
  background: none;
}
.slide_propage ul li img {
  cursor: pointer;
  width: 100%;
}

.slide_propage .modal-body img {
  width: 1920px;
}

#myModal .modal-dialog {
    margin: 0 auto !important;
    width: auto !important;
}

#account-setting-form {
    font-size: 13px;
    
}

.align-items-center .row {
    padding: 0;
    margin: 0;
}

.menu-profile-toggle li {
    margin-right:  10px;
}

#autoExpand {  
    overflow:hidden;
    display:block;
  }

.box-cal li button {
    background: 0;
    font-weight: bold;
    color: #fff;
    border: 0;
    padding: 0;
}

.box-cal li button:hover {
    background: none;
    color: #f1f1f1;
}
.g-recaptcha.google-captcha div {
    width: auto !important;
<<<<<<< .mine
}

.select-hidden {
    display: none;
    visibility: hidden;
}

.select {
    display: inline-block;
    position: relative;
    width: 100%;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    border: 1px solid rgb(169, 169, 169);
    background: #464646;
    border-radius: 2px;
}

.select-options li {
    text-indent: 10px;
}

.select-options li:hover {
    background: #f39200;
}

.select-options li[rel="hide"] { display: none; }

||||||| .r2400
}=======
}

.fix-mg-t40 {
    margin-top: 10px;
}

.fix-mg-b50 {
    margin-top: 20px;
}

.form-change-password {
    font-size: 12px;
}

.pull_event {
    color: #fff;
    font-size: 11px;
}
.pull_event .form-group{
    margin-bottom: 0 !important;
}
.pull_event label{
    margin: 0 auto;
}
.pull_event input, textarea {
    background: none;
    color: #fff;
    width: 100%;
    border-radius: 0;
}

.pull_event .tickets input{
    margin: 0 auto;
    width: 65%;
    background: #87868a;
    border: none;
    color: #000;
    height: 26px;
}

.pull_event button {
    border: none;
    border-radius: 0;
    padding: 0px 20px;
    background: none;
    color: #f39200;
    display: block;
    margin: 0px auto;
    font-weight: bold;
    font-size: 15px;
}

.pull_event button :hover {
    color: #fff;
}

.pull_event .tagit {
    background: none;
    color: #fff;
    border: 1px solid #FBFAFA;
    border-radius: 0;
}

.pull_event span input[type="checkbox"] {
    cursor: pointer;
    opacity: 100;
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 1;
}
.pull_event .radio, .checkbox{
    margin-top: 0;
    margin-bottom: 0;
}
.pull_event .form-control{
    height: 19px;
}
.pull_event .event_image{
    width: 400px;
}

#search_event {
    background: none !important;
    color: #fff;
    border-radius: 0;
    border: 1 solid #A9A9A9;
    max-width: 300px;
}

.inner-event .fix-close {
    top: 25px !important;
}

/*button on/off display*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  height: 20px;
  width: 42px;
  cursor: pointer;
  top: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f39200;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
