body > main {
  min-height: 100vh; }

.side-menu {
  font-family: FjallaOne; }
  .side-menu:hover {
    margin-left: 0;
    transform: translateX(0px); }
  .side-menu .mobile-social {
    border-bottom: 1px solid #fff; }
  .side-menu ul.list-side-menu a.side-menu-link .img-mobile-search {
    opacity: 0;
    transition: all .2s; }
  .side-menu ul.list-side-menu .menu-item a.side-menu-link {
    transform: translateX(-50px);
    transition: all .3s; }
  .side-menu .wrap-trending .item-trending {
    opacity: 1; }
  .side-menu .side-menu-banner {
    visibility: visible; }
  .side-menu .side-menu-middle {
    width: 145px; }
  .side-menu:hover ul.list-side-menu a.side-menu-link .img-mobile-search,
  .side-menu .active ul.list-side-menu a.side-menu-link .img-mobile-search {
    opacity: 1; }
  .side-menu:hover ul.list-side-menu .menu-item a.side-menu-link,
  .side-menu .active ul.list-side-menu .menu-item a.side-menu-link {
    transform: translateX(0); }

ul.list-side-menu {
  width: 170px;
  padding-right: 0; }

.side-menu .side-menu-view {
  width: calc(100% + 20px); }

.side-menu .side-menu-top {
  width: auto; }

.top-menu, .side-menu {
  display: block; }

.side-menu {
  width: 170px;
  overflow-x: hidden; }

ul.list-side-menu a.side-menu-link:hover {
  width: 100%; }
ul.list-side-menu a.side-menu-link > span {
  line-height: 23px;
  padding: 10px 25px 10px 0;
  display: block;
  max-width: 100px;
  float: right;
  text-align: right; }

ul.list-side-menu > li {
  transition: all .3s; }
  ul.list-side-menu > li a.side-menu-item {
    width: 100%;
    display: table;
    float: none;
    clear: both; }
  ul.list-side-menu > li.menu-search, ul.list-side-menu > li.mobile-social {
    transform: translateX(-25px); }
  ul.list-side-menu > li.menu-item {
    transform: translateX(-25px); }
    ul.list-side-menu > li.menu-item.menu-item-0 {
      background-color: #be1622; }
    ul.list-side-menu > li.menu-item.menu-item-1 {
      background-color: #a3195b; }
    ul.list-side-menu > li.menu-item.menu-item-2 {
      background-color: #634e42; }
    ul.list-side-menu > li.menu-item.menu-item-3 {
      background-color: #2d2e83; }
    ul.list-side-menu > li.menu-item.menu-item-4 {
      background-color: #36a9e1; }
    ul.list-side-menu > li.menu-item.menu-item-5 {
      background-color: #f9b233; }
    ul.list-side-menu > li.menu-item:hover {
      transform: translateX(0); }

.side-menu .mobile-social a {
  width: 21px; }

ul.list-side-menu a.side-menu-link-search {
  transform: translateX(0) !important; }

ul.list-side-menu a.side-menu-link.side-menu-link-search:hover {
  transform: translateX(0) !important; }

ul.list-side-menu a.side-menu-link .mobile-search {
  padding-left: 40px; }

/*mobile*/
.mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu > li {
  width: 100%;
  display: table;
  float: none;
  clear: both; }
.mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu.menu-item > a {
  width: 100%;
  display: table;
  float: none;
  clear: both; }

.mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link {
  width: 100%;
  display: table;
  float: none;
  clear: both; }

.mobile-side-menu ul.list-side-menu a.side-menu-link > span {
  max-width: inherit; }
.mobile-side-menu ul.list-side-menu .menu-bar {
  transform: translateX(-25px); }
  .mobile-side-menu ul.list-side-menu .menu-bar .side-menu-item.mobile-login {
    padding-left: 50px !important; }
.mobile-side-menu ul.list-side-menu .menu-search .mobile-search-style {
  width: 100%;
  padding: 0; }
.mobile-side-menu .power-off-login {
  position: relative; }
  .mobile-side-menu .power-off-login i {
    position: relative;
    top: -7px; }

.mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu {
  padding-right: 35px; }

.mobile-side-menu ul.list-side-menu a.side-menu-link {
  transform: none !important; }
  .mobile-side-menu ul.list-side-menu a.side-menu-link:hover {
    transform: none !important;
    width: 100%; }

.mobile-side-menu .mobile-side-menu-view .side-menu-top ul.list-side-menu a.side-menu-link:hover {
  width: 100%; }

.mobile-side-menu .mobile-side-menu-view .side-menu-middle {
  width: 240px; }

.mobile-side-menu ul.list-side-menu > li.mobile-social {
  transform: none;
  width: calc(100% - 25px) !important; }

.list-post .carousel .carousel-items .slick-list {
  display: flex;
  margin-bottom: 20px; }
  .list-post .carousel .carousel-items .slick-list .slick-track {
    display: flex;
    flex-wrap: wrap; }
    .list-post .carousel .carousel-items .slick-list .slick-track .slider-item {
      height: auto;
      margin-bottom: 20px; }
    .list-post .carousel .carousel-items .slick-list .slick-track .item {
      height: 100%;
      background-color: #1d1d1b;
      position: relative; }
      .list-post .carousel .carousel-items .slick-list .slick-track .item .text-content {
        height: 45%; }
        .list-post .carousel .carousel-items .slick-list .slick-track .item .text-content .read-more {
          position: absolute;
          right: 20px;
          bottom: 20px; }

.slide-text .run-text {
  display: inline-block; }
  .slide-text .run-text + .run-text {
    margin-left: 40px; }

/*# sourceMappingURL=thai.css.map */
