.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr> td {
    padding: 5px;
}

.table > tbody > tr > td img {
    width: 50px;
}

.push-to-fb {
    cursor: pointer;
}

.select2-container-multi .select2-choices .select2-search-choice {
    background-color: #e5e5e5;
    font-size: 10px;
}