/* -- BODY -- */
body{margin:0; font-size:0.75em; font-family:Verdana,Arial,Helvetica,sans-serif; background-image:url('../img/bg.png'); background-repeat:repeat-y; background-attachment:fixed; background-position:center;}
/* -- HEADER -- */
div#header{height:136px; margin:0px; text-align:center;  background-image:url('../img/headerbg.png'); background-repeat:no-repeat; background-position:bottom;}
/* -- LOGO -- */
div#logo{/*background-image:url('../img/logo.png');*/ width:300px; height:60px; position:relative; top:60px; left:200px}
/* -- SITE MENU -- */
div#nav{float:left; position:relative; top:0px; right:-603px}
#nav UL{list-style:none; margin:0; padding:0; border:none}
#nav LI{display:block; margin:0; padding:1px; float:left; width:auto}
#nav A{color:#444; font-size:0.938em; display:block; text-decoration:none; margin:0; width:130px; height:60px; background-image:url('../img/cloudbut.png');}
#alink{position:relative; top:19px}
#nav A:hover, #nav A:active{width:130px; height:60px; background-image:url('../img/cloudbut2.png'); color:black; font-weight:bold}
#nav A.active:link, #nav A.active:visited{position:relative; z-index:102}
/* -- LANGUAGE MENU -- */
div#languagemenu{float:left; position:relative; top:-40px; right:-289px}
#langnav{list-style:none; margin-bottom:10px; /* Clear floats */float:left; width:125px; /* Bring the nav above everything else--uncomment if needed.position:relative; z-index:5; */font-size:0.938em}
span#lm{font-weight:bold;}
#langnav li{float:left; margin-right:10px; position:relative; width:125px; border-bottom:1px #DDD solid; text-align:left;}
#langnav a{display:block; padding:5px; color:black; text-decoration:none}
#langnav a:hover{text-decoration:underline; font-weight:bold}
/*--- DROPDOWN ---*/
#langnav ul{background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can,we don't actually want to see it if we can help it... */list-style:none; position:absolute; left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none; ) */}
#langnav ul li{padding-top:0px; /* Introducing a padding between the li and the a give the illusion spaced items */float:none}
#langnav ul a{white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */}
#langnav li:hover ul{/* Display the dropdown on hover */top:21px; left:-40px; /* Bring back on-screen when needed */}
#langnav li:hover a{/* These create persistent hover states,meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */background:#FCFCFC; text-decoration:underline}
#langnav li:hover ul a{/* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */text-decoration:none; border-left:1px #DDD solid; border-right:1px #DDD solid}
#langnav li:hover ul li a:hover{/* Here we define the most explicit hover states--what happens when you hover each individual link. */background:#FFFADD}
/* -- CURRENCY MENU -- */
div#currencymenu{float:left; position:relative; top:-40px; right:-263px}
#currnav{list-style:none; margin-bottom:10px; /* Clear floats */float:left; width:125px; /* Bring the nav above everything else--uncomment if needed.position:relative; z-index:5; */font-size:0.938em}
span#cm{font-weight:bold;}
#currnav li{float:left; margin-right:10px; position:relative; width:125px; border-bottom:1px #DDD solid; text-align:left;}
#currnav a{display:block; padding:5px; color:black; text-decoration:none}
#currnav a:hover{text-decoration:underline; font-weight:bold}
/*--- DROPDOWN ---*/
#currnav ul{background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can,we don't actually want to see it if we can help it... */list-style:none; position:absolute; left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none; ) */}
#currnav ul li{padding-top:0px; /* Introducing a padding between the li and the a give the illusion spaced items */float:none}
#currnav ul a{white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */}
#currnav li:hover ul{/* Display the dropdown on hover */top:21px; left:-40px; /* Bring back on-screen when needed */}
#currnav li:hover a{/* These create persistent hover states,meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */background:#FCFCFC; text-decoration:underline}
#currnav li:hover ul a{/* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */text-decoration:none; border-left:1px #DDD solid; border-right:1px #DDD solid}
#currnav li:hover ul li a:hover{/* Here we define the most explicit hover states--what happens when you hover each individual link. */background:#FFFADD}
/* -- WRAPPER -- */
div#wrapper{min-width:960px; min-height:450px; max-width:1120px; margin:0px auto}
/* -- MAIN -- */
div#main{-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; padding:5px; padding-bottom:15px}
/* -- INDEX TABLE -- */
table#main a:link {color: #666;font-weight: bold;text-decoration:none;}
table#main a:visited {color: #999999;font-weight:bold;text-decoration:none;}
table#main a:active,
table#main a:hover {color: #bd5a35;text-decoration:underline;}
table#main {
	width:900px;min-width:945px;
	color:#666;
	font-size:0.88em;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0px auto;
	border:#ccc 1px solid;
	border-spacing: 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table#main th {padding:5px 0px 5px 0px;border-top:1px solid #fafafa;border-bottom:1px solid #e0e0e0;background: #CFE3FF;background: -webkit-gradient(linear, left top, left bottom, from(#CFE3FF), to(#E3EFFF));background: -moz-linear-gradient(top,  #CFE3FF,  #E3EFFF);}
table#main th:first-child{text-align: left;padding-left:20px;}
table#main tr:first-child th:first-child{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;}
table#main tr:first-child th:last-child{-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}
table#main tr{text-align: center;padding-left:20px;}
table#main tr td:first-child{text-align: left;padding-left:20px;border-left: 0;}
table#main tr td {padding:5px;border-top: 1px solid #ffffff;border-bottom:1px solid #e0e0e0;border-left: 1px solid #e0e0e0;background: #fafafa;background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);}
table#main tr.even td{background: #f6f6f6;background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);}
table#main tr:last-child td{border-bottom:0;}
table#main tr:last-child td:first-child{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;}
table#main tr:last-child td:last-child{-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}
table#main tr:hover td{background: #f2f2f2;background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	}
table#all a:link {color: #666;font-weight: bold;text-decoration:none;}
table#all a:visited {color: #999999;font-weight:bold;text-decoration:none;}
table#all a:active,
table#all a:hover {color: #bd5a35;text-decoration:underline;}
table#all {
	width:600px;
	color:#666;
	font-size:0.88em;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0px auto;
	border:#ccc 1px solid;
	border-spacing: 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table#all th {padding:5px 0px 5px 0px;border-top:1px solid #fafafa;border-bottom:1px solid #e0e0e0;background: #CFE3FF;background: -webkit-gradient(linear, left top, left bottom, from(#CFE3FF), to(#E3EFFF));background: -moz-linear-gradient(top,  #CFE3FF,  #E3EFFF);}
table#all th:first-child{text-align: left;padding-left:20px;}
table#all tr:first-child th:first-child{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;}
table#all tr:first-child th:last-child{-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}
table#all tr{text-align: center;padding-left:20px;}
table#all tr td:first-child{text-align: left;padding-left:20px;border-left: 0;}
table#all tr td {padding:5px;border-top: 1px solid #ffffff;border-bottom:1px solid #e0e0e0;border-left: 1px solid #e0e0e0;background: #fafafa;background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);}
table#all tr.even td{background: #f6f6f6;background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);}
table#all tr:last-child td{border-bottom:0;}
table#all tr:last-child td:first-child{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;}
table#all tr:last-child td:last-child{-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}
table#all tr:hover td{background: #f2f2f2;background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);}
#tablemore{width:425px}
#tablecenter{text-align:center}
#tableleft{text-align:left}
#tableright{text-align:right}
#tablecampaigntitle{font-weight:bold; text-decoration:none; border-bottom:1px lightgray dashed; text-transform:uppercase}
/* -- TABLE P Desc Style -- */
p#pdesc{margin-top:5px; margin-bottom:2px}
/* -- MEMBERS -- */
#adlist{width:850px; float:left}
#curlist{float:right; width:255px}
#memlinks{font-size:0.938em; width:auto; height:20px; float:right; background-color:#F9F9F9; padding:2px; border-top:1px solid #DBDBDB; border-bottom:1px solid #CECECE;}
#memlinks a{margin-left:5px; margin-right:5px; font-weight:normal; text-decoration:none}
#memlinks a:hover{background-color:#FFFADD}
a#createnewad{color:green}
a#mainarea{color:black}
a#phistory{color:black}
a#logout{color:red}
.visisble{font-size:14px;font-family:"Comic Sans MS";font-weight:bold;} 
.pricey{font-size:15px;font-family:"Comic Sans MS";color:darkgreen;} 
.avail{font-size:15px;font-family:"Comic Sans MS";color:darkred;} 
.couponp {margin-top: 15px; margin-top:15px; margin-bottom:15px; width:200px; border:1px dashed; padding:4px; border-color:red; }
tr.off { background: #FFF;} tr.on { background: #F4F4F4;} 
a.lang1 {border-style:dotted; border-width:1px; padding:5px; background-color:#EBEBEB;} a.lang2 {border-style:dotted; border-width:1px; padding:5px;}
#overlappopup{ /*don't change id name */position: absolute; /*don't change position property */z-index: 1000;background: white;border: 1px solid black;padding: 5px;left: 0;top: 0;visibility: hidden;}
div.options {width:95%; margin-left:30px; padding: 4px; background-color: #F0F0F0; 
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 6px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 6px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-radius: 6px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
margin-bottom:5px;
border-top:1px solid #EDEDED;
border-bottom:1px solid #D1D1D1;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
font-size:1.2em;}
div.limited { background-image:url('../img/fire_bg.png'); background-repeat:no-repeat; background-position:right bottom; width:95%; margin-left:30px; padding: 4px; background-color: #FEFAD8;
-webkit-border-radius: 6px;
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius: 6px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-radius: 6px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
margin-bottom:5px;
border-top:1px solid #EDEDED;
border-bottom:1px solid #D1D1D1;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
font-size:1.2em;}
div.options:hover {border:1px solid #ADADAD;}
div.limited:hover {border:1px solid #ADADAD;}
input.opbutton {position: relative; top: 45px; left: 5px; }
span.right { FLOAT: right; }
span.price { color:green; font-size: 14px; }
/* -- MEMBER TABLE -- */
table#mem {
	width:100%;
	color:#666;
	font-size:0.88em;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0px auto;
	border:#ccc 1px solid;
	border-spacing: 0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table#mem th {padding:8px 0px 8px 0px;border-top:1px solid #fafafa;border-bottom:1px solid #e0e0e0;background: #D9E9FF;background: -webkit-gradient(linear, left top, left bottom, from(#D9E9FF), to(#ebebeb));background: -moz-linear-gradient(top,  #D9E9FF,  #ebebeb);}
table#mem th:first-child{text-align: left;padding-left:20px;}
table#mem tr:first-child th:first-child{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;}
table#mem tr:first-child th:last-child{-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;}
table#mem tr{text-align: center;padding-left:20px;}
table#mem tr td:first-child{text-align: left;padding-left:20px;border-left: 0;}
table#mem tr td {padding:5px;border-top: 1px solid #ffffff;border-bottom:1px solid #e0e0e0;border-left: 1px solid #e0e0e0;background: #fafafa;background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);}
table#mem tr.even td{background: #f6f6f6;background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);}
table#mem tr:last-child td{border-bottom:0;}
table#mem tr:last-child td:first-child{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;}
table#mem tr:last-child td:last-child{-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}
table#mem tr:hover td{background: #f2f2f2;background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);}
#mtable{border:1px solid #D6D6D6; background-color:white; width:100%; font-family:Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif; color:#333}
#mtable thead{background-color:#E8F6F7}
#mtable th{border-bottom:1px solid #D6D6D6; text-shadow:rgba(255,255,255,0.796875) 0px 1px 0px; font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif; font-weight:normal; text-align:center; line-height:1.3em; font-size:14px; text-shadow:darkgray 1px 1px 1px}
#mtable td{font-size:12px; vertical-align:middle;}
#mtablemore{width:425px}
#mtablecenter{text-align:center}
#mtableleft{text-align:left}
#mtabledivide{border-bottom:1px #E5E5E5 dashed; text-align:left}
#mtableright{text-align:right}
#mtablecampaigntitle{font-weight:bold; text-decoration:none; border-bottom:1px lightgray dashed; text-transform:uppercase}
/* -- FOOTER -- */
div#footer{text-align:center; height:148px; background-image:url('../img/footerbg.png'); background-repeat:no-repeat; background-position:top;}
#footer a{color:black; font-weight:bold}
/* -- CLEAR -- */
div#clear{clear:both}
/* -- SPACING -- */
div#spacing{height:10px}
/* -- SPECIAL NOTE -- */
p#specialnote{margin:0px auto; background-color:#EFFFFE; border:1px dashed #BAFFF8; width:500px; padding:3px; color:darkred; font-weight:bold}
/* -- BUTTONS -- */
.buttons a, .buttons button{display:block; margin:0 auto; background-color:#E2E2E2; border:1px solid #7C7C7C; border-top:1px solid #CECECE; border-left:1px solid #CECECE; font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif; font-size:100%; line-height:130%; text-decoration:none; font-weight:bold; color:black; cursor:pointer; padding:5px 10px 6px 7px; /* Links */}
.buttons button{width:auto; overflow:visible; padding:4px 10px 3px 7px; /* IE6 */}
.buttons button[type]{padding:5px 10px 5px 7px; /* Firefox */line-height:17px; /* Safari */}
*:first-child+html button[type]{padding:4px 10px 3px 7px; /* IE7 */}
.buttons button img, .buttons a img{margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px}
/* STANDARD */
button:hover, .buttons a:hover{background-color:#dff4ff; border:1px solid #c2e1ef; color:#369}
.buttons a:active{background-color:#6299c5; border:1px solid #6299c5; color:#fff}
/* POSITIVE */
button.positive, .buttons a.positive{color:#529214}
.buttons a.positive:hover, button.positive:hover{background-color:#E6EFC2; border:1px solid #C6D880; color:#529214}
.buttons a.positive:active{background-color:#529214; border:1px solid #529214; color:#fff}
/* NEGATIVE */
.buttons a.negative, button.negative{color:#d12f19}
.buttons a.negative:hover, button.negative:hover{background:#fbe3e4; border:1px solid #fbc2c4; color:#d12f19}
.buttons a.negative:active{background-color:#d12f19; border:1px solid #d12f19; color:#fff}
/* -- THEMES DIV, SELECT -- */
div#themes{position:relative; bottom:40px; left:-380px}
select#themes{font-family:Verdana,Arial,Helvetica,sans-serif; font-size:100%; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:white; border:1px solid white}
/* JavaScript Graphical / Virtual Keyboard Interface  */
#keyboardInputMaster{ position:absolute; font:normal 11px Arial,sans-serif; border-top:1px solid #eee; border-right:1px solid #888; border-bottom:1px solid #444; border-left:1px solid #ccc; -webkit-border-radius:0.6em; -moz-border-radius:0.6em; border-radius:0.6em; -webkit-box-shadow:0px 2px 10px #444; -moz-box-shadow:0px 2px 10px #444; box-shadow:0px 2px 10px #444; opacity:0.95; filter:alpha(opacity=95); background-color:#ddd; text-align:left; z-index:1000000; width:auto; height:auto; min-width:0; min-height:0; margin:0px; padding:0px; line-height:normal; -moz-user-select:none; cursor:default}#keyboardInputMaster *{ position:static; color:#000; background:transparent; font:normal 11px Arial,sans-serif; width:auto; height:auto; min-width:0; min-height:0; margin:0px; padding:0px; border:0px none; outline:0px; vertical-align:baseline; line-height:1.3em}#keyboardInputMaster table{ table-layout:auto}#keyboardInputMaster.keyboardInputSize1,#keyboardInputMaster.keyboardInputSize1 *{ font-size:9px}#keyboardInputMaster.keyboardInputSize3,#keyboardInputMaster.keyboardInputSize3 *{ font-size:13px}#keyboardInputMaster.keyboardInputSize4,#keyboardInputMaster.keyboardInputSize4 *{ font-size:16px}#keyboardInputMaster.keyboardInputSize5,#keyboardInputMaster.keyboardInputSize5 *{ font-size:20px}#keyboardInputMaster thead tr th{ padding:0.3em 0.3em 0.1em 0.3em; background-color:#999; white-space:nowrap; text-align:right; -webkit-border-radius:0.6em 0.6em 0px 0px; -moz-border-radius:0.6em 0.6em 0px 0px; border-radius:0.6em 0.6em 0px 0px}#keyboardInputMaster thead tr th div{ float:left; font-size:130% !important; height:1.3em; font-weight:bold; position:relative; z-index:1; margin-right:0.5em; cursor:pointer; background-color:transparent}#keyboardInputMaster thead tr th div ol{ position:absolute; left:0px; top:90%; list-style-type:none; height:9.4em; overflow-y:auto; overflow-x:hidden; background-color:#f6f6f6; border:1px solid #999; display:none; text-align:left; width:12em}#keyboardInputMaster thead tr th div ol li{ padding:0.2em 0.4em; cursor:pointer; white-space:nowrap; width:12em}#keyboardInputMaster thead tr th div ol li.selected{ background-color:#ffc}#keyboardInputMaster thead tr th div ol li:hover,#keyboardInputMaster thead tr th div ol li.hover{ background-color:#ddd}#keyboardInputMaster thead tr th span,#keyboardInputMaster thead tr th strong,#keyboardInputMaster thead tr th small,#keyboardInputMaster thead tr th big{ display:inline-block; padding:0px 0.4em; height:1.4em; line-height:1.4em; border-top:1px solid #e5e5e5; border-right:1px solid #5d5d5d; border-bottom:1px solid #5d5d5d; border-left:1px solid #e5e5e5; background-color:#ccc; cursor:pointer; margin:0px 0px 0px 0.3em; -webkit-border-radius:0.3em; -moz-border-radius:0.3em; border-radius:0.3em; vertical-align:middle; -webkit-transition:background-color .15s ease-in-out; -o-transition:background-color .15s ease-in-out; transition:background-color .15s ease-in-out}#keyboardInputMaster thead tr th strong{ font-weight:bold}#keyboardInputMaster thead tr th small{ -webkit-border-radius:0.3em 0px 0px 0.3em; -moz-border-radius:0.3em 0px 0px 0.3em; border-radius:0.3em 0px 0px 0.3em; border-right:1px solid #aaa; padding:0px 0.2em 0px 0.3em}#keyboardInputMaster thead tr th big{ -webkit-border-radius:0px 0.3em 0.3em 0px; -moz-border-radius:0px 0.3em 0.3em 0px; border-radius:0px 0.3em 0.3em 0px; border-left:0px none; margin:0px; padding:0px 0.3em 0px 0.2em}#keyboardInputMaster thead tr th span:hover,#keyboardInputMaster thead tr th span.hover,#keyboardInputMaster thead tr th strong:hover,#keyboardInputMaster thead tr th strong.hover,#keyboardInputMaster thead tr th small:hover,#keyboardInputMaster thead tr th small.hover,#keyboardInputMaster thead tr th big:hover,#keyboardInputMaster thead tr th big.hover{ background-color:#ddd}#keyboardInputMaster tbody tr td{ text-align:left; padding:0.2em 0.3em 0.3em 0.3em; vertical-align:top}#keyboardInputMaster tbody tr td div{ text-align:center; position:relative; zoom:1}#keyboardInputMaster tbody tr td table{ white-space:nowrap; width:100%; border-collapse:separate; border-spacing:0px}#keyboardInputMaster tbody tr td#keyboardInputNumpad table{ margin-left:0.2em; width:auto}#keyboardInputMaster tbody tr td table.keyboardInputCenter{ width:auto; margin:0px auto}#keyboardInputMaster tbody tr td table tbody tr td{ vertical-align:middle; padding:0px 0.45em; white-space:pre; height:1.8em; font-family:'Lucida Console','Arial Unicode MS',monospace; border-top:1px solid #e5e5e5; border-right:1px solid #5d5d5d; border-bottom:1px solid #5d5d5d; border-left:1px solid #e5e5e5; background-color:#eee; cursor:default; min-width:0.75em; -webkit-border-radius:0.2em; -moz-border-radius:0.2em; border-radius:0.2em; -webkit-transition:background-color .15s ease-in-out; -o-transition:background-color .15s ease-in-out; transition:background-color .15s ease-in-out}#keyboardInputMaster tbody tr td table tbody tr td.last{ width:99%}#keyboardInputMaster tbody tr td table tbody tr td.space{ padding:0px 4em}#keyboardInputMaster tbody tr td table tbody tr td.deadkey{ background-color:#ccd}#keyboardInputMaster tbody tr td table tbody tr td.target{ background-color:#ddc}#keyboardInputMaster tbody tr td table tbody tr td:hover,#keyboardInputMaster tbody tr td table tbody tr td.hover{ border-top:1px solid #d5d5d5; border-right:1px solid #555; border-bottom:1px solid #555; border-left:1px solid #d5d5d5; background-color:#ccc}#keyboardInputMaster thead tr th span:active,#keyboardInputMaster thead tr th span.pressed,#keyboardInputMaster tbody tr td table tbody tr td:active,#keyboardInputMaster tbody tr td table tbody tr td.pressed{ border-top:1px solid #555 !important; border-right:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; border-left:1px solid #555; background-color:#ccc}#keyboardInputMaster tbody tr td table tbody tr td small{ display:block; text-align:center; font-size:0.6em !important; line-height:1.1em}#keyboardInputMaster tbody tr td div label{ position:absolute; bottom:0.2em; left:0.3em}#keyboardInputMaster tbody tr td div label input{ background-color:#f6f6f6; vertical-align:middle; font-size:inherit; width:1.1em; height:1.1em}#keyboardInputMaster tbody tr td div var{ position:absolute; bottom:0px; right:3px; font-weight:bold; font-style:italic; color:#444}.keyboardInputInitiator{ margin:0px 3px; vertical-align:middle; cursor:pointer}
.filesprite { display: inline-block; } 
.filesprite { background: url('../../../images/i/files_sprite.png') no-repeat top left; margin-bottom:5px; } 
.filesprite.images_icons { background-position: 0px 0px; width: 92px; height: 32px; position:relative; top:10px; } 
.filesprite.swf_icon { background-position: 0px -42px; width: 30px; height: 32px; position:relative; top:10px; } 
.filesprite.txt_icon { background-position: 0px -84px; width: 30px; height: 32px; position:relative; top:10px; } 
.filesprite.z_image_files { background-position: 0px -126px; width: 266px; height: 95px; }
.filesprite.z_file_swf { background-position: 0px -231px; width: 96px; height: 96px; } 
.filesprite.textimages_icons { background-position: 0px -337px; width: 123px; height: 32px; position:relative; top:10px; }
.filesprite.z_file_txt { background-position: 0px -379px; width: 96px; height: 96px; } 
.filesprite.sale { background-position: 0px -485px; width: 48px; height: 48px; position:relative; top:15px; left:15px; } 
.filesprite.sale_corner { background-position: 0px -543px; width: 63px; height: 63px; position:relative; top:-94px; right:-67px; } 